<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Validatorer - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-7de4fb.css"
            crossorigin
            integrity="sha384-lyOnQRgfU+BHOBx9amJFdwBS0Tt17DytDZql5s91IFXIy4ThYfjZ0oPCsETWTMVo"
            
        />
        <link
            rel="stylesheet"
            href="../../assets/docs-fkui-1f43d3.css"
            crossorigin
            integrity="sha384-Qn+kKK6XXmCAGt8bQq8FTAf80NhOX6YeqcWmxzHV0FQWeEQ/eGMcCPNizO8cVR3t"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-b9aefb.js"
            crossorigin
            integrity="sha384-F/7dWMNnyjtxV9ZLu4kMSJ74pLIaxPZbcRbfScnz4R6GvgvC5pM7UbjffD/AoRWL"
            
        ></script>

        <!-- prettier-ignore -->
        <link
    rel="preload"
    href="../../search-data-919af5.json"
    as="fetch"
    crossorigin
    integrity="sha384-Gqm+8IF5JxG7LD9U4T7l3IF4Ly+AhGePW1CTFW5M3El9Ppq9gJaLzpddi++T5vnB"
    id="search-data"
/>
<script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-b984a8.js"></script>
        <script src="../../assets/vendor-fkui-vue-selectors-cba73f.js"></script>
        <script src="../../assets/vendor-fkui-logic-9591ee.js"></script>
        <script src="../../assets/vendor-fkui-date-1a27ab.js"></script>
        <script src="../../assets/vendor-fkui-vue-2a96bd.js"></script>
        <script src="../../assets/vendor-fkui-vue-labs-4f4793.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-f2dba9.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/processors/search/search-d3c3d9.js"
            crossorigin
            integrity="sha384-+SXUY5zuBarb8Apt8q8+kFZ2fe4NSuUMNmuk9R4WeiK9XxFInziLHKmykACkUFV6"
            
        ></script>
        <script
            src="../../assets/processors/motd/index-cda4cc.js"
            crossorigin
            integrity="sha384-MiyHuq1hbcemP/RGZgotKZC8qlPOYjlrbQ/VNcrv6ju3y4SnFHj2CvLfATECOQdA"
            
        ></script>
        <script
            src="../../assets/processors/selectable-version/select-version-0341e6.js"
            crossorigin
            integrity="sha384-cyO3nlFKDStdkp8Wthu31X0HqHDGg+1bzI3e8XB5jXuDKP/kfnospn2MlnT6iLa0"
            
        ></script>
        <script
            src="../../assets/processors/cookie/cookie-ca9142.js"
            crossorigin
            integrity="sha384-QYu1B22kJoEySBmGgY/4+SG8KjzgSAPAm+oqZzy4hHFaG21xEJAzOTNnQDHdhEZY"
            
        ></script>
        <script
            src="../../assets/runtime-43dbca.js"
            crossorigin
            integrity="sha384-SQclN5vBeM6kHuydbkDCXMjNY7blK1DxK6nNWWCRjo4kou4Y//GaJAve5N2m6sk5"
            
        ></script>
        <script
            src="../../assets/main-2a697b.js"
            crossorigin
            integrity="sha384-VcXXCVWs406KSWK5pJAjyOVdBpbqnlT4dn4xLifE5VtvbvG+b095DRbl/s6bYa7h"
            
        ></script> 
        <div id="example-671dd5"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./PhoneNumberExample-671dd5.js"></script>
    
    </body>
</html>
