@use "../../core/size";

$navbar-item-border-bottom-width: 2px !default;

.navbar__nav {
    color: var(--f-text-color-navbar);
    background-color: var(--f-background-navbar);
    display: flex;
    align-items: center;

    &-item {
        height: inherit;
        padding: 0 size.$padding-200 size.$padding-025;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--f-background-navbar-hover);
            border-bottom: $navbar-item-border-bottom-width solid var(--f-border-color-navbar-hover);
            color: var(--f-text-color-navbar-active);
        }

        &--active {
            border-bottom: $navbar-item-border-bottom-width solid var(--f-border-color-navbar-active);
            color: var(--f-text-color-navbar-active);
            font-weight: bold;
        }
    }
}
