@use "../../core/size";
@use "../../core/config-variables" as config;
@use "../../core/mixins/breakpoints" as bp;

@import "navbar-header";
@import "navbar-nav";

$NAVBAR_SELECTOR: ".navbar" !default;

#{$NAVBAR_SELECTOR} {
    &--primary {
        .navbar__header {
            color: var(--f-text-color-default-inverted);
            background-color: var(--f-background-pageheader-primary);
        }

        .navbar__header-app-name {
            color: var(--f-text-color-default-inverted);
        }

        .navbar__header-logo {
            background-image: url("#{config.$asset-path-images}/fk-logo-default.svg");

            @include bp.breakpoint-down(lg) {
                background-image: url("#{config.$asset-path-images}/fk-logo-small.svg");
                flex-grow: 0.03;
                min-width: size.$padding-175;
            }
        }

        .navbar__header-logo--small {
            background-image: url("#{config.$asset-path-images}/fk-logo-small.svg");
        }

        .navbar__header-start::before {
            background-color: var(--f-border-color-separator-pageheader-primary);
        }

        .navbar__header--separator {
            border-color: var(--f-border-color-separator-pageheader-primary);
        }
    }

    &--secondary {
        .navbar__header {
            background-color: var(--f-background-pageheader-secondary);
        }

        .navbar__header-logo {
            background-image: url("#{config.$asset-path-images}/fk-logo-primary.svg");

            @include bp.breakpoint-down(lg) {
                background-image: url("#{config.$asset-path-images}/fk-logo-small.svg");
                flex-grow: 0.03;
                min-width: size.$padding-175;
            }
        }

        .navbar__header-logo--small {
            background-image: url("#{config.$asset-path-images}/fk-logo-small.svg");
        }

        .navbar__header-start::before {
            background-color: var(--f-border-color-separator-pageheader-secondary);
        }

        .navbar__header--separator {
            border-color: var(--f-border-color-separator-pageheader-secondary);
        }
    }
}
