@use "../../core/size";
@use "../../core/config-variables" as config;
@use "../../core/mixins/breakpoints" as bp;

$navbar-header-separator-width: 2px !default;

.navbar__header {
    color: var(--f-text-color-pageheader);
    background-color: var(--f-background-pageheader-standard);
    padding: size.$padding-025;
    height: calc(4 * size.$padding-125);
    display: flex;

    &-logo,
    &-logo--small {
        min-width: size.$padding-125;
        justify-content: flex-start;
        margin: size.$margin-075 size.$margin-175;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &-logo {
        background-image: url("#{config.$asset-path-images}/fk-logo-primary.svg");
        flex-grow: 0.3;

        @include bp.breakpoint-down(lg) {
            background-image: url("#{config.$asset-path-images}/fk-logo-small.svg");
            flex-grow: 0.03;
            min-width: size.$padding-175;
        }

        &--small {
            background-image: url("#{config.$asset-path-images}/fk-logo-small.svg");
            flex-grow: 0.03;
        }
    }

    &-logo,
    &-start,
    &-end {
        display: flex;
        align-items: center;
    }

    &-start {
        justify-content: flex-start;
        flex-grow: 0;

        &::before {
            content: " ";
            background-color: var(--f-border-color-separator-pageheader-standard);
            position: relative;
            height: 80%;
            width: $navbar-header-separator-width;
        }
    }

    &-end {
        justify-content: flex-end;
        flex-grow: 1;
    }

    &-item {
        padding: size.$padding-075 size.$padding-175;
    }

    &-app-name {
        margin: 0;
        font-size: var(--f-font-size-h4);
    }

    &--separator {
        border-bottom: $navbar-header-separator-width solid var(--f-border-color-separator-pageheader-standard);
    }
}
