<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tabell - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-77b851.css"
            crossorigin
            integrity="sha384-KlI1IZmyOlmaCcwSB+FVnySK3NLsqXvGgK5XB6+HaqiNqKYVI2LBZLBudWsZ+I1X"
            
        />
        <link
            rel="stylesheet"
            href="../../assets/docs-fkui-8db6e2.css"
            crossorigin
            integrity="sha384-vTovVyxgoau0TAxhQAbJ1x358WM8H9eQ1adHNjWcVKRfURbcLqXz0RYjgXEK36CD"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-c5a790.js"></script>
        <script src="../../assets/vendor-fkui-logic-b28e36.js"></script>
        <script src="../../assets/vendor-fkui-date-808bee.js"></script>
        <script src="../../assets/vendor-fkui-vue-6c57c3.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-1e0efc.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/processors/motd/index-cda4cc.js"
            crossorigin
            integrity="sha384-MiyHuq1hbcemP/RGZgotKZC8qlPOYjlrbQ/VNcrv6ju3y4SnFHj2CvLfATECOQdA"
            
        ></script>
        <script
            src="../../assets/processors/selectable-version/select-version-390b40.js"
            crossorigin
            integrity="sha384-ECE245jGAxbOVeD8dKCW23dMFdXL5CWxzajPqD6a8j+ab7zJ8xFR6602MfoYaGv3"
            
        ></script>
        <script
            src="../../assets/main-f8637e.js"
            crossorigin
            integrity="sha384-jzo/moGACvKxkccaNdVeDo4wKxEZb03EvtzuHt5dC8OWbc+DOsirYwhdTHC/7krD"
            
        ></script> 
        <div id="example-a4a186"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FInteractiveTableInputExample-a4a186.js"></script>
    
    </body>
</html>
