@use "../../core";
@use "../../core/size";
@use "../../core/utils/functions" as *;
@use "variables" as *;

$TEXT_FIELD_SELECTOR: ".text-field" !default;

#{$TEXT_FIELD_SELECTOR} {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 densify(var(--f-margin-component-bottom));
    position: relative;
    width: var(--f-width-full);

    &--inline {
        @include core.label-inline;
    }

    &--table {
        margin-bottom: 0;
    }

    // remove clear X in IE11, Edge
    input[type="text"]::-ms-clear {
        display: none;
    }

    &__error-popup-icon {
        color: var(--f-text-color-error);
        height: 16px;
    }

    &__input-wrapper {
        display: flex;
        gap: densify(size.$padding-050);
    }

    &__input {
        background-color: $textfield-color-background-default;
        box-shadow: var(--f-input-shadow-inset);
        border-radius: var(--f-border-radius-medium);
        border: var(--f-border-width-medium) solid $textfield-color-border-default;
        min-height: densify(var(--f-height-large));
        padding: 0 0.75rem;
        width: var(--f-width-full);
    }

    &__icon-wrapper {
        flex: 1 1 auto;
        position: relative;

        &:has(.text-field__append-inner) {
            .text-field__input {
                padding: var(--padding-input-fields);
            }
        }
    }

    &__append-inner {
        display: inline;
        position: absolute;
        right: densify(size.$margin-075);
        top: densify(size.$margin-050);
        height: var(--f-icon-size-large);
        width: var(--f-icon-size-large);
        overflow: hidden;
        text-align: center;
    }

    &__icon {
        height: var(--f-icon-size-large);
        transition: opacity var(--f-animation-duration-medium) ease-in-out;
        width: var(--f-icon-size-large);

        &--left {
            position: relative;
            top: 3px;
        }
    }

    &__input:disabled + &__icon {
        color: $textfield-icon-close-color-content-disabled;
    }

    &__input:disabled {
        border-color: $textfield-color-border-disabled;
        color: $textfield-color-text-disabled;
        background-color: $textfield-color-background-disabled;
    }

    &--error {
        #{$TEXT_FIELD_SELECTOR}__input {
            border-color: $textfield-color-border-error;
        }
    }

    &--search + #{$TEXT_FIELD_SELECTOR}__append-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: densify(0.25rem);
        min-height: densify(var(--f-height-large));
        width: 2.5rem;
    }

    .clear-button {
        background: none;
        border: 0;
        cursor: pointer;

        &__icon {
            color: $textfield-icon-close-color-content-default;
            height: var(--f-icon-size-x-small);
            width: var(--f-icon-size-x-small);
        }
    }

    // Hide the web browsers standard clear-button when input is of type search
    /* stylelint-disable property-no-vendor-prefix */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
}
