// BACKGROUND
$textfield-color-background-default: var(--fkds-color-background-primary);
$textfield-color-background-disabled: var(--fkds-color-background-disabled);

// BORDER
$textfield-color-border-default: var(--fkds-color-border-primary);
$textfield-color-border-disabled: var(--fkds-color-border-primary);
$textfield-color-border-error: var(--fkds-color-feedback-border-negative);

// ICON
$textfield-icon-close-color-content-default: var(--fkds-icon-color-action-content-weak-default);
$textfield-icon-close-color-content-disabled: var(--fkds-icon-color-content-disabled);

// TEXT
$textfield-color-text-disabled: var(--fkds-color-text-disabled);
