@forward "anchor/variables";
@forward "badge/variables";
@forward "button/variables";
@forward "calendar-day/variables";
@forward "card/variables";
@forward "checkbox/variables";
@forward "chip/variables";
@forward "close-button/variables";
@forward "combobox/variables";
@forward "contextmenu/variables";
@forward "crud-dataset/variables";
@forward "datepicker-field/variables";
@forward "dialogue-tree/variables";
@forward "entrypoint/variables";
@forward "error-list/variables";
@forward "expandable-panel/variables";
@forward "expandable-paragraph/variables";
@forward "fieldset/variables";
@forward "file-item/variables";
@forward "file-selector/variables";
@forward "file-uploader/variables";
@forward "group/variables";
@forward "icon/variables";
@forward "indent/variables";
@forward "label/variables";
@forward "layout-application-template/variables";
@forward "layout-navigation/variables";
@forward "layout-secondary/variables";
@forward "list/variables";
@forward "loader/variables";
@forward "logo/variables";
@forward "message-box/variables";
@forward "modal/variables";
@forward "navigation-menu/variables";
@forward "offline/variables";
@forward "output-field/variables";
@forward "page-header/variables";
@forward "progressbar/variables";
@forward "radio-button/variables";
@forward "select-field/variables";
@forward "sort-filter-dataset/variables";
@forward "static-panel/variables";
@forward "table/variables";
@forward "table-ng/variables";
@forward "text-field/variables";
@forward "textarea-field/variables";
@forward "tooltip/variables";
@forward "wizard/variables";

@use "anchor";
@use "badge";
@use "button";
@use "calendar-day";
@use "card";
@use "checkbox";
@use "chip";
@use "close-button";
@use "combobox";
@use "contextmenu";
@use "crud-dataset";
@use "datepicker-field";
@use "dialogue-tree";
@use "entrypoint";
@use "error-list";
@use "expandable-panel";
@use "expandable-paragraph";
@use "fieldset";
@use "file-item";
@use "file-selector";
@use "file-uploader";
@use "group";
@use "icon";
@use "indent";
@use "label";
@use "layout-application-template";
@use "layout-navigation";
@use "layout-secondary";
@use "list";
@use "loader";
@use "logo";
@use "message-box";
@use "modal";
@use "navigation-menu";
@use "offline";
@use "output-field";
@use "page-header";
@use "progressbar";
@use "radio-button";
@use "select-field";
@use "sort-filter-dataset";
@use "static-panel";
@use "table";
@use "table-ng";
@use "text-field";
@use "textarea-field";
@use "tooltip";
@use "wizard";
