<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-849f01.css"
            crossorigin
            integrity="sha384-eGXUdm6FESCDM5BL/S1DUGoEcmYf+qwUcqCVc2z3+wlaEYg7HOI4CE+SqeKiNHq7"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-d3a31e.css"
            crossorigin
            integrity="sha384-rTkf6XXnwuvX0qtnYXqszJ3Cvx46yPxlbCCPb4zxKB4l0Wd+9wO4mKSg/QEsDib3"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-0df2b2.js"
            crossorigin
            integrity="sha384-/CsPb6xxx2R6SuFD6YW8AvT0hMxEGGkO4Mh6yG04C8ck+/qIKXqKA3EALt2ADT17"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-6c2e41.js"></script>
        <script src="../assets/vendor-fkui-logic-c06ed0.js"></script>
        <script src="../assets/vendor-fkui-date-d11adb.js"></script>
        <script src="../assets/vendor-fkui-vue-e70dcc.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-f09e5c.js"
            crossorigin
            integrity="sha384-b+8QkESVnxrApPJDtsL5rbxlILTetEE2W9rGajyJgJpiIVivx7gmbIag/MFFJ7fy"
            
        ></script> 
        <div id="example-cc479c"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./ForgivingInput-cc479c.js"></script>
    
    </body>
</html>
