@use "../../core/size";
@use "../../core";
@use "../../core/utils/functions" as *;
@use "variables" as *;

$TEXTAREA_FIELD_SELECTOR: ".textarea-field" !default;

#{$TEXTAREA_FIELD_SELECTOR} {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: var(--f-line-height-large);
    margin: 0 0 densify(var(--f-margin-component-bottom));
    position: relative;
    width: var(--f-width-full);

    &--inline {
        @include core.label-inline;
    }

    &__textarea {
        background-color: $textareafield-color-background-default;
        box-shadow: var(--f-input-shadow-inset);
        border-radius: var(--f-border-radius-medium);
        border: var(--f-border-width-medium) solid $textareafield-color-border-default;
        box-sizing: border-box;
        font-size: var(--f-font-size-standard);
        min-height: densify(var(--f-height-large));
        padding: densify(size.$padding-050) size.$padding-075;
        width: var(--f-width-full);
    }

    &__textarea[rows] {
        height: auto;
    }

    &__textarea:disabled {
        border-color: $textareafield-color-border-disabled;
        color: $textareafield-color-text-disabled;
        background-color: $textareafield-color-background-disabled;
    }

    &--error {
        #{$TEXTAREA_FIELD_SELECTOR}__textarea {
            border-color: $textareafield-color-border-error;
        }
    }

    &__resize--none {
        resize: none;
    }

    &__resize--vertical {
        resize: vertical;
    }
}
