// BACKGROUND
$textareafield-color-background-default: var(--fkds-color-background-primary);
$textareafield-color-background-disabled: var(--fkds-color-background-disabled);

// BORDER
$textareafield-color-border-default: var(--fkds-color-border-primary);
$textareafield-color-border-disabled: var(--fkds-color-border-primary);
$textareafield-color-border-error: var(--fkds-color-feedback-border-negative);

// TEXT
$textareafield-color-text-disabled: var(--fkds-color-text-disabled);
