$month-weekday-color-text: var(--fkds-color-text-secondary);
$month-weeknumber-color-text: var(--fkds-color-text-secondary);
$month-day-color-background-default: var(--fkds-color-background-secondary);
