$month-weekday-color-text: var(--fkds-color-text-secondary) !default;
$month-weeknumber-color-text: var(--fkds-color-text-secondary) !default;
$month-day-color-background-default: var(--fkds-color-background-secondary) !default;
