.combobox__listbox {
    background-color: var(--f-background-popupmenu);
    margin: 0;
    border: 1px solid var(--f-border-color-popupmenu);
    padding: 0;
    display: block;
    min-width: 15rem;

    &__option {
        cursor: pointer;
        list-style-type: none;
        white-space: nowrap;
        color: var(--f-text-color-popupmenu);
        padding: 0.75rem;
        display: block;

        &:hover {
            background-color: var(--f-background-popupmenu-vertical-hover);
            color: var(--f-text-color-popupmenu-hover);
        }

        &--highlight {
            background-color: var(--f-background-popupmenu-vertical-highlight);
            font-weight: var(--f-font-weight-medium);
        }
    }
}
