@use "variables" as *;
@use "../listbox/listbox";

.popup .popup__wrapper.combobox__listbox {
    @include listbox.surface;
}

.combobox__listbox__list {
    @include listbox.list;
}

.combobox__listbox__option {
    @include listbox.option;

    // .is-hover only for screenshot selector
    &.is-hover,
    &:hover:not(&--highlight) {
        @include listbox.option-hover;
    }

    &--highlight {
        @include listbox.option-selected;
    }
}

.combobox__button {
    background: inherit;
    border: none;
    color: $combobox-f-icon-arrow-down-color-content-default;
    cursor: pointer;
    margin: 0;
    padding: 0;

    &:disabled {
        color: $combobox-f-icon-arrow-down-color-content-disabled;
        cursor: default;
    }
}
