$combobox-color-background-hover: var(--fkds-color-select-background-primary-hover);
$combobox-color-background-selected: var(--fkds-color-select-background-primary-default);
$combobox-color-background: var(--fkds-color-background-primary);
$combobox-color-text-hover: var(--fkds-color-text-primary);
$combobox-color-text-selected: var(--fkds-color-text-inverted);
$combobox-color-text: var(--fkds-color-text-primary);
$combobox-color-border: var(--fkds-color-border-primary);
$combobox-f-icon-arrow-down-color-content-default: var(--fkds-icon-color-action-content-primary-default);
$combobox-f-icon-arrow-down-color-content-disabled: var(--fkds-icon-color-action-content-primary-disabled);
