@use "../../core/size";
@use "variables" as *;

.definition-list {
    margin: 0;
    color: $definitionlist-text-color-default;

    &__term {
        float: left;
        clear: left;
        margin-right: size.$margin-025;
        font-weight: var(--f-font-weight-medium);
    }

    &__term::after {
        content: ":";
    }

    &__definition {
        margin-left: 0;
        margin-bottom: 0.25rem;
    }
}
