$listbox-option-color-background-hover: var(--fkds-color-select-background-primary-hover) !default;
$listbox-option-color-background-selected: var(--fkds-color-select-background-primary-default) !default;
$listbox-color-background: var(--fkds-color-background-primary) !default;
$listbox-option-color-text-hover: var(--fkds-color-text-primary) !default;
$listbox-option-color-text-selected: var(--fkds-color-text-inverted) !default;
$listbox-option-color-text: var(--fkds-color-text-primary) !default;
$listbox-color-border: var(--fkds-color-border-primary) !default;
