$pageheader-color-text: var(--fkds-color-header-text-primary) !default;
$pageheader-appname-color-text: var(--fkds-color-header-text-primary) !default;
$pageheader-color-separator-inverted: var(--fkds-color-header-text-primary) !default;
$pageheader-color-background: var(--fkds-color-header-background-primary) !default;
