$pageheader-color-text-inverted: var(--fkds-color-text-inverted) !default;
$pageheader-appname-color-text-inverted: var(--fkds-color-text-inverted) !default;
$pageheader-color-separator-inverted: var(--fkds-color-border-inverted) !default;
$pageheader-color-background: var(--fkds-color-header-background-primary) !default;
