@use "../../core/mixins/circle";
@use "variables" as *;

$CALENDAR_DAY_SELECTOR: ".calendar-day" !default;
$calendar-highlight-border: var(--f-border-width-small) solid $calendarday-highlight-color-border-default;

#{$CALENDAR_DAY_SELECTOR} {
    align-items: center;
    display: inline-flex;
    font-weight: var(--f-font-weight-medium);
    justify-content: center;
    height: 2.75rem;
    width: 100%;

    // Highlight = mark today's date
    &--highlight {
        position: relative;

        &::before {
            @include circle.circle($border: $calendar-highlight-border, $size: 2rem);

            content: "";
            position: absolute;
            border: var(--f-border-width-small) solid $calendarday-highlight-color-border-default;
        }

        &.calendar-day--selected {
            &::before {
                border: var(--f-border-width-medium) solid $calendarday-highlight-color-border-selected;
            }
        }

        &:active:not(&--disabled) {
            &::before {
                border: var(--f-border-width-medium) solid $calendarday-highlight-color-border-selected;
            }
        }

        &.calendar-day--disabled {
            position: relative;

            &::before {
                @include circle.circle($border: $calendar-highlight-border, $size: 2rem);

                content: "";
                position: absolute;
                border: var(--f-border-width-small) solid $calendarday-highlight-color-border-default;
            }

            &::after {
                content: "";
                z-index: 1;
                position: absolute;
                border-top: var(--f-border-width-medium) solid;
                width: 60%;
            }
        }
    }

    &--selected {
        color: $calendarday-color-text-selected;
        background-color: $calendarday-color-background-selected;
    }

    &--disabled {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border-top: var(--f-border-width-medium) solid;
            width: 60%;
        }
    }

    &:hover:not(&--disabled, &--selected),
    &--hover:not(&--disabled, &--selected) {
        background-color: $calendarday-color-background-hover;
    }

    &:active:not(&--disabled),
    &--active:not(&--disabled) {
        color: $calendarday-color-text-selected;
        background-color: $calendarday-color-background-selected;
    }
}
