# Default reviewers
* @ext @dvitamin @NicklasWei @MCFK

# Code changes
packages/ @ext @dvitamin @NicklasWei @MCFK @OlofFredriksson @TMFKse @mitra-Re @KrQnan66140124 @jameseklund

# Documentation changes
docs/ @ext @dvitamin @NicklasWei @MCFK @Marie-Jakobsson @kristinalindstrom @mitra-Re @KrQnan66140124

# Dependency updates
package.json @ext @dvitamin @MCFK @NicklasWei
package-lock.json @ext @dvitamin @MCFK @NicklasWei
internal/*/package.json @dvitamin @ext @MCFK @NicklasWei
packages/*/package.json @dvitamin @ext @MCFK @NicklasWei
