@use "@fkui/font-default" as font with (
    $global: false,
    $asset-path: "./assets/fonts"
);

@use "@fkui/design/src/core/config-variables" with (
    $asset-path-images: "./images"
);

$fk-logo-small-url: "#{config-variables.$asset-path-images}/fk-logo-primary-small.svg";
$fk-logo-large-url: "#{config-variables.$asset-path-images}/fk-logo-primary-large.svg";

@include font.font-face;

.code-preview__preview,
.live-example__example,
.user-theme {
    @include font.font-family;

    $solid-color: linear-gradient(var(--f-background-pageheader-primary), var(--f-background-pageheader-primary));

    --f-logo-image-small: url("#{$fk-logo-small-url}"), $solid-color;
    --f-logo-image-large: url("#{$fk-logo-large-url}"), $solid-color;

    font-family: var(--f-font-family);
}
