@use "@fkui/theme-default/src/fkui-css-variables" as fkui with (
    $global: false
);
@use "@fkui/design/src/core/config-variables" with (
    $asset-path: "./assets",
    $asset-path-images: "./images"
);

$fk-logo-small: "fk-logo-primary-small.svg";
$fk-logo-large: "fk-logo-primary-large.svg";

html {
    font-size: 16px;
}

.code-preview__preview,
.live-example__example {
    @include fkui.css-variables();
    --f-logo-image-small:
        url("#{config-variables.$asset-path-images}/#{$fk-logo-small}"),
        linear-gradient(var(--f-background-pageheader-primary), var(--f-background-pageheader-primary));

    --f-logo-image-large:
        url("#{config-variables.$asset-path-images}/#{$fk-logo-large}"),
        linear-gradient(var(--f-background-pageheader-primary), var(--f-background-pageheader-primary));
}
