$tooltip-color-background: var(--fkds-color-feedback-background-info) !default;
$tooltip-color-border: var(--fkds-color-feedback-border-info) !default;
$tooltip-color-text: var(--fkds-color-text-primary) !default;
