:root {
  --f-backdrop-modal: rgba(0, 0, 0, 0.75);
  --f-color-backdrop: rgba(0, 0, 0, 0.75);
  --f-shadow-large: 0 0 20px rgba(0, 0, 0, 0.3);
  --f-color-white: #ffffff;
  --f-color-black: #1b1e23;
  --f-color-brand-a-medium: #297951;
  --f-color-brand-a-strong: #116a3e;
  --f-color-brand-b-medium: #5f9e6c;
  --f-color-brand-b-strong: #0f660f;
  --f-color-brand-c-light: #d3e7d5;
  --f-color-brand-c-medium: #a6d0ab;
  --f-color-info-light: #ededfc;
  --f-color-info-midlight: #e3e4fb;
  --f-color-info-medium: #d9dcfa;
  --f-color-info-midstrong: #4a52b6;
  --f-color-info-strong: #3942c2;
  --f-color-primary-light: #f5f6fa;
  --f-color-primary-midlight: #e5e5f5;
  --f-color-primary-midstrong: #4a52b6;
  --f-color-primary-strong: #434aa4;
  --f-color-secondary-light: #ffffff;
  --f-color-secondary-midlight: #edeef8;
  --f-color-secondary-medium: #edeef8;
  --f-color-secondary-strong: #4a52b6;
  --f-color-standard-medium: #ededfc;
  --f-color-standard-strong: #d9dcfa;
  --f-color-passive-light: #f2f2f2;
  --f-color-passive-midlight: #e5e5e5;
  --f-color-passive-medium: #d9d9d9;
  --f-color-passive-midstrong: #999999;
  --f-color-passive-strong: #8c8c8c;
  --f-color-success-light: #f3faf3;
  --f-color-success-medium: #179c17;
  --f-color-warning-light: #fff8e7;
  --f-color-warning-medium: #ffbe10;
  --f-color-warning-strong: #a67b0a;
  --f-color-error-light: #fdeaea;
  --f-color-error-medium: #ca1515;
  --f-color-notice-light: #fef3e7;
  --f-color-notice-medium: #f38c10;
  --f-color-notice-strong: #d34503;
  --f-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.3);
  --f-shadow-medium: 0 0 20px rgba(0, 0, 0, 0.3);
  --f-shadow-inset: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  --f-font-color-primary: #1b1e23;
  --f-font-color-secondary: #434ee4;
  --f-font-color-passive: #5f6165;
  --f-font-size-default: 16px;
  --f-font-size-default-large-up: 16px;
  --f-font-height-small: 1.25;
  --f-font-height-medium: 1.4;
  --f-font-height-strong: 1.5;
  --f-font-size-xxxxx-large: 2.5rem;
  --f-font-size-xxxx-large: 1.75rem;
  --f-font-size-xx-large: 1.375rem;
  --f-font-size-x-large: 1.25rem;
  --f-font-size-medium: 1rem;
  --f-size-small: 0.75rem;
  --f-size-medium: 1rem;
  --f-size-large: 1.25rem;
  --f-space-xx-small: 0.25rem;
  --f-space-x-small: 0.5rem;
  --f-space-small: 0.75rem;
  --f-space-medium: 1rem;
  --f-space-large: 1.25rem;
  --f-space-x-large: 1.5rem;
  --f-space-xx-large: 1.75rem;
  --f-space-xxx-large: 2rem;
  --f-margin-top: 0.25rem;
  --f-margin-bottom: 1.5rem;
  --f-margin: 0 0 1.5rem;
  --f-padding: 0 2.25em 0 0.75em;
  --f-color-interactive-focus: #1b1e23;
  --f-animation-wrapper: 4em;
  --f-animation-margin: 0 auto 3em auto;
  --f-hover-filter: brightness(115%);
  --f-background-button-primary-disabled: #f4f4f4;
  --f-margin-component: 0 0 1.5rem;
  --f-button-default-padding: 1rem 1.5rem;
  --f-button-primary-padding: 1rem 1.5rem;
  --f-button-secondary-padding: 1rem 1.5rem;
  --f-button-standard-padding: 1rem 1.5rem;
  --f-button-tertiary-padding: 0.75rem 0.5rem;
  --f-button-discrete-padding: initial;
  --f-button-discrete-black-padding: initial;
  --f-button-discrete-table-column-action-padding: 0.571rem;
  --f-tooltip-close-button-padding: initial;
  --f-background-badge-default: #ddddde;
  --f-background-badge-default-inverted: #f4f4f4;
  --f-border-color-badge-default: #8d8e91;
  --f-background-badge-warning: #ffbe10;
  --f-background-badge-warning-inverted: #fffcf3;
  --f-border-color-badge-warning: #ffbe10;
  --f-background-badge-error: #ca1515;
  --f-background-badge-error-inverted: #fcf3f3;
  --f-border-color-badge-error: #ca1515;
  --f-background-badge-success: #35805b;
  --f-background-badge-success-inverted: #f3f8f5;
  --f-border-color-badge-success: #35805b;
  --f-background-badge-info: #4a52b6;
  --f-background-badge-info-inverted: #f5f6fa;
  --f-border-color-badge-info: #4a52b6;
  --f-text-color-chip: #1b1e23;
  --f-text-color-chip-active: #ffffff;
  --f-text-color-chip-hover: #1b1e23;
  --f-background-chip: #ffffff;
  --f-background-chip-active: #35805b;
  --f-background-chip-hover: #f3f8f5;
  --f-border-color-chip-active: #35805b;
  --f-border-color-chip-hover: #35805b;
  --f-background-input-disabled: #f4f4f4;
  --f-background-input-hover: #e5e5f5;
  --f-border-color-input-disabled: #8d8e91;
  --f-text-color-button-disabled: #8d8e91;
  --f-text-color-button-primary: #ffffff;
  --f-text-color-button-tertiary-disabled: #8d8e91;
  --f-text-color-button-tertiary-inverted-hover: #f4f4f4;
  --f-background-button-standard: #f5f6fa;
  --f-background-button-standard-hover: #e5e5f5;
  --f-background-button-primary-hover: #3b4292;
  --f-background-button-secondary: #f5f6fa;
  --f-background-button-secondary-hover: #e5e5f5;
  --f-background-button-disabled: #f4f4f4;
  --f-border-color-button-disabled: #8d8e91;
  --f-border-color-button-standard: #4a52b6;
  --f-background-button-primary: #4a52b6;
  --f-border-color-button-secondary: #4a52b6;
  --f-text-color-button-secondary: #4a52b6;
  --f-text-color-button-tertiary: #4a52b6;
  --f-text-color-button-tertiary-hover: #4a52b6;
  --f-background-button-tertiary-hover: #e5e5f5;
  --f-text-color-button-tertiary-inverted: #ffffff;
  --f-text-color-button-tertiary-inverted-disabled: #8d8e91;
}
