// PRIMARY
$button-primary-color-background-default: var(--fkds-color-action-background-primary-default) !default;
$button-primary-color-background-hover: var(--fkds-color-action-background-primary-hover) !default;
$button-primary-color-text-default: var(--fkds-color-action-text-inverted-default) !default;

// SECONDARY
$button-secondary-color-background-default: var(--fkds-color-action-background-secondary-default) !default;
$button-secondary-color-border-default: var(--fkds-color-action-border-primary-default) !default;
$button-secondary-color-text-default: var(--fkds-color-action-text-primary-default) !default;
$button-secondary-color-background-hover: var(--fkds-color-action-background-secondary-hover) !default;

// TERTIARY
$button-tertiary-color-text-default: var(--fkds-color-action-text-primary-default) !default;
$button-tertiary-color-background-default: transparent !default;
$button-tertiary-color-background-disabled: transparent !default;
$button-tertiary-color-border-disabled: transparent !default;
$button-tertiary-color-text-disabled: var(--fkds-color-text-disabled) !default;
$button-tertiary-color-background-hover: var(--fkds-color-action-background-secondary-hover) !default;
$button-tertiary-color-text-hover: var(--fkds-color-action-text-primary-default) !default;

// TERTIARY - black
$button-tertiary-black-color-text-default: var(--fkds-color-action-text-secondary-default) !default;
$button-tertiary-black-color-text-focus: var(--fkds-color-action-text-secondary-default) !default;

// TERTIARY - inverted
$button-tertiary-inverted-color-text-default: var(--fkds-color-action-text-inverted-default) !default;
$button-tertiary-inverted-color-text-focus: var(--fkds-color-action-text-inverted-focus) !default;
$button-tertiary-inverted-color-background-focus: transparent !default;
$button-tertiary-inverted-color-background-disabled: transparent !default;
$button-tertiary-inverted-color-text-disabled: var(--fkds-color-text-disabled) !default;

// Inflight animation
$button-spinner-animation-duration: 1250ms !default;
$button-spinner-animation-delay: 300ms !default;

// Discrete
$button-discrete-color-text-hover: var(--fkds-color-action-text-primary-hover) !default;

// Discrete-inverted
$button-discrete-inverted-color-text-hover: var(--fkds-color-action-text-inverted-hover) !default;
