@use "../../core";
@use "../../core/config-variables";
@use "../../core/size";

.fieldset {
    border: 0;
    min-width: 0;
    padding: 0;
    width: var(--f-width-full);
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    &__label {
        // make this selector more specific than .label
        &.label {
            padding: 0;
            margin-bottom: core.densify(size.$margin-075);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        --f-margin-component-bottom: 0;
    }
}
