<!doctype html>
<html lang="sv" class="layout--example">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Sidhuvud - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-32dc88.css"
            crossorigin
            integrity="sha384-OaelHMAqDATj7WHzw4bO0pz7aViKPXQb8pI5yNruptu2fEYtiP3vYnkdka4qVKuj"
            
        />
        <link
            rel="stylesheet"
            href="../../assets/docs-exp-3cb848.css"
            crossorigin
            integrity="sha384-RIFdezZEyghKBnWGnU8GalsCL/pyORCRQSD/JH9H2VJRldNydpMFVdrliikCHoE5"
            data-theme="exp" disabled
        />
        <link
            rel="stylesheet"
            href="../../assets/docs-int-b89a7a.css"
            crossorigin
            integrity="sha384-GsPRhr7ciVP6tZLZNtu7XqSTyiRF9MKoN27IgzNFOlySwiHbE70mXb4Axk1KsG52"
            data-theme="int" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-956ec3.js"
            crossorigin
            integrity="sha384-xxAJqJoQn4hXyrxMhtQL+Vf9cvR79mtI9cjQwcm4awdJR3rcJZo1/+24cjUnFmfe"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    function themeRenderBlocker() {
        const theme = window.localStorage.getItem("fkds-theme") ?? "exp";
        const style = Array.from(document.querySelectorAll("[data-theme]"));
        for (const el of style) {
            el.disabled = el.dataset.theme !== theme;
        }
    }

    themeRenderBlocker();
</script>
<script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-a2f4e5.js"></script>
        <script src="../../assets/vendor-fkui-logic-1193bc.js"></script>
        <script src="../../assets/vendor-fkui-date-9b7c35.js"></script>
        <script src="../../assets/vendor-fkui-vue-1f14b8.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-131375.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/processors/motd/index-8c87e1.js"
            crossorigin
            integrity="sha384-VgbNs0pGkTPNii6sZDsQfyDa2hDTsNJePPW42/GgMW4jj8RspvO2p7e7j22mfz/b"
            
        ></script>
        <script
            src="../../assets/processors/selectable-version/select-version-b4d866.js"
            crossorigin
            integrity="sha384-ZQB+GeqGW+EWCKdF/MrQpDANQVh51J0Rq+wVgCvfXShx5oiRf/HdfIYIGhNrRxoO"
            
        ></script>
        <script
            src="../../assets/main-b02b4d.js"
            crossorigin
            integrity="sha384-A5sr5ktY14RHGV0JhiZJN4677kLSQSNbxjrFP/HH9HUami0dLhJRHZWVN6JKpEVt"
            
        ></script>

        <main>
        <div id="FPageHeaderDefault"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./FPageHeaderDefault-9b834b.js"></script>
    </main>
    </body>
</html>
