@use "../../core/size";
@use "../../core/mixins/breakpoints";
@use "../../core/config-variables";
@use "variables" as *;

.ipopupmenu {
    background-color: $popupmenu-color-background;

    &__list {
        margin: 0;
        border: var(--f-border-width-small) solid $popupmenu-color-border;
        padding: size.$padding-050;

        &__item {
            cursor: pointer;
            list-style-type: none;
            white-space: nowrap;

            a,
            a:visited,
            a:active {
                color: $popupmenu-color-text-active;
            }

            a:hover {
                color: $popupmenu-color-text-hover;
            }
        }
    }
}

.ipopupmenu--vertical {
    .ipopupmenu__list {
        display: block;

        &__item {
            padding: size.$padding-075;
            display: block;

            &:hover:not(.ipopupmenu__list__item--highlight) {
                background-color: $popupmenu-color-background-hover;
            }

            &--highlight {
                background-color: $popupmenu-color-background-selected;
                font-weight: var(--f-font-weight-medium);

                & a {
                    color: $popupmenu-color-text-selected;
                }
            }
        }
    }
}
