$popupmenu-color-background: var(--fkds-color-background-primary) !default;
$popupmenu-color-border: var(--fkds-color-border-primary) !default;
$popupmenu-color-text-hover: var(--fkds-color-text-primary) !default;
$popupmenu-color-text-active: var(--fkds-color-text-primary) !default;
$popupmenu-color-text-selected: var(--fkds-color-text-inverted) !default;
$popupmenu-color-background-hover: var(--fkds-color-navigation-background-hover) !default;
$popupmenu-color-background-selected: var(--fkds-color-navigation-background-selected) !default;
