<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Datatabell och interaktiv tabell - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-f82b87.css"
            crossorigin
            integrity="sha384-gFDL2e5O3BjyFTjI0hhEtzyNNPXorT5PZs9wBtWh4u132sR/8LQMfMTAE0RMQOfx"
            
        />
        <link
            rel="stylesheet"
            href="../../assets/docs-fkui-6635d1.css"
            crossorigin
            integrity="sha384-KWkxS3V5XQ9E737B//7WZXzpnJjX7KL/sV20lete1vqa6lKW+qW86R7sVQ8jniDB"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-b9aefb.js"
            crossorigin
            integrity="sha384-F/7dWMNnyjtxV9ZLu4kMSJ74pLIaxPZbcRbfScnz4R6GvgvC5pM7UbjffD/AoRWL"
            
        ></script>

        <!-- prettier-ignore -->
        <link
    rel="preload"
    href="../../search-data-f92df9.json"
    as="fetch"
    crossorigin
    integrity="sha384-qRXVaDjqFkMBclnhNHpO0V+e0eDKx9ONAOr0y7DzlGQi5PPVWuEjB6gYnx1ySrTh"
    id="search-data"
/>
<script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-5ec080.js"></script>
        <script src="../../assets/vendor-fkui-vue-selectors-7437b8.js"></script>
        <script src="../../assets/vendor-fkui-logic-9591ee.js"></script>
        <script src="../../assets/vendor-fkui-date-1a27ab.js"></script>
        <script src="../../assets/vendor-fkui-vue-2391c8.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-3c5ada.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/processors/motd/index-cda4cc.js"
            crossorigin
            integrity="sha384-MiyHuq1hbcemP/RGZgotKZC8qlPOYjlrbQ/VNcrv6ju3y4SnFHj2CvLfATECOQdA"
            
        ></script>
        <script
            src="../../assets/processors/selectable-version/select-version-2a9194.js"
            crossorigin
            integrity="sha384-kmv6f9cV5asasdoupNrMGmugS0a6oRjtR/max3ikMfv9QQgH/mQ5Ivu5iFgUCexx"
            
        ></script>
        <script
            src="../../assets/main-997d48.js"
            crossorigin
            integrity="sha384-8l1XRXeV8HLvwBo//n8vTFG09YwBXP9Tkp6p4mVinPWJGajhrOrz7SN15bD+gDkD"
            
        ></script> <f-data-table :rows>
    <template #caption> Tabell exempel </template>
    <template #default="{ row }">
        <f-table-column title="Kolumnrubrik" type="text">
            {{ row.value }}
        </f-table-column>
    </template>
</f-data-table>

    </body>
</html>
