<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-136c53.css"
            crossorigin
            integrity="sha384-TiC2OHYAdDNf1tU9ywNqMe6IcZ3Meuv5P/jSS+zV4PuEIxHEAU+ImIgxr03ugeZo"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-392b57.css"
            crossorigin
            integrity="sha384-njL2NZ488ii/iwdnSXddW0ESr8X9nHLSSS44xkRUOpMdATLYtVOZPvtDYoGeJXgb"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-0df2b2.js"
            crossorigin
            integrity="sha384-/CsPb6xxx2R6SuFD6YW8AvT0hMxEGGkO4Mh6yG04C8ck+/qIKXqKA3EALt2ADT17"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-6c2e41.js"></script>
        <script src="../assets/vendor-fkui-logic-c06ed0.js"></script>
        <script src="../assets/vendor-fkui-date-d11adb.js"></script>
        <script src="../assets/vendor-fkui-vue-a9fc1e.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-f57e73.js"
            crossorigin
            integrity="sha384-FGs3BktAZXSgQlpWrETLnee/3WRZXyD0W3/9XAYQFX3pn+sACjYZ4tFXI8+mWKtk"
            
        ></script> 
        <div id="XTimeTextFieldExample"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./XTimeTextFieldExample-6a992d.js"></script>
    
    </body>
</html>
