<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-4157a3.css"
            crossorigin
            integrity="sha384-e2U6a2HGeVVwJH6BUOaQIiFCGVj1NsdKjSN7tWC2YJuWCcMfV5XhH07zaRSjrieX"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-855bb9.css"
            crossorigin
            integrity="sha384-gkY90c+U1T/wA+nEHojEaThP69vj8VXnbbffGaa8gnLltmJRp6t16M4DJNXca6zr"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-b62700.js"></script>
        <script src="../assets/vendor-fkui-logic-412a65.js"></script>
        <script src="../assets/vendor-fkui-date-706507.js"></script>
        <script src="../assets/vendor-fkui-vue-78e183.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-7c22d6.js"
            crossorigin
            integrity="sha384-eZhxfLrX8zQl60sdGrT0xWsNGrpFfb7bm+HBtBJNmkHZMbc8D3DMe8Ewpt6jchQp"
            
        ></script> 
        <div id="example-01cf1c"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./XTimeTextFieldExample-01cf1c.js"></script>
    
    </body>
</html>
