<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-75d986.css"
            crossorigin
            integrity="sha384-cW5W6H1U/FXEfyufBciutIccH/eQM9Z/aLwu5TAd4xFdX4RIsSbVBrmGgevvo34v"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-exp-559593.css"
            crossorigin
            integrity="sha384-14e4ZjhSfwwoX8Gt1/Z0Ex1dRuX1iMzLtfiQYcNo3rfFwi82tvVDauKmrk1NyhHE"
            data-theme="exp" disabled
        />
        <link
            rel="stylesheet"
            href="../assets/docs-int-bededd.css"
            crossorigin
            integrity="sha384-UqmoLN8N6ZIxWi1JauTVmwjcvJVEIGK7HalA536W6AcgRIqUVvb5u3ewe5/68LvO"
            data-theme="int" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-0df2b2.js"
            crossorigin
            integrity="sha384-/CsPb6xxx2R6SuFD6YW8AvT0hMxEGGkO4Mh6yG04C8ck+/qIKXqKA3EALt2ADT17"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    function themeRenderBlocker() {
        const theme = window.localStorage.getItem("fkds-theme") ?? "exp";
        const style = Array.from(document.querySelectorAll("[data-theme]"));
        for (const el of style) {
            el.disabled = el.dataset.theme !== theme;
        }
    }

    themeRenderBlocker();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-ce6943.js"></script>
        <script src="../assets/vendor-fkui-logic-bba1c4.js"></script>
        <script src="../assets/vendor-fkui-date-effe99.js"></script>
        <script src="../assets/vendor-fkui-vue-47c86e.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-420ef8.js"
            crossorigin
            integrity="sha384-RHhX+3y1omsnYluXYdmJPVFoqyWaBXhFDUrjwIN1bhuxCeRgpB/FtioQfx4WKefI"
            
        ></script> 
        <div id="ForgivingInput"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./ForgivingInput-7905ff.js"></script>
    
    </body>
</html>
