$staticpanel-heading-color-background: var(--fkds-color-background-secondary) !default;
$staticpanel-color-border: var(--fkds-color-border-primary) !default;
$staticpanel-color-background: var(--fkds-color-background-primary) !default;
$staticpanel-heading-color-text-default: var(--fkds-color-text-primary) !default;
