$label-color-text: var(--fkds-color-text-primary) !default;
$label-color-text-description: var(--fkds-color-text-primary) !default;
$label-color-text-description-format: var(--fkds-color-text-secondary) !default;
$label-color-text-message-error: var(--fkds-color-feedback-text-negative) !default;
