$label-color-text: var(--fkds-color-text-primary);
$label-color-text-description: var(--fkds-color-text-primary);
$label-color-text-description-format: var(--fkds-color-text-secondary);
$label-color-text-message-error: var(--fkds-color-feedback-text-negative);
