$label-color-text: var(--fkds-color-text-primary);
$label-color-text-description: var(--fkds-color-text-primary);
$label-color-text-description-discreet: var(--fkds-color-text-secondary);
$label-color-text-message-error: var(--fkds-color-feedback-text-negative);
$label-icon-color-background-error: var(--fkds-icon-color-feedback-background-negative);
$label-icon-color-content-error: var(--fkds-icon-color-content-inverted);
