@use "../../core/size";
@use "variables" as *;

$radio_button_label_offset: 0.1rem;

.indent {
    border-left: var(--f-border-width-medium) solid $indent-color-seperator;
    margin-bottom: size.$margin-100;
    margin-left: size.$margin-050;
    padding-left: size.$padding-150;
}
