@use "../../core";
@use "../../core/size";

$vertical-padding: core.densify(size.$padding-025);
$horizontal-padding: size.$padding-050;

.table-ng__cell {
    padding: $vertical-padding $horizontal-padding;
    text-wrap: nowrap;
    border: 2px solid transparent;

    &:focus,
    &:focus-within {
        box-shadow: none;
        border: 2px solid var(--f-color-focus);
    }

    input,
    button,
    a,
    [role="combobox"] {
        &:focus {
            box-shadow: none;
        }
    }

    &--align-left {
        span,
        input {
            text-align: left;
        }
    }

    &--align-right {
        span,
        input {
            text-align: right;
        }
    }

    &--select {
        .table-ng__editable__icon--active {
            rotate: 180deg;
        }
    }

    &--select,
    &--text {
        padding: 0 0.25rem;

        &:focus-visible {
            .table-ng__editable__icon {
                visibility: visible;
            }
        }

        &:hover {
            .table-ng__editable {
                @extend %text-hover-state;
            }
        }
    }

    &--text {
        &:focus-visible {
            outline: none !important;
            box-shadow: none !important;
        }

        &.table-ng__cell--error:not(:focus-within) {
            .table-ng__editable {
                @extend %text-error-state;
            }
        }

        &.table-ng__cell--error:hover:not(:focus-within) {
            .table-ng__editable {
                @extend %text-error-state;
            }
        }

        &.table-ng__cell--error:focus {
            .table-ng__editable {
                @extend %text-error-state;
            }
        }

        .table-ng__editable {
            border-width: 2px;
            border-style: solid;
            border-color: transparent;

            &:focus-within {
                .table-ng__editable__text {
                    display: none;
                }

                .table-ng__textedit {
                    flex: 1 0 auto;
                }
            }
        }
    }

    &--checkbox,
    &--radio {
        text-align: center;
        padding: core.densify(size.$padding-025);

        input {
            height: var(--f-icon-size-medium);
            width: var(--f-icon-size-medium);
            vertical-align: middle;
        }
    }

    &--expand,
    &--button {
        button {
            padding: 0;
            margin: 0;
            border: 0;
            min-width: var(--f-icon-size-medium);
            width: 100%;
            background: inherit;
            cursor: pointer;

            svg {
                vertical-align: middle;
            }
        }
    }

    &--expand {
        width: var(--f-icon-size-medium);
        padding: core.densify(size.$padding-025);
    }

    &--selectable {
        width: var(--f-icon-size-medium);
    }

    &--rowheader {
        font-weight: var(--f-font-weight-medium);
        text-align: left;
    }

    &--custom {
        padding: $vertical-padding $horizontal-padding;
        border: 2px solid transparent;

        &:focus {
            box-shadow: none;
            border: 2px solid var(--f-color-focus);
        }
    }
}

.table-ng__textedit {
    flex: 0 1 0;
    width: 0;
    border: none;
    padding: 0;
    background: transparent;

    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}

.table-ng__editable {
    padding: $vertical-padding $horizontal-padding;
    display: flex;
    align-items: center;

    &:hover:not(:focus-within) &__icon {
        visibility: visible;
    }

    &__text {
        flex: 1 1 auto;
    }

    &__numeric {
        span,
        input {
            font-feature-settings: "tnum" 1;
        }
    }

    &__icon {
        visibility: hidden;
        margin-left: 1rem;
        flex: none;
        color: var(--fkds-color-action-text-primary-default);
    }
}

%text-hover-state {
    background: var(--fkds-color-action-background-secondary-hover);
}

%text-error-state {
    border-bottom-color: var(--fkds-color-feedback-text-negative);
}
