@use "../../core";
@use "../../core/size";
@use "variables" as *;

.table-ng__checkbox {
    text-align: center;
    padding: core.densify(size.$padding-025);
    input {
        height: var(--f-icon-size-medium);
        width: var(--f-icon-size-medium);
    }
}
