@use "../../core";
@use "../../core/size";

.table-ng__column {
    &--checkbox {
        text-align: center;
        padding: core.densify(size.$padding-025);

        input {
            height: var(--f-icon-size-medium);
            width: var(--f-icon-size-medium);
        }
    }

    &__sort-icon {
        color: var(--f-icon-color-table-header);
        height: var(--f-icon-size-x-small);
        width: var(--f-icon-size-x-small);
        min-width: var(--f-icon-size-x-small);

        &--discrete {
            color: var(--f-icon-color-table-header-discrete);
        }
    }
}
