@use "../../core";
@use "../../core/size";
@use "variables" as *;

$vertical-padding: core.densify(size.$padding-025);
$horizontal-padding: size.$padding-050;

.table-ng__column {
    padding: $vertical-padding $horizontal-padding;
    border-bottom: 2px solid transparent;
    border-right: 1px solid transparent;

    &:focus,
    &:focus-within {
        box-shadow: none;
        border-bottom: 2px solid var(--f-color-focus);
        border-right: 1px solid var(--f-color-focus);
    }

    &--selectable {
        text-align: center;
        padding: core.densify(size.$padding-025);

        input {
            height: var(--f-icon-size-medium);
            width: var(--f-icon-size-medium);
            vertical-align: middle;
        }
    }

    &--rowheader {
        text-align: left;
        padding: core.densify(size.$padding-025);
    }

    &__sort-icon {
        color: $table-ng-color-icon-sort-selected;
        height: var(--f-icon-size-x-small);
        width: var(--f-icon-size-x-small);
        min-width: var(--f-icon-size-x-small);

        &--discrete {
            color: $table-ng-color-icon-sort-default;
        }
    }
}
