// Caption
$table-ng-caption-background: transparent !default;
$table-ng-caption-foreground: var(--f-text-color-default) !default;

// Header
$table-ng-header-background: var(--f-background-grid-header) !default;
$table-ng-header-foreground: var(--f-text-color-default) !default;
$table-ng-header-border: 2px solid var(--f-border-color-grid-header) !default;

// Rows -- Flytta till table-ng-rows.scss?
$table-ng-row-background: var(--f-background-grid-default) !default;
$table-ng-row-background-alt: var(--f-background-grid-striped) !default;
$table-ng-row-foreground: var(--f-text-color-default) !default;
$table-ng-row-separator: 1px solid var(--f-border-color-grid) !default;

// Pager
$pager-border: 1px solid var(--f-border-color-grid) !default;
