<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>XFileDragdrop - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-715217.css"
            crossorigin
            integrity="sha384-x3RPPlUg5YZ3PN+7ol9G3LnjWGVViYarsTWB6nd21wIlb87mtYC0iDWnxRb6mGR/"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-c11a0b.css"
            crossorigin
            integrity="sha384-tldOOkAxqWoruMXgUNiqi9wTn3UybCXxZ0CjAhKV3L4Cy5UMfx2s0I/Vjm+7ySyg"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-a11a3e.js"></script>
        <script src="../assets/vendor-fkui-logic-fb32f2.js"></script>
        <script src="../assets/vendor-fkui-date-1d9b40.js"></script>
        <script src="../assets/vendor-fkui-vue-520687.js"></script>
        <script src="../assets/vendor-fkui-vue-labs-124c09.js"></script>
        <script src="../assets/vendor-forsakringskassan-docs-live-example-c60a1e.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-3893bd.js"
            crossorigin
            integrity="sha384-QnqFOTWAYDyMNzjW6B1++egFEdnx/l6Lz85o3oq0NwjAgMVFkKb1MUdAHnFIZP/Z"
            
        ></script> 
        <div id="example-d52d47"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./XFileDragdropExample-d52d47.js"></script>
    
    </body>
</html>
