$ANCHOR_SELECTOR: ".anchor" !default;
$anchor-svg-margin: 0.25rem;
@use "../../core/mixins/anchor";
@use "variables" as *;

#{$ANCHOR_SELECTOR} {
    @include anchor.anchor;

    &--block {
        display: inline-flex;

        & > svg,
        & > .icon-stack {
            flex-shrink: 0;
            margin: calc((var(--f-line-height-large) * 1rem - var(--f-icon-size-small)) / 2) $anchor-svg-margin 0;
        }
    }

    &--discrete {
        color: $anchor-discreet-color-text-default;
        text-decoration-color: $anchor-discreet-color-text-decoration-default;

        &:hover {
            color: $anchor-discreet-color-text-hover;
            text-decoration-color: $anchor-discreet-color-text-decoration--hover;
        }
    }

    &--inverted {
        color: $anchor-inverted-color-text-default;
        text-decoration-color: $anchor-inverted-color-text-decoration-default;

        &:hover {
            color: $anchor-inverted-color-text-hover;
            text-decoration-color: $anchor-inverted-color-text-decoration--hover;
        }
    }
}
