// ANCHOR - COLOR - DISCREET
$anchor-discreet-color-text-default: var(--fkds-link-color-text-secondary-default);
$anchor-discreet-color-text-hover: var(--fkds-link-color-text-secondary-hover);
$anchor-discreet-color-text-decoration-default: var(--fkds-link-color-text-secondary-default);
$anchor-discreet-color-text-decoration--hover: var(--fkds-link-color-text-secondary-hover);

// ANCHOR - COLOR - INVERTED
$anchor-inverted-color-text-default: var(--fkds-color-link-text-inverted-default);
$anchor-inverted-color-text-hover: var(--fkds-color-link-text-inverted-hover);
$anchor-inverted-color-text-decoration-default: var(--fkds-color-link-text-inverted-default);
$anchor-inverted-color-text-decoration--hover: var(--fkds-color-link-text-inverted-hover);
