<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-2a31b5.css"
            crossorigin
            integrity="sha384-b4M9TI2HMcOXixgFWhVnbU6ftPxCUlmXMS2LtlhQme7fX6Cyov1WVqDudvCwlhhc"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-298784.css"
            crossorigin
            integrity="sha384-rPnoRlgNtl5ErfDYiWlPSReEszkCXFDSO5M22MozJMnIWot6qgYWkB56XZeYd9Os"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-fd4a2d.js"></script>
        <script src="../assets/vendor-fkui-logic-09d3d2.js"></script>
        <script src="../assets/vendor-fkui-date-0135ed.js"></script>
        <script src="../assets/vendor-fkui-vue-1a809a.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-f41a36.js"
            crossorigin
            integrity="sha384-QtbSTeR0HUajcCDIPR4hVQrd/sT9dReWsq7FAHxF/L0VbouNCeFFcL9MRKyqrIKG"
            
        ></script> 
        <div id="example-01cf1c"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./XTimeTextFieldExample-01cf1c.js"></script>
    
    </body>
</html>
