:host {
    display: block;
}

.page-layout {
    display: grid;
    height: 100cqh;
    width: min(100%, 100cqw);

    &[part~="simple"] {
        grid-template:
            "header" min-content
            "content" 1fr
            "footer" min-content
            / 1fr;

        [part="area header"],
        [part="area footer"] {
            --f-page-layout-background: var(--f-background-pageheader-primary);
            --f-page-layout-color: var(--fkds-color-text-inverted);
        }

        [part="area content"] {
            --f-page-layout-background: var(--fkds-color-background-primary);
            --f-page-layout-color: var(--fkds-color-text-primary);
        }
    }

    &[part~="left-panel"] {
        grid-template:
            "header header" min-content
            "left content" 1fr
            "footer footer" min-content
            / min-content 1fr;

        [part="area header"],
        [part="area footer"] {
            --f-page-layout-background: var(--f-background-pageheader-primary);
            --f-page-layout-color: var(--fkds-color-text-inverted);
        }

        [part="area left"] {
            --f-page-layout-background: var(--fkds-color-background-secondary);
        }

        [part="area content"] {
            --f-page-layout-background: var(--fkds-color-background-primary);
            --f-page-layout-color: var(--fkds-color-text-primary);
        }
    }

    &[part~="right-panel"] {
        grid-template:
            "header header" min-content
            "content right" 1fr
            "footer footer" min-content
            / 1fr min-content;

        [part="area header"],
        [part="area footer"] {
            --f-page-layout-background: var(--f-background-pageheader-primary);
            --f-page-layout-color: var(--fkds-color-text-inverted);
        }

        [part="area right"] {
            --f-page-layout-background: var(--fkds-color-background-secondary);
            --f-page-layout-color: var(--fkds-color-text-primary);
        }

        [part="area content"] {
            --f-page-layout-background: var(--fkds-color-background-primary);
            --f-page-layout-color: var(--fkds-color-text-primary);
        }
    }

    &[part~="three-column"] {
        grid-template:
            "header header header" min-content
            "left content right" 1fr
            "footer footer footer" min-content
            / min-content 1fr min-content;

        [part="area header"],
        [part="area footer"] {
            --f-page-layout-background: var(--f-background-pageheader-primary);
            --f-page-layout-color: var(--fkds-color-text-inverted);
        }

        [part="area left"],
        [part="area right"] {
            --f-page-layout-background: var(--fkds-color-background-secondary);
            --f-page-layout-color: var(--fkds-color-text-primary);
        }

        [part="area content"] {
            --f-page-layout-background: var(--fkds-color-background-primary);
            --f-page-layout-color: var(--fkds-color-text-primary);
        }
    }
}

.page-layout__area {
    display: flex;
    position: relative;
    background: var(--f-page-layout-background);
    color: var(--f-page-layout-color);

    &[data-direction="column"] {
        flex-direction: column;
    }

    &[data-direction="row"] {
        flex-direction: row;
    }

    &[data-scroll] {
        overflow-y: auto;
    }

    &:empty {
        display: none;
    }
}

:host ::slotted(*) {
    display: contents;
}
