// INFO
$icon-info-color-border: var(--fkds-icon-color-feedback-border-info);
$icon-info-color-background: var(--fkds-icon-color-feedback-background-info);

// WARNING
$icon-warning-color-border: var(--fkds-icon-color-feedback-border-warning);
$icon-warning-color-background: var(--fkds-icon-color-feedback-background-warning);

// ERROR
$icon-error-color-border: var(--fkds-icon-color-feedback-border-negative);
$icon-error-color-background: var(--fkds-icon-color-feedback-background-negative);

// SUCCESS
$icon-success-color-border: var(--fkds-icon-color-feedback-border-positive);
$icon-success-color-background: var(--fkds-icon-color-feedback-background-positive);
