@use "../../core";
@use "../../core/size";
@use "variables" as *;
@use "../button/button";

.entrypoint {
    @include core.make-button-variant(".entrypoint", button.$button--primary...);

    align-items: center;
    border-radius: var(--f-border-radius-medium);
    border-style: solid;
    cursor: pointer;
    display: inline-flex;
    font-size: var(--f-font-size-standard);
    font-weight: var(--f-font-weight-medium);
    justify-content: space-between;
    line-height: var(--f-line-height-large);
    margin-bottom: core.densify(size.$margin-150);
    margin-top: core.densify(size.$margin-025);
    text-align: left;
    width: 100%;

    &__icon {
        flex-shrink: 0;
        margin-left: 2rem;
    }
}
