@use "../../core/size";
@use "variables" as *;
@use "../../core/utils/functions" as *;

$ENTRYPOINT_SELECTOR: ".entrypoint" !default;

#{$ENTRYPOINT_SELECTOR} {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- technical debt */
    background-color: $entrypoint-color-background-default;
    color: $entrypoint-color-text-default;
    border: var(--f-border-width-medium) solid transparent; // forced-colors mode
    border-radius: var(--f-border-radius-medium);
    box-shadow: var(--f-button-shadow);
    font-size: var(--f-font-size-standard);
    font-weight: var(--f-font-weight-medium);
    transition: background-color var(--f-animation-duration-medium) ease-out;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: densify(size.$margin-150);
    margin-top: densify(size.$margin-025);
    text-align: left;
    padding: densify(size.$padding-100) size.$padding-100;
    line-height: var(--f-line-height-large);
    width: 100%;

    &__icon {
        margin-left: 2rem;
        flex-shrink: 0;
    }

    &:hover {
        background-color: $entrypoint-color-background-hover;
    }
}
