@use "../button/button";
@use "../../core/mixins";
@use "../../core/size";

$ENTRYPOINT_SELECTOR: ".entrypoint" !default;

#{$ENTRYPOINT_SELECTOR} {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- technical debt */
    @extend .button;
    @include mixins.make-button-variant($ENTRYPOINT_SELECTOR, button.$button--primary...);

    & {
        text-align: left;
        padding: size.$padding-100 calc(size.$padding-200 * 2) size.$padding-100 size.$padding-100;
        line-height: var(--f-line-height-large);
        width: 66.667%;
    }

    @include mixins.breakpoint-down(sm) {
        min-width: 100%;
    }

    &--full-width {
        min-width: 100%;
    }

    &__icon {
        /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- technical debt */
        @extend .button__icon--end;

        color: var(--f-icon-color-white);
        top: 50%;
        transform: translate(0, -50%);
    }

    &:hover {
        // override anchor's underline hover effect
        padding-bottom: size.$padding-100;
    }
}
