$entrypoint-color-background-default: var(--fkds-color-action-background-primary-default) !default;
$entrypoint-color-background-hover: var(--fkds-color-action-background-primary-hover) !default;
$entrypoint-color-text-default: var(--fkds-color-action-text-inverted-default) !default;
