$entrypoint-color-background-default: var(--fkds-color-action-background-primary-default);
$entrypoint-color-background-hover: var(--fkds-color-action-background-primary-hover);
$entrypoint-color-text-default: var(--fkds-color-action-text-inverted-default);
