@use "variables" as *;

.dialogue-tree {
    margin: 0 0 var(--f-margin-component-bottom);

    &__list {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
        border-radius: 2px;
        border: 1px solid $dialogue-tree-color-border-default;

        &-item {
            background-color: $dialogue-tree-color-background-default;
            border-bottom: 1px solid $dialogue-tree-color-border-default;
            padding: 0.25em;
            height: 60px;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: $dialogue-tree-color-background-hover;
            }

            button {
                padding: 0 0.75em;
                border: 0;
                width: 100%;
                height: 100%;
                background-color: inherit;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-weight: var(--f-font-weight-medium);
                    font-size: var(--f-font-size-standard);
                    color: $dialogue-tree-color-text-default;
                    text-align: left;
                    cursor: pointer;
                }

                .icon {
                    flex-shrink: 0;
                    margin-left: 1.25rem;
                }
            }
        }
    }
}
