$dialogue-tree-color-background-default: var(--fkds-color-background-primary);
$dialogue-tree-color-border-default: var(--fkds-color-border-primary);
$dialogue-tree-color-text-default: var(--fkds-color-action-text-secondary-default);
$dialogue-tree-color-background-hover: var(--fkds-color-action-background-secondary-hover);
$dialogue-tree-color-border-hover: var(--fkds-color-border-primary);
$dialogue-tree-color-text-hover: var(--fkds-color-action-text-secondary-default);
