// CALENDAR ICON BUTTON
$datepickerfield-f-icon-calendar-color-content-default: var(--fkds-color-action-text-primary-default) !default;
$datepickerfield-f-icon-calendar-color-content-hover: var(--fkds-color-action-text-primary-hover) !default;
$datepickerfield-f-icon-calendar-color-content-disabled: var(--fkds-color-text-disabled) !default;

// Popup
$datepickerfield-popup-color-background: var(--fkds-color-background-primary) !default;
$datepickerfield-popup-color-border: var(--fkds-color-border-primary) !default;
