// ICON
$datepickerfield-f-icon-calendar-color-content-default: var(--fkds-icon-color-action-content-primary-default);
$datepickerfield-f-icon-calendar-color-content-disabled: var(--fkds-icon-color-content-disabled);

// Popup
$datepickerfield-popup-color-background: var(--fkds-color-background-primary);
$datepickerfield-popup-color-border: var(--fkds-color-border-primary);
