<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Meddelanderuta - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-3ea19a.css"
            crossorigin
            integrity="sha384-CWfFN6LxC2QvPDV6jCNWyY+RB1AiuxyzTqJNSIxb5rqfsYqibRHAbPe57UduPmNk"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-b99cc0.css"
            crossorigin
            integrity="sha384-tYkyzAJW75k4nVUNDMKPVtPC1kwxDuRCB50JDPERoibbh2Jh632PWEne8uSsRipD"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-b9aefb.js"
            crossorigin
            integrity="sha384-F/7dWMNnyjtxV9ZLu4kMSJ74pLIaxPZbcRbfScnz4R6GvgvC5pM7UbjffD/AoRWL"
            
        ></script>

        <!-- prettier-ignore -->
        <link
    rel="preload"
    href="../search-data-25b491.json"
    as="fetch"
    crossorigin
    integrity="sha384-6UlELlTVic0c8KwGoJrmy6yN2jtuj+9XRYXYnxBcHfca0OvaqJOURuRZRmc/pwLK"
    id="search-data"
/>
<script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-b984a8.js"></script>
        <script src="../assets/vendor-fkui-vue-selectors-5cd71a.js"></script>
        <script src="../assets/vendor-fkui-logic-d98f1d.js"></script>
        <script src="../assets/vendor-fkui-date-756ff1.js"></script>
        <script src="../assets/vendor-fkui-vue-5f3e38.js"></script>
        <script src="../assets/vendor-fkui-vue-labs-4f4793.js"></script>
        <script src="../assets/vendor-forsakringskassan-docs-live-example-6d2d9d.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/processors/search/search-d3c3d9.js"
            crossorigin
            integrity="sha384-+SXUY5zuBarb8Apt8q8+kFZ2fe4NSuUMNmuk9R4WeiK9XxFInziLHKmykACkUFV6"
            
        ></script>
        <script
            src="../assets/processors/motd/index-cda4cc.js"
            crossorigin
            integrity="sha384-MiyHuq1hbcemP/RGZgotKZC8qlPOYjlrbQ/VNcrv6ju3y4SnFHj2CvLfATECOQdA"
            
        ></script>
        <script
            src="../assets/processors/selectable-version/select-version-382450.js"
            crossorigin
            integrity="sha384-r0Wvx+/BqAK1Q8VLDTGmsEKmwwlkzB/9zt/awHX0KgnE66ubxtV/n6S33Y5zfDxa"
            
        ></script>
        <script
            src="../assets/processors/cookie/cookie-ca9142.js"
            crossorigin
            integrity="sha384-QYu1B22kJoEySBmGgY/4+SG8KjzgSAPAm+oqZzy4hHFaG21xEJAzOTNnQDHdhEZY"
            
        ></script>
        <script
            src="../assets/runtime-1697a8.js"
            crossorigin
            integrity="sha384-6dVujNqBpPwTDTrwwDJ1kM940T4Y+H7i/cnZ17oDcX/BFkiNx5kYyHX51n8hpKnw"
            
        ></script>
        <script
            src="../assets/main-2a697b.js"
            crossorigin
            integrity="sha384-VcXXCVWs406KSWK5pJAjyOVdBpbqnlT4dn4xLifE5VtvbvG+b095DRbl/s6bYa7h"
            
        ></script> 
        <div id="example-2e3767"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FMessageBoxContext-2e3767.js"></script>
    
    </body>
</html>
