$progressbar-color-background: var(--fkds-color-background-primary);
$progressbar-color-meter-inprogress: var(--fkds-color-feedback-background-positive-strong);
$progressbar-color-meter-finished: var(--fkds-color-feedback-background-positive-strong);
$progressbar-color-border: var(--fkds-color-feedback-border-positive);
