<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>FTable - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-5206cb.css"
            crossorigin
            integrity="sha384-BYI/jNFivC7bHRA/vWCpoXoWyMZ54HUVtgckf7rbnAVM7OSG/hv3AbIGepKGGscz"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-739a55.css"
            crossorigin
            integrity="sha384-uz+6WPO4Mojvx2NlswR+QRzFsZqeoXdLpko5BOEQMd1J4KWaLn1oTX1tCO+HRqOb"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-65d7e0.js"></script>
        <script src="../assets/vendor-fkui-logic-b0075f.js"></script>
        <script src="../assets/vendor-fkui-date-1d9b40.js"></script>
        <script src="../assets/vendor-fkui-vue-629a55.js"></script>
        <script src="../assets/vendor-fkui-vue-labs-ef733e.js"></script>
        <script src="../assets/vendor-forsakringskassan-docs-live-example-c58cb4.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-07fd53.js"
            crossorigin
            integrity="sha384-a+r1YAkm2Z8i9EAlrXJtUwWeeyVl3nmXeE5QZxfNHgvwSuC86xWs+tVaTg6Myv/d"
            
        ></script> 
        <div id="example-331d12"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FTableLiveExample-331d12.js"></script>
    
    </body>
</html>
