@use "../../core/size";
@use "../../core/mixins/breakpoints" as bp;
@use "../selectable-item/selectable-item";
@use "./radio-button";

.radio-button-group {
    margin: 0;
    &__content {
        gap: 1rem;

        .radio-button {
            margin-bottom: 0;
        }
    }

    &--horizontal {
        .radio-button-group__content {
            flex-direction: row;
            gap: 1rem;
            .radio-button {
                margin-bottom: 0;
            }

            @include bp.breakpoint-down(sm) {
                flex-direction: column;

                .radio-button {
                    margin-bottom: 0;
                }
            }
        }
    }
    &--border {
        .radio-button-group__content {
            .radio-button {
                @extend %selectable-item;
            }
        }
    }
}
