@use "variables" as *;

@mixin anchor() {
    color: $anchor-color-text-standard-default;
    font-weight: var(--f-font-weight-medium);
    line-height: var(--f-line-height-large);
    text-decoration-color: $anchor-color-text-standard-default;
    text-decoration-line: underline;
    text-decoration-thickness: $anchor-underline-width;
    text-underline-offset: $anchor-underline-offset-default;

    &:hover {
        color: $anchor-color-text-standard-default;
        text-decoration-color: $anchor-color-text-standard-default;
        text-decoration-thickness: 3px;

        @media (forced-colors: active) {
            color: LinkText;
        }
    }

    &:active {
        color: $anchor-color-text-standard-default;
        text-decoration-color: $anchor-color-text-standard-default;
        text-decoration-thickness: 3px;
        text-underline-offset: $anchor-underline-offset-active;

        @media (forced-colors: active) {
            color: LinkText;
        }
    }

    @media (forced-colors: active) {
        color: LinkText;
    }
}
