$focus-box-shadow:
    0 0 0 2px var(--fkds-focus-indicator-color-background),
    0 0 0 4px var(--fkds-focus-indicator-color),
    0 0 0 6px var(--fkds-focus-indicator-color-background) !default;

@mixin focus-indicator() {
    box-shadow: $focus-box-shadow;
    outline: 3px solid transparent; // Windows high contrast
}
