@use "../size";
@use "../mixins/breakpoints";
@use "../utils/all" as utils;

$LABEL_SELECTOR: ".label" !default;

@mixin label-inline() {
    @include breakpoints.breakpoint-up(md) {
        margin-bottom: utils.densify(size.$margin-075);
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
        #{$LABEL_SELECTOR} {
            width: auto;
            margin-right: size.$margin-100;
            padding-top: utils.densify(size.$padding-050);
        }
    }
}
