$button-color-border-default: transparent !default;
$button-color-background-disabled: var(--fkds-color-background-disabled) !default;
$button-color-border-disabled: var(--fkds-color-border-disabled) !default;
$button-color-text-disabled: var(--fkds-color-text-disabled) !default;

// ANCHOR
$anchor-color-text-standard-default: var(--fkds-color-action-text-primary-default) !default;
