@use "variables" as *;

.resize {
    flex-grow: 1;
    display: flex;
    align-items: stretch;

    &--left {
        flex-direction: row;
        width: var(--size);
    }

    &--right {
        flex-direction: row-reverse;
        width: var(--size);
    }

    &--top {
        flex-direction: column;
        height: var(--size);
    }

    &--bottom {
        flex-direction: column-reverse;
        height: var(--size);
    }

    &__content {
        flex: 1 1 auto;
        overflow: auto;
        box-sizing: border-box;
        display: flex;
    }

    &--left,
    &--right {
        .resize__content {
            min-width: calc(var(--min) - $handle-size);
            max-width: calc(var(--max) - $handle-size);
        }
    }

    &--top,
    &--bottom {
        .resize__content {
            min-height: calc(var(--min) - $handle-size);
            max-height: calc(var(--max) - $handle-size);
        }
    }
}
