$layout-navigation-color-background: var(--fkds-color-background-secondary) !default;
$layout-navigation-resize-handle-color-background-default: var(--fkds-color-background-secondary) !default;
$layout-navigation-resize-handle-color-background-hover: var(--fkds-color-action-background-secondary-hover) !default;
$layout-navigation-resize-handle-dot-color-background: var(--fkds-color-action-text-secondary-default) !default;
$layout-navigation-scrollbar-thumb-color-background: var(--fkds-color-border-primary) !default;

// BUTTON
$layout-navigation-button-color-background-default: transparent !default;
$layout-navigation-button-color-background-hover: var(--fkds-color-action-background-secondary-hover) !default;
$layout-navigation-button-color-background-active: var(--fkds-color-action-background-secondary-active) !default;
$layout-navigation-button-color-background-focus: transparent !default;
$layout-navigation-button-color-default: var(--fkds-color-action-text-secondary-default) !default;
