<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>FTable - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-7ca886.css"
            crossorigin
            integrity="sha384-BdjdObRwYGQ1I0GWvK67F8QFoCx+B9r+6ag8WpBQiLr7+l4fjGM6UT9JBDR1plO7"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-611bd1.css"
            crossorigin
            integrity="sha384-nsx9Zcp+QMpaOlGPFqgfwmjysydFdvAs2r9CySxAUC29evLT9dPHX5047uzJYaPN"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-1e9c30.js"></script>
        <script src="../assets/vendor-fkui-logic-09d3d2.js"></script>
        <script src="../assets/vendor-fkui-date-0135ed.js"></script>
        <script src="../assets/vendor-fkui-vue-a47b13.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-859878.js"
            crossorigin
            integrity="sha384-Rcguevz3B3a1qeQTGfn2IQUR/6Q/O5L0OCfGe0E//YIRCxc8sYYS56Fzi77DoXE/"
            
        ></script> 
        <div id="example-c6cda6"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
body {
    padding: 1rem;
}
.icon-button {
    margin: 0;
    padding: 0;
    background: inherit;
    border: 0;
    cursor: pointer;
}
.level-2 {
    margin-left: 0.5rem;
}
.level-3 {
    padding-left: 1rem;
}
.bar {
    background: hotpink;
}

        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FTableRadioExample-c6cda6.js"></script>
    
    </body>
</html>
