<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-d11769.css"
            crossorigin
            integrity="sha384-OAOCQhq+nBLfdr6WMvO/V4W3dW0gCm0oMDUbQQdngTOOS6+fzGntWpJSoI19rmhp"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-3ef2cd.css"
            crossorigin
            integrity="sha384-FvZ4SYyYuGChA3HA1sqNvtaAdAqIfWeZolFAmqKp00UtL7KZmuDBED8W+TBtDci7"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-0df2b2.js"
            crossorigin
            integrity="sha384-/CsPb6xxx2R6SuFD6YW8AvT0hMxEGGkO4Mh6yG04C8ck+/qIKXqKA3EALt2ADT17"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-ce6943.js"></script>
        <script src="../assets/vendor-fkui-logic-23d238.js"></script>
        <script src="../assets/vendor-fkui-date-0b5d4b.js"></script>
        <script src="../assets/vendor-fkui-vue-a2d6e5.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-b0aeb6.js"
            crossorigin
            integrity="sha384-Q8DTAqDXm2ACRsJgetDmfQViLx6omtrv8+NQO1hn5gVa2oLR9rpKHg8w8Le4FzKE"
            
        ></script> 
        <div id="ForgivingInput"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./ForgivingInput-3214e6.js"></script>
    
    </body>
</html>
