@use "../../core/size";
@use ".././selectable-item/selectable-item";

.checkbox-group.fieldset {
    margin: 0;
}
.checkbox-group {
    margin: 0;
    &__content {
        gap: 1rem !important;

        .checkbox {
            margin-bottom: 0;
        }
    }

    &--border {
        .checkbox-group__content {
            .checkbox {
                @extend %selectable-item;
            }
        }
    }
}
