$checkbox-color-background-default: var(--fkds-color-background-primary);
$checkbox-color-background-selected: var(--fkds-color-select-background-secondary-default);
$checkbox-color-background-disabled: var(--fkds-color-background-disabled);
$checkbox-color-border-default: var(--fkds-color-border-primary);
$checkbox-color-border-selected: transparent;
$checkbox-color-border-disabled: var(--fkds-color-border-primary);
$checkbox-color-text-disabled: var(--fkds-color-text-disabled);
