<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Applikationslayout - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-fe2ce7.css"
            crossorigin
            integrity="sha384-iw8KuhfCYbuDwbjBYELKz1thqRxAX33A8oy2Y43l9+Ro/NQkIx7IMCG5PQQbth1Y"
            
        />
        <link
            rel="stylesheet"
            href="../../assets/docs-fkui-28498f.css"
            crossorigin
            integrity="sha384-1UjMnqQmg6cBvgtgVsZJht32S9oWqdWnIQkotl40eN4xNaZTD/OBvUAMnXpPIx4B"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-3c61c7.js"></script>
        <script src="../../assets/vendor-fkui-logic-59aa9f.js"></script>
        <script src="../../assets/vendor-fkui-date-808bee.js"></script>
        <script src="../../assets/vendor-fkui-vue-17cd0f.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-1e0efc.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/processors/motd/index-cda4cc.js"
            crossorigin
            integrity="sha384-MiyHuq1hbcemP/RGZgotKZC8qlPOYjlrbQ/VNcrv6ju3y4SnFHj2CvLfATECOQdA"
            
        ></script>
        <script
            src="../../assets/processors/selectable-version/select-version-f63e3e.js"
            crossorigin
            integrity="sha384-vyAPFKdMZ7DvCJfw+rzGejgPT5VeOFzqRY2578lld+ptdk1YF0LNxlfkZLpq7WoC"
            
        ></script>
        <script
            src="../../assets/main-f8637e.js"
            crossorigin
            integrity="sha384-jzo/moGACvKxkccaNdVeDo4wKxEZb03EvtzuHt5dC8OWbc+DOsirYwhdTHC/7krD"
            
        ></script> 
        <div id="example-f36e54"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
.example-grid .col {
    text-align: center;
    border: 1px dashed gray;
}

        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FLayoutApplicationTemplateExample-f36e54.js"></script>
    
    </body>
</html>
