$modal-shelf-color-background: var(--fkds-color-background-primary) !default;
$modal-shelf-info-color-background: var(--fkds-color-feedback-background-info-strong) !default;
$modal-shelf-warning-color-background: var(--fkds-color-feedback-background-warning-strong) !default;
$modal-shelf-error-color-background: var(--fkds-color-feedback-background-negative-strong) !default;
$modal-color-background: var(--fkds-color-background-primary) !default;
$modal-color-closebutton-text-inverted: var(--fkds-color-action-text-inverted-default) !default;
$modal-text-color-default: var(--fkds-color-text-primary) !default;
