$modal-shelf-color-background: var(--fkds-color-background-primary);
$modal-shelf-info-color-background: var(--fkds-color-feedback-background-info-strong);
$modal-shelf-warning-color-background: var(--fkds-color-feedback-background-warning-strong);
$modal-shelf-error-color-background: var(--fkds-color-feedback-background-negative-strong);
$modal-color-background: var(--fkds-color-background-primary);
$modal-color-closebutton-text-inverted: var(--fkds-color-action-text-inverted-default);
$modal-text-color-default: var(--fkds-color-text-primary);
