@use "../../core";
@use "variables" as *;

$WIZARD_STEP_SELECTOR: ".wizard-step" !default;

/* Selectors */
$icon-success-selector: ".icon.f-icon-success" !default;
$header-selector: "#{$WIZARD_STEP_SELECTOR}__header" !default;
$title-selector: "#{$header-selector}__title" !default;
$anchor-selector: "#{$title-selector} .anchor" !default;
$step-of-selector: "#{$WIZARD_STEP_SELECTOR}__step-of" !default;
$line-up-selector: "#{$WIZARD_STEP_SELECTOR}__line-up" !default;
$line-down-selector: "#{$WIZARD_STEP_SELECTOR}__line-down" !default;
$icon-line-down-selector: "#{$WIZARD_STEP_SELECTOR}__icon-container__line-down" !default;
$icon-container-selector: "#{$WIZARD_STEP_SELECTOR}__icon-container" !default;
$circle-selector: "#{$WIZARD_STEP_SELECTOR}__icon-container__circle" !default;
$number-selector: "#{$WIZARD_STEP_SELECTOR}__icon-container__number" !default;
$form-body-selector: "#{$WIZARD_STEP_SELECTOR}-body" !default;
$form-border-container: "#{$form-body-selector}__border-container" !default;

/* position adjustments for lines */

/* change line-gap-to-circle variable to change distances */

$line-gap-to-circle: 4px;
$line-width: 2px;
$icon-size: 30px;

#{$WIZARD_STEP_SELECTOR} {
    display: grid;
    grid-template:
        "wizard-step__line-up wizard-step__step-of" min-content
        "wizard-step__icon-container wizard-step__header" min-content
        "wizard-step__content wizard-step__content" min-content
        / min-content 1fr;
    gap: 0 0.5rem;

    &:first-of-type {
        #{$line-up-selector} {
            border: 0;
        }
    }

    &:last-of-type {
        #{$line-down-selector},
        #{$icon-line-down-selector} {
            border: 0;
        }
    }

    #{$title-selector} {
        font-size: 1.125rem;
        margin-top: 2px;
        margin-bottom: 20px;
    }

    #{$icon-container-selector} {
        grid-area: wizard-step__icon-container;
        display: flex;
        flex-direction: column;
    }

    #{$circle-selector} {
        width: $icon-size;
        height: $icon-size;
        border-radius: 50%;
        border: 2px solid $wizardstep-circle-color-border;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        transition:
            background-color 400ms ease-out,
            border-color 400ms ease-out,
            opacity 400ms ease-out;
    }

    #{$form-border-container} {
        @include core.breakpoint-down(sm) {
            display: none;
        }

        #{$line-down-selector} {
            margin-top: 0;
        }
    }

    #{$icon-success-selector} {
        display: none;
    }

    #{$header-selector} {
        grid-area: wizard-step__header;
    }

    #{$step-of-selector} {
        color: $wizardstep-stepofselector-color-text;
        font-weight: normal;
        font-size: 1rem;
    }

    #{$line-down-selector},
    #{$icon-line-down-selector},
    #{$line-up-selector} {
        border-left: $line-width solid $wizardstep-line-color;
        margin-left: 14px;
    }

    #{$icon-line-down-selector} {
        margin-top: $line-gap-to-circle;
    }

    #{$line-down-selector} {
        grid-area: wizard-step__line-down;
    }

    .wizard-step__content {
        margin-left: 0.5rem;
        grid-area: wizard-step__content;
    }

    #{$line-up-selector} {
        margin-bottom: $line-gap-to-circle;
        grid-area: wizard-step__line-up;
    }

    &--open + &--pending {
        #{$line-up-selector} {
            padding-top: 20px;
            margin-top: -0.5rem;
        }
    }

    #{$icon-line-down-selector} {
        flex: 1;
    }

    @include core.breakpoint-up(md) {
        grid-template:
            "wizard-step__line-up wizard-step__step-of" min-content
            "wizard-step__icon-container wizard-step__header" min-content
            "wizard-step__line-down wizard-step__content" min-content
            / min-content 1fr;

        &--open + &--pending {
            #{$line-up-selector} {
                margin-top: 0;
                padding-top: 0;
            }
        }

        .wizard-step__content {
            margin-left: 0;
        }
    }

    &--open {
        #{$title-selector} {
            color: $wizardstep-heading-color-default;
        }

        #{$step-of-selector} {
            display: block;
        }
    }

    &--done {
        #{$anchor-selector} {
            color: $wizardstep-heading-color-done;
            text-decoration-color: $wizardstep-heading-color-done;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.25em;
        }

        #{$anchor-selector}:hover {
            text-decoration-color: $wizardstep-heading-decoration-color-done-hover;
            text-decoration-thickness: 3px;
            text-underline-offset: 0.25em;
        }

        #{$icon-success-selector} {
            display: block;
            color: $wizardstep-success-color;
            width: 20px;
            height: auto;
        }

        #{$circle-selector} {
            background-color: var(--f-icon-color-wizard-step-done);
            border-color: var(--f-icon-color-wizard-step-done);
        }

        #{$number-selector} {
            display: none;
        }
    }

    &--pending {
        #{$title-selector} {
            color: var(--f-text-color-discrete);
        }

        #{$circle-selector} {
            border: 2px solid $wizardstep-circle-color-border;
            background-color: $wizardstep-circle-color-background-pending;
            color: var(--f-icon-color-discrete);
        }
    }

    @media (forced-colors: active) {
        #{$icon-success-selector} {
            color: CanvasText;
        }
    }
}
