@use "../../core";
@use "variables" as *;

$WIZARD_STEP_SELECTOR: ".wizard-step" !default;

/* Selectors */
$icon-success-selector: ".icon.f-icon-success" !default;
$header-selector: "#{$WIZARD_STEP_SELECTOR}__header" !default;
$title-selector: "#{$header-selector}__title" !default;
$title-container-selector: "#{$title-selector}-container";
$step-of-selector: "#{$header-selector}__step-of" !default;
$line-up-selector: "#{$header-selector}__line-up" !default;
$line-down-selector: "#{$header-selector}__line-down" !default;
$circle-selector: "#{$WIZARD_STEP_SELECTOR}__circle" !default;
$number-selector: "#{$WIZARD_STEP_SELECTOR}__number" !default;
$flex-selector: "#{$WIZARD_STEP_SELECTOR}-flex" !default;

/* position adjustments for lines */

/* change line-gap-to-circle variable to change distances */

$line-gap-to-circle: 4px;
$line-width: 2px;
$line-center: 14px;
$line-down-adjustment-up: #{-8 + $line-gap-to-circle};
$line-down-length: 13px;
$line-up-length: 20px;
$line-up-adjustment-down: #{$line-gap-to-circle};
$line-desktop-adjustment-up: #{$line-down-adjustment-up};
$line-desktop-adjustment-down: #{$line-gap-to-circle * -2};
$line-desktop-push-content-right: 22px;
$line-desktop-align-line: 4px;
$line-desktop-padding-top: 1px;
$icon-size: 30px;

#{$WIZARD_STEP_SELECTOR} {
    #{$title-selector} {
        font-size: 1.125rem;
        margin-top: 2px;
        margin-bottom: 20px;
        margin-left: 0.5rem;
    }

    #{$circle-selector} {
        width: $icon-size;
        height: $icon-size;
        border-radius: 50%;
        border: 3px solid $wizardstep-circle-color-border;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        transition:
            background-color 400ms ease-out,
            border-color 400ms ease-out,
            opacity 400ms ease-out;
    }

    #{$flex-selector} {
        display: flex;
        &--column {
            flex-direction: column;
        }
    }

    #{$title-container-selector} {
        height: $icon-size;
    }

    #{$header-selector} {
        margin-left: -10px;

        #{$icon-success-selector} {
            display: none;
        }
    }

    #{$step-of-selector} {
        color: $wizardstep-stepofselector-color-text;
        margin-left: 0.5rem;
        font-weight: normal;
        font-size: 1rem;
    }

    #{$line-down-selector} {
        margin-top: $line-gap-to-circle;
        height: 100%;
        width: $icon-size;
        &::after {
            content: "";
            border-right: 2px solid $wizardstep-line-color;
            margin-right: 14px;
            display: block;
            height: 100%;
        }
    }

    #{$line-up-selector} {
        margin-bottom: #{$line-up-adjustment-down};
        width: $icon-size;
        &::after {
            content: "";
            border-right: 2px solid $wizardstep-line-color;
            margin-right: 14px;
            display: block;
            height: 100%;
        }
    }

    @include core.breakpoint-up(md) {
        &__connector {
            border-left: #{$line-width} solid $wizardstep-line-color;
            padding-left: #{$line-desktop-push-content-right};
            margin-top: #{$line-desktop-adjustment-up};
            margin-left: #{$line-desktop-align-line};
            margin-bottom: #{$line-desktop-adjustment-down};
            padding-top: 0;
        }
    }

    &--open #{$header-selector} {
        #{$title-selector} {
            color: $wizardstep-heading-color-default;
        }

        #{$step-of-selector} {
            display: block;
        }
    }

    &--done #{$header-selector} {
        margin-top: $line-gap-to-circle;

        #{$title-selector} {
            color: $wizardstep-heading-color-done;
            text-decoration-color: $wizardstep-heading-color-done;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.25em;
        }

        #{$title-selector}:hover {
            text-decoration-color: $wizardstep-heading-decoration-color-done-hover;
            text-decoration-thickness: 3px;
            text-underline-offset: 0.25em;
        }

        #{$icon-success-selector} {
            display: block;
            color: $wizardstep-success-color;
            width: 20px;
            height: auto;
        }

        #{$circle-selector} {
            background-color: var(--f-icon-color-wizard-step-done);
            border-color: var(--f-icon-color-wizard-step-done);
        }

        #{$number-selector} {
            display: none;
        }
    }

    &--pending #{$header-selector} {
        #{$title-selector} {
            color: var(--f-text-color-discrete);
        }

        #{$circle-selector} {
            border: 3px solid $wizardstep-circle-color-border;
            background-color: $wizardstep-circle-color-background-pending;
            color: var(--f-icon-color-discrete);
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--done:first-child,
#{$WIZARD_STEP_SELECTOR}--open:first-child {
    #{$line-up-selector} {
        &::after {
            display: none;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--done {
    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--pending {
    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            margin-top: -#{$line-gap-to-circle};
            margin-bottom: $line-gap-to-circle;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--done:last-child,
#{$WIZARD_STEP_SELECTOR}--pending:last-child {
    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            border-left: none;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--open + #{$WIZARD_STEP_SELECTOR}--pending {
    @include core.breakpoint-down(md) {
        #{$line-up-selector} {
            &::after {
                padding-top: 20px;
                margin-top: -8px;
            }
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--done:last-child {
    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            border-left: none;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}:last-child {
    #{$line-down-selector} {
        display: none;
    }

    &.wizard-step--open {
        .wizard-step__connector {
            margin-top: 1rem;
        }
    }

    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            border-left: none;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--done + #{$WIZARD_STEP_SELECTOR}--pending {
    margin-top: $line-gap-to-circle;
}
