@use "../../core";
@use "variables" as *;

$WIZARD_STEP_SELECTOR: ".wizard-step" !default;

/* Selectors */
$icon-stack-selector: ".icon-stack" !default;
$icon-circle-selector: ".icon.f-icon-circle" !default;
$icon-success-selector: ".icon.f-icon-success" !default;
$icon-number-selector: "#{$icon-stack-selector} div" !default;
$title-placeholder-selector: ".iflex--grow" !default;
$header-selector: "#{$WIZARD_STEP_SELECTOR}__header" !default;
$title-selector: "#{$header-selector}__title" !default;
$anchor-selector: "#{$title-selector} .anchor" !default;
$title-container-selector: "#{$title-selector}-container";
$line-adjustment-selector: "#{$header-selector}__line-adjustment" !default;
$step-of-selector: "#{$header-selector}__step-of" !default;
$line-up-selector: "#{$header-selector}__line-up" !default;
$line-down-selector: "#{$header-selector}__line-down" !default;

/* position adjustments for lines */

/* change line-gap-to-circle variable to change distances */

$line-gap-to-circle: 4px;
$line-width: 2px;
$line-center: 14px;
$line-down-adjustment-up: #{-7 + $line-gap-to-circle};
$line-down-length: 13px;
$line-up-length: 20px;
$line-up-adjustment-down: #{$line-gap-to-circle};
$line-desktop-adjustment-up: #{$line-down-adjustment-up};
$line-desktop-adjustment-down: #{$line-gap-to-circle * -2};
$line-desktop-push-content-right: 22px;
$line-desktop-align-line: 4px;
$line-desktop-padding-top: 1px;
$icon-size: 30px;

#{$WIZARD_STEP_SELECTOR} {
    #{$title-selector} {
        font-size: 1.125rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    #{$title-container-selector} {
        height: $icon-size;
    }

    #{$line-adjustment-selector} {
        height: calc(#{$line-down-length} + #{$line-gap-to-circle});
    }

    #{$header-selector} {
        margin-left: -10px;

        #{$icon-stack-selector} {
            display: block;
            width: $icon-size;
            height: $icon-size;
            margin-right: 8px;
        }

        #{$icon-number-selector} {
            width: 100%;
            text-align: center;
            font-size: 20px;
            position: absolute;
            font-weight: bold;
        }

        #{$icon-circle-selector} {
            width: $icon-size;
            height: $icon-size;
            transition:
                color 400ms ease-out,
                fill 400ms ease-out,
                opacity 400ms ease-out;
        }

        #{$icon-success-selector} {
            display: none;
        }
    }

    #{$step-of-selector} {
        color: $wizardstep-stepofselector-color-text;
        font-weight: normal;
        font-size: 1rem;
    }

    #{$line-down-selector} {
        position: relative;
        margin-bottom: $line-gap-to-circle;
        margin-left: #{$line-center};
        height: #{$line-down-length};
        margin-top: $line-gap-to-circle;
        width: #{$line-width};
        background-color: $wizardstep-line-color;
    }

    #{$line-up-selector} {
        margin-left: #{$line-center};
        height: #{$line-up-length};
        width: #{$line-width};
        margin-top: #{$line-gap-to-circle};
        margin-bottom: #{$line-up-adjustment-down};
        background-color: $wizardstep-line-color;
    }

    @media (forced-colors: active) {
        #{$line-up-selector,
        $line-down-selector} {
            background-color: CanvasText;
        }
    }
    @include core.breakpoint-up(md) {
        #{$line-up-selector} {
            margin-bottom: $line-gap-to-circle;
        }
    }
    @include core.breakpoint-up(md) {
        &__connector {
            border-left: #{$line-width} solid $wizardstep-line-color;
            padding-left: #{$line-desktop-push-content-right};
            margin-top: #{$line-desktop-adjustment-up};
            margin-left: #{$line-desktop-align-line};
            margin-bottom: #{$line-desktop-adjustment-down};
            padding-top: #{$line-desktop-padding-top};
        }
    }

    &--open #{$header-selector} {
        #{$title-selector} {
            color: $wizardstep-heading-color-default;
        }

        #{$icon-circle-selector} {
            fill: $wizardstep-circle-color-border;
            color: $wizardstep-circle-color-background-open;
        }

        #{$icon-number-selector} {
            color: var(--f-icon-color-black);
        }

        #{$step-of-selector} {
            display: block;
        }

        #{$title-placeholder-selector} {
            padding-top: 12px;
        }

        #{$line-up-selector} {
            height: 35px;
        }

        #{$line-down-selector} {
            margin-bottom: 0;
        }

        @media (forced-colors: active) {
            #{$icon-circle-selector} {
                fill: CanvasText; // circle border
                color: Canvas; // circle background
            }
        }
    }

    &--done #{$header-selector} {
        margin-top: $line-gap-to-circle;

        #{$anchor-selector} {
            color: $wizardstep-heading-color-done;
            text-decoration-color: $wizardstep-heading-color-done;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.25em;
        }

        #{$anchor-selector}:hover {
            text-decoration-color: $wizardstep-heading-decoration-color-done-hover;
            text-decoration-thickness: 3px;
            text-underline-offset: 0.25em;
        }

        #{$line-up-selector} {
            display: none;
        }

        #{$line-down-selector} {
            margin-bottom: 0;
        }

        #{$icon-circle-selector} {
            fill: $wizardstep-circle-color-border-done;
            color: $wizardstep-circle-color-background-done;
        }

        #{$icon-number-selector} {
            display: none;
        }

        #{$icon-success-selector} {
            display: block;
            color: $wizardstep-success-color;
            width: 20px;
            height: 20px;
            left: 5px;
            top: 5px;
        }

        #{$line-adjustment-selector} {
            height: calc(#{$line-down-length} + #{$line-gap-to-circle});
        }

        @media (forced-colors: active) {
            #{$icon-circle-selector} {
                fill: CanvasText; // circle border
                color: Canvas; // circle background
            }

            #{$icon-success-selector} {
                color: CanvasText;
            }
        }
    }

    &--pending #{$header-selector} {
        #{$title-selector} {
            color: var(--f-text-color-discrete);
        }

        #{$icon-number-selector} {
            color: var(--f-icon-color-discrete);
        }

        #{$icon-circle-selector} {
            fill: $wizardstep-circle-color-border;
            color: $wizardstep-circle-color-background-pending;
        }

        #{$title-placeholder-selector} {
            padding-top: 0;
        }

        #{$line-adjustment-selector} {
            height: calc(#{$line-down-length} + (#{$line-gap-to-circle} * 2));
        }

        @media (forced-colors: active) {
            #{$icon-circle-selector} {
                fill: CanvasText; // circle border
                color: Canvas; // circle background
            }
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--pending + #{$WIZARD_STEP_SELECTOR} {
    #{$line-up-selector} {
        display: none;
    }
    #{$title-placeholder-selector} {
        padding-top: 0;
    }
}

#{$WIZARD_STEP_SELECTOR}--open:first-child {
    #{$line-up-selector} {
        visibility: hidden;
        height: 1.25rem;
    }
    #{$title-placeholder-selector} {
        padding-top: 0;
    }
}

#{$WIZARD_STEP_SELECTOR}--done:first-child,
#{$WIZARD_STEP_SELECTOR}--pending:first-child {
    #{$line-up-selector} {
        display: none;
        margin-top: 0;
    }
}

#{$WIZARD_STEP_SELECTOR}--done {
    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--pending {
    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            margin-top: -#{$line-gap-to-circle};
            margin-bottom: $line-gap-to-circle;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--done:last-child,
#{$WIZARD_STEP_SELECTOR}--pending:last-child {
    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            border-left: none;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--done:last-child {
    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            border-left: none;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}:last-child {
    #{$line-down-selector} {
        display: none;
    }

    &.wizard-step--open {
        .wizard-step__connector {
            margin-top: 1rem;
        }
    }

    #{$line-adjustment-selector} {
        display: none;
    }
    @include core.breakpoint-up(md) {
        .wizard-step__connector {
            border-left: none;
        }
    }
}

#{$WIZARD_STEP_SELECTOR}--open,
#{$WIZARD_STEP_SELECTOR}--pending {
    #{$line-up-selector} {
        margin-top: -#{$line-gap-to-circle + 3};
    }
}

#{$WIZARD_STEP_SELECTOR}--done + #{$WIZARD_STEP_SELECTOR}--pending {
    margin-top: $line-gap-to-circle;

    #{$line-up-selector} {
        display: none;
    }
}
