<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>FTable - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-b62a23.css"
            crossorigin
            integrity="sha384-QyAoRKUR8qGTeAOcDJvJQ5/M5Rq3efoBlNSuJICtHiq9XgzhQWrlzGb1GRNvPrn3"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-739a55.css"
            crossorigin
            integrity="sha384-uz+6WPO4Mojvx2NlswR+QRzFsZqeoXdLpko5BOEQMd1J4KWaLn1oTX1tCO+HRqOb"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-9e9e90.js"></script>
        <script src="../assets/vendor-fkui-logic-b0075f.js"></script>
        <script src="../assets/vendor-fkui-date-1d9b40.js"></script>
        <script src="../assets/vendor-fkui-vue-a3354e.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-423e10.js"
            crossorigin
            integrity="sha384-VCLVRLwS7hROrBBi8IO07y/nt7EnH4UvFhDvHr2repK+Yvpuxa/H4ZuyrBHbKPfN"
            
        ></script> 
        <div id="example-92ee54"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FTableRowHeaderExample-92ee54.js"></script>
    
    </body>
</html>
