$list-row-color-border: var(--fkds-color-border-primary) !default;
$list-row-color-background-default: var(--fkds-color-background-primary) !default;
$list-row-color-background-hover: var(--fkds-color-select-background-primary-hover) !default;
$list-row-color-background-active: var(--fkds-color-select-background-primary-active) !default;
$list-row-color-text: var(--fkds-color-text-primary) !default;
