@use "../../mixins/focus";

button:focus-visible,
a:focus-visible,
a.button:focus-visible,
img:focus-visible,
select:focus-visible,
textarea:focus-visible,
input[type="submit"]:focus-visible,
input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="image"]:focus-visible,
input[type="search"]:focus-visible,
[tabindex]:focus-visible {
    @include focus.focus-indicator;
}

[tabindex="-1"]:focus-visible {
    box-shadow: none;
    outline: none;
}
