div {
    border: 1px solid hotpink;
}

.page-header__top {
    background-color: brown;
}

.page-header__middle {
    background-color: aliceblue;
}

.page-header__bottom {
    background-color: chocolate;
}
