@use "@fkui/theme-default" as theme with (
    $global: false
);
@use "@fkui/design";
@use "@fkui/design/lib/fonts.css";
@use "@forsakringskassan/docs-live-example";

:root {
    @include theme.auto;
}

html,
body {
    margin: 0;
    padding: 0;
}
