@use "@fkui/theme-default/src/fkui-css-variables" as fkui-default with (
    $global: false
);
@use "@fkui/theme-dark/src/fkui-css-variables" as fkui-dark with (
    $global: false
);
@use "@fkui/design";
@use "@fkui/design/lib/fonts.css";
@use "@forsakringskassan/docs-live-example";

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
    :root {
        @include fkui-default.css-variables;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include fkui-dark.css-variables;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}
