@use "../../core";
@use "../../core/size";
@use ".././list/list";
@use "variables" as *;

%selectable-item {
    border: list.$list-border;
    margin-bottom: 0;
    width: 100%;
    cursor: pointer;
    border-bottom: none;
    padding: 1rem;

    &:last-child {
        border-bottom: list.$list-border;
    }

    &:has(input:focus) {
        outline: 2px solid $selectable-item-button-border-color-border-default;
        outline-offset: -2px;
        z-index: 0;
    }

    &:hover {
        background: $selectable-item-color-background-hover;
    }

    &:has(.checkbox__input:disabled):hover {
        background: transparent;
    }
}

.radio-button,
.checkbox {
    &__details {
        display: block;
        margin-top: core.densify(size.$margin-025);
    }

    &__width {
        width: 100%;
    }
}
