@use "../../core/size";
@use "../../core/config-variables";

.iskiplink {
    position: absolute;
    top: -200px;

    &:focus {
        color: black;
        background-color: var(--f-background-skiplink-focus);
        left: 10px;
        top: 45px;
    }
}
