@use "@fkui/theme-default/src/default" as themeDefault with (
    $global: false
);

@use "light/theme" as light;
@use "dark/theme" as dark;
@use "auto/theme" as auto;

$global: true !default;

/// When enabled the semantic color tokens are overridden with the colors from
/// the legacy palette. Disabled by default.
$legacy-palette: false !default;

@mixin light($legacy-palette: $legacy-palette) {
    @include themeDefault.light($legacy-palette);
    @include light.theme;
}

@mixin dark($legacy-palette: $legacy-palette) {
    @include themeDefault.dark($legacy-palette);
    @include dark.theme;
}

@mixin auto($legacy-palette: $legacy-palette) {
    @include themeDefault.auto($legacy-palette);
    @include auto.theme;
}

@if $global {
    :root {
        @include themeDefault.light($legacy-palette);
        @include light.theme;
    }
}
