<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Sortera och filtrera i tabell (kod) - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../../assets/docs-0ee510.css"
            crossorigin
            integrity="sha384-IdjC3N/Nk2lvkPVHwtMY7WuZDKSYH6FFFpj0OS0XNg5XkCo/UG+eTkPvb+OuHa6i"
            
        />
        <link
            rel="stylesheet"
            href="../../../assets/docs-fkui-b0ff62.css"
            crossorigin
            integrity="sha384-n5Bk8lVpp7/O0eP0iy73kPjRDu1fGr+VjToQptVEfGUnwiWn1f6u/XXtJi75oN46"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../../assets/bootstrap-cb5127.js"
            crossorigin
            integrity="sha384-Gfzmg/37+WdxGA3iw2k2/GaeiotI8p9jeSL/GBxyG6mSiyqsRNfgEEroGYvJ3O9b"
            
        ></script>

        <!-- prettier-ignore -->
        <link
    rel="preload"
    href="../../../search-data-696579.json"
    as="fetch"
    crossorigin
    integrity="sha384-djDFAdCPz6+G2R9oBAdE63/PnsKZkeUcADSqT8PMoMdMRvMto6Nv3v9rHhGzPssH"
    id="search-data"
/>
<script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../../assets/vendor-vue-5ec080.js"></script>
        <script src="../../../assets/vendor-fkui-vue-selectors-7437b8.js"></script>
        <script src="../../../assets/vendor-fkui-logic-9ed948.js"></script>
        <script src="../../../assets/vendor-fkui-date-4ec930.js"></script>
        <script src="../../../assets/vendor-fkui-vue-027aca.js"></script>
        <script src="../../../assets/vendor-forsakringskassan-docs-live-example-3c5ada.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../../assets/processors/motd/index-cda4cc.js"
            crossorigin
            integrity="sha384-MiyHuq1hbcemP/RGZgotKZC8qlPOYjlrbQ/VNcrv6ju3y4SnFHj2CvLfATECOQdA"
            
        ></script>
        <script
            src="../../../assets/processors/selectable-version/select-version-f49c40.js"
            crossorigin
            integrity="sha384-uevz0sUP/zTO49hbvII+JLX837XoL/2lbgqKC9ckaay9uaGvpwbAu1u1cIZASM8c"
            
        ></script>
        <script
            src="../../../assets/main-a0ba1b.js"
            crossorigin
            integrity="sha384-a0BdVZ5bPxLbdTTYHgks9wBb2sVoRlWEvm6ZUNJtwJLraLWZmJMPmoKi/mGwOUku"
            
        ></script> <f-sort-filter-dataset :data="rows" :sortable-attributes>
    <template #default="{ sortFilterResult }">
        <f-table :rows="sortFilterResult" :columns></f-table>
    </template>
</f-sort-filter-dataset>

    </body>
</html>
