<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-8a7e0d.css"
            crossorigin
            integrity="sha384-d3iBwgxgBm8WeEoUAiGNp58lSJz5c4wgRGhBywT61qiw9KUdmYD2Jrqs2UyRsoMX"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-exp-92363b.css"
            crossorigin
            integrity="sha384-GnAr4mRB9iUQCZK2jAZ633AWYyl1yEcHDgjKQQBxzUcL/SK1vpfOJinD4yCeXRoO"
            data-theme="exp" disabled
        />
        <link
            rel="stylesheet"
            href="../assets/docs-int-7603d6.css"
            crossorigin
            integrity="sha384-bxGVtV21KtjijPXt4AMyRnnA/Oui0o9Mc5xRu24BdCvOBGEc+rToM6rbjeF1mYv9"
            data-theme="int" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-0df2b2.js"
            crossorigin
            integrity="sha384-/CsPb6xxx2R6SuFD6YW8AvT0hMxEGGkO4Mh6yG04C8ck+/qIKXqKA3EALt2ADT17"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    function themeRenderBlocker() {
        const theme = window.localStorage.getItem("fkds-theme") ?? "exp";
        const style = Array.from(document.querySelectorAll("[data-theme]"));
        for (const el of style) {
            el.disabled = el.dataset.theme !== theme;
        }
    }

    themeRenderBlocker();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-ce6943.js"></script>
        <script src="../assets/vendor-fkui-logic-5a07de.js"></script>
        <script src="../assets/vendor-fkui-date-0b5d4b.js"></script>
        <script src="../assets/vendor-fkui-vue-00a3fd.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-231ac2.js"
            crossorigin
            integrity="sha384-rkZqIBZ5uct9KGGDQnA3bszHyuUewd3VTBT1sbbsTEeNKfCjeLgw6SiTEUnEdaXo"
            
        ></script> 
        <div id="XTimeTextFieldExample"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./XTimeTextFieldExample-df252e.js"></script>
    
    </body>
</html>
