<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-fa9e03.css"
            crossorigin
            integrity="sha384-657kPBrnHkJF0LQlHDVT2VyoPoJU91BiQFgqJu4N6fGupZiV5nQJ2hTDBPWpQnur"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-322303.css"
            crossorigin
            integrity="sha384-uP7E+arjU+dNVZdkxiQwgjE/vja2lWa7n5wTp3pdsBPAfyJGt/Rn45YUfymwPyYz"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-5d4739.js"></script>
        <script src="../assets/vendor-fkui-logic-c06ed0.js"></script>
        <script src="../assets/vendor-fkui-date-d11adb.js"></script>
        <script src="../assets/vendor-fkui-vue-b8835f.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-7c1602.js"
            crossorigin
            integrity="sha384-GM735v+oBECPXFir7+GALpEq3juxLrPOOw7AeqEMCH7Z6YCCDraO5T0AS6mmAMV0"
            
        ></script> 
        <div id="example-01cf1c"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./XTimeTextFieldExample-01cf1c.js"></script>
    
    </body>
</html>
