<!doctype html>
<html lang="sv" class="layout--example">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-dd880c.css"
            crossorigin
            integrity="sha384-qVzjX61hyoXbU/ebQXCs6L1cnzAf+45WkPooLRLkrRTYpNyMfpBJdYmjPRZK2f8+"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-exp-1f1329.css"
            crossorigin
            integrity="sha384-LvZ+UFw73oapWJbg5uXjo5+qIx/3BbiF8rbo/5X042Vt4a2jiVQprUPlAr3sbP2W"
            data-theme="exp" disabled
        />
        <link
            rel="stylesheet"
            href="../assets/docs-int-fbd2c5.css"
            crossorigin
            integrity="sha384-a30FzaUU1hm11OCRxl65Qr5GoMpc6EeRDzpo8fLOc3o3gjj+B2x/FbyFuO8PDmp+"
            data-theme="int" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-0df2b2.js"
            crossorigin
            integrity="sha384-/CsPb6xxx2R6SuFD6YW8AvT0hMxEGGkO4Mh6yG04C8ck+/qIKXqKA3EALt2ADT17"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    function themeRenderBlocker() {
        const theme = window.localStorage.getItem("fkds-theme") ?? "exp";
        const style = Array.from(document.querySelectorAll("[data-theme]"));
        for (const el of style) {
            el.disabled = el.dataset.theme !== theme;
        }
    }

    themeRenderBlocker();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-e66e9e.js"></script>
        <script src="../assets/vendor-fkui-logic-4dae35.js"></script>
        <script src="../assets/vendor-fkui-date-effe99.js"></script>
        <script src="../assets/vendor-fkui-vue-885a8f.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-a429cc.js"
            crossorigin
            integrity="sha384-0JEDf7LWdgcUcYrR8b9Th/kvcYRCwjtEuLUclbuBYF8KKaC54MqWllcAvGArNgvU"
            
        ></script>

        <main>
        <div id="ForgivingInput"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./ForgivingInput-7905ff.js"></script>
    </main>
    </body>
</html>
