<!doctype html>
<html lang="sv" class="layout--example">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-b68989.css"
            crossorigin
            integrity="sha384-M8kvjNDps57xI3EDgWHDWKcZfSraR/9x5sdKkJnvgVm4LZj9oyf/6mhs9/L7rd9c"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-exp-31c170.css"
            crossorigin
            integrity="sha384-sKi9JXI2/mbK9Tyfy7JT3Fuq6N6csDTAgAQ57Ib9wPit97G63UkeUfeI45GlSlb6"
            data-theme="exp" disabled
        />
        <link
            rel="stylesheet"
            href="../assets/docs-int-cdb36c.css"
            crossorigin
            integrity="sha384-MZRAiKEE+OKSPzVMaPJkWXT3cWc7mcma+jLBj635v8sw704w644XOqGVwXew4V96"
            data-theme="int" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-0df2b2.js"
            crossorigin
            integrity="sha384-/CsPb6xxx2R6SuFD6YW8AvT0hMxEGGkO4Mh6yG04C8ck+/qIKXqKA3EALt2ADT17"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    function themeRenderBlocker() {
        const theme = window.localStorage.getItem("fkds-theme") ?? "exp";
        const style = Array.from(document.querySelectorAll("[data-theme]"));
        for (const el of style) {
            el.disabled = el.dataset.theme !== theme;
        }
    }

    themeRenderBlocker();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-e66e9e.js"></script>
        <script src="../assets/vendor-fkui-logic-4dae35.js"></script>
        <script src="../assets/vendor-fkui-date-effe99.js"></script>
        <script src="../assets/vendor-fkui-vue-bbfd4e.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-a429cc.js"
            crossorigin
            integrity="sha384-0JEDf7LWdgcUcYrR8b9Th/kvcYRCwjtEuLUclbuBYF8KKaC54MqWllcAvGArNgvU"
            
        ></script>

        <main>
        <div id="XTimeTextFieldExample"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./XTimeTextFieldExample-df252e.js"></script>
    </main>
    </body>
</html>
