@use "../../core";
@use "../icon/icon";
@use "../../core/size";
@use "../../core/utils/functions" as *;
@use "variables" as *;

$SELECT_FIELD_SELECTOR: ".select-field" !default;

#{$SELECT_FIELD_SELECTOR} {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 densify(var(--f-margin-component-bottom));
    position: relative;
    width: var(--f-width-full);

    &--inline {
        @include core.label-inline;
    }

    &--table {
        margin-bottom: 0;
    }

    &--table-error {
        #{$SELECT_FIELD_SELECTOR}__select {
            padding-right: calc(var(--f-icon-size-large) + 2.25rem);
        }
    }

    &__select {
        appearance: none;
        background-color: $selectfield-color-background-default;
        box-shadow: var(--f-input-shadow-inset);
        border-radius: var(--f-border-radius-medium);
        border: var(--f-border-width-medium) solid $selectfield-color-border-default;
        color: $selectfield-color-text-default;
        cursor: pointer;
        min-height: densify(var(--f-height-large));
        padding: var(--padding-input-fields);
        width: var(--f-width-full);

        &:hover {
            background-color: $selectfield-color-background-hover;
        }

        &:focus {
            background-color: $selectfield-color-background-focus;
        }

        &:disabled {
            border-color: $selectfield-color-border-disabled;
            color: $selectfield-color-text-disabled;
            background-color: $selectfield-color-background-disabled;
            opacity: 1;
        }
    }

    &__select:disabled + &__icon {
        color: $selectfield-icon-color-content-disabled;
    }

    &__icon-wrapper {
        position: relative;
    }

    &__icon {
        @extend %icon--inset-top-right;

        color: $selectfield-f-icon-arrow-down-color-content-default;
    }

    &__error-popup-icon {
        color: var(--f-text-color-error);
        display: inline;
        position: absolute;
        right: calc(var(--f-icon-size-large) + 0.75rem);
        top: size.$margin-050;
        height: var(--f-icon-size-large);
        width: var(--f-icon-size-large);
        overflow: hidden;
        text-align: center;
    }
    &--error {
        #{$SELECT_FIELD_SELECTOR}__select {
            border-color: $selectfield-color-border-error;
        }
    }
}
