@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url("./assets/fonts/Inter-Light.woff2") format("woff2");
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url("./assets/fonts/Inter-Medium.woff2") format("woff2");
}
@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url("./assets/fonts/Inter-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("./assets/fonts/Inter-Bold.woff2") format("woff2");
}
@media (prefers-color-scheme: light) {
  .code-preview__preview,
  .live-example__example,
  .user-theme {
    --f-text-color-heading-1: inherit;
    --f-text-color-heading-2: inherit;
    --f-text-color-heading-3: inherit;
    --f-text-color-heading-4: inherit;
    --f-text-color-heading-5: inherit;
    --f-text-color-heading-6: inherit;
    --f-icon-color-success: #35805b;
    --f-icon-color-success-background: #dbe9e2;
    --f-background-overlay: rgba(0, 0, 0, 0.75);
    --f-background-pageheader-primary: #116a3e;
    --f-background-skiplink-focus: #f5f6fa;
    --f-background-sidepanel-button-tertiary-hover: #e5e5f5;
    --f-border-color-separator: #ddddde;
    --f-border-color-separator-pageheader-primary: #ffffff;
    --f-box-modal-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    --f-input-shadow-inset: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    --f-font-family: "ExpFont", "NeueHass", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    --f-font-family-code: "Consolas", "Liberation Mono", "Courier", monospace;
    --f-font-size-default-rem: 16px;
    --f-font-size-default-large-up-rem: 16px;
    --f-font-weight-normal: 400;
    --f-font-weight-medium: 700;
    --f-font-weight-bold: 900;
    --f-line-height-small: 1.25;
    --f-line-height-medium: 1.4;
    --f-line-height-large: 1.5;
    --f-font-size-h1: 2.5rem;
    --f-font-size-h2: 1.75rem;
    --f-font-size-xxx-large: 1.5rem;
    --f-font-size-h3: 1.375rem;
    --f-font-size-h4: 1.25rem;
    --f-font-size-large: 1.125rem;
    --f-font-size-standard: 1rem;
    --f-icon-size-x-small: 0.75rem;
    --f-icon-size-small: 1rem;
    --f-icon-size-medium: 1.25rem;
    --f-icon-size-large: 1.5rem;
    --f-icon-size-x-large: 2rem;
    --f-height-small: 0.75rem;
    --f-height-medium: 1.25rem;
    --f-height-large: 2.5rem;
    --f-width-full: 100%;
    --f-border-width-small: 1px;
    --f-border-width-medium: 2px;
    --f-border-radius-small: 2px;
    --f-border-radius-medium: 4px;
    --f-margin-component-bottom: 1.5rem;
    --padding-input-fields: 0 2.25rem 0 0.75rem;
    --f-color-focus: #1b1e23;
    --f-focus-box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #1b1e23, 0 0 0 6px #ffffff;
    --f-animation-duration-short: 150ms;
    --f-animation-duration-medium: 350ms;
    --f-animation-duration-long: 500ms;
    --f-animation-expand-open: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
    --f-animation-expand-close: all 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
    --f-density-factor: 1;
    --f-label-message-margin-top: 0.25rem;
    --f-button-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    --f-button-shadow-hover: 0 1px 3px rgba(0, 0, 0, 0.3);
    --f-button-min-width: 9.5rem;
    --f-button-letter-spacing: 0.01rem;
    --f-button-default-line-height: 1.5rem;
    --f-button-discrete-radius-hover: none;
    --f-button-tertiary-table-column-action-icon-margin: 0 8px 0 2px;
    --f-button-tertiary-table-column-action-margin: 0 0 0 0.5rem;
    --f-button-default-padding-top: 1rem;
    --f-button-default-padding-right: 1.5rem;
    --f-button-default-padding-bottom: 1rem;
    --f-button-default-padding-left: 1.5rem;
    --f-button-primary-padding-top: 1rem;
    --f-button-primary-padding-right: 1.5rem;
    --f-button-primary-padding-bottom: 1rem;
    --f-button-primary-padding-left: 1.5rem;
    --f-button-secondary-padding-top: 1rem;
    --f-button-secondary-padding-right: 1.5rem;
    --f-button-secondary-padding-bottom: 1rem;
    --f-button-secondary-padding-left: 1.5rem;
    --f-button-standard-padding-top: 1rem;
    --f-button-standard-padding-right: 1.5rem;
    --f-button-standard-padding-bottom: 1rem;
    --f-button-standard-padding-left: 1.5rem;
    --f-button-tertiary-padding-top: 0.75rem;
    --f-button-tertiary-padding-right: 0.5rem;
    --f-button-tertiary-padding-bottom: 0.75rem;
    --f-button-tertiary-padding-left: 0.5rem;
    --f-button-discrete-padding-top: initial;
    --f-button-discrete-padding-right: initial;
    --f-button-discrete-padding-bottom: initial;
    --f-button-discrete-padding-left: initial;
    --f-button-discrete-black-padding-top: initial;
    --f-button-discrete-black-padding-right: initial;
    --f-button-discrete-black-padding-bottom: initial;
    --f-button-discrete-black-padding-left: initial;
    --f-modal-close-button-margin: 1rem 1rem 0;
    --f-modal-close-button-padding: none;
    --f-modal-size-small: 500px;
    --f-modal-size-medium: 700px;
    --f-modal-size-large: 1200px;
    --f-modal-size-fullwidth: 100%;
    --f-modal-title-font-size: 1.25rem;
    --f-tooltip-close-button-margin: 0.375rem 0.375rem 0.625rem 0.625rem;
    --f-tooltip-border-color: #8d8e91;
    --f-tooltip-border-width: var(--f-border-width-medium);
    --f-loader-size: 4rem;
    --f-loader-margin: 0 auto 3rem auto;
    --f-table-body-row-padding: 0.5rem;
    --f-list-item-itempane-padding: 1.25rem;
    --i-popup-error-offset: 24px;
    --f-tooltip-offset: 0px;
    --f-tooltip-icon-size: 0px;
    --f-logo-image-small: none;
    --f-logo-image-large: none;
    --f-logo-size-small: 0.8rem;
    --f-logo-size-large: 0.8rem 6.195rem;
    --f-calendar-height: 21rem;
    --size: 0;
    --min: 0;
    --max: 0;
    --fkds-color-text-primary: #1b1e23;
    --fkds-color-text-secondary: #5f6165;
    --fkds-color-text-inverted: #ffffff;
    --fkds-color-text-disabled: #8d8e91;
    --fkds-color-background-primary: #ffffff;
    --fkds-color-background-secondary: #f4f4f4;
    --fkds-color-background-tertiary: #ddddde;
    --fkds-color-background-disabled: #f4f4f4;
    --fkds-color-border-primary: #8d8e91;
    --fkds-color-border-strong: #5f6165;
    --fkds-color-border-weak: #ddddde;
    --fkds-color-border-disabled: #8d8e91;
    --fkds-color-border-inverted: #ffffff;
    --fkds-color-action-text-primary-default: #4a52b6;
    --fkds-color-action-text-primary-hover: #3b4292;
    --fkds-color-action-text-primary-active: #3b4292;
    --fkds-color-action-text-primary-focus: #3b4292;
    --fkds-color-action-text-secondary-default: #1b1e23;
    --fkds-color-action-text-secondary-hover: #3b4292;
    --fkds-color-action-text-secondary-active: #3b4292;
    --fkds-color-action-text-secondary-focus: #3b4292;
    --fkds-color-action-text-inverted-default: #ffffff;
    --fkds-color-action-text-inverted-hover: #ffffff;
    --fkds-color-action-text-inverted-active: #ffffff;
    --fkds-color-action-text-inverted-focus: #ffffff;
    --fkds-color-action-background-primary-default: #4a52b6;
    --fkds-color-action-background-primary-hover: #3b4292;
    --fkds-color-action-background-primary-active: #3b4292;
    --fkds-color-action-background-primary-focus: #3b4292;
    --fkds-color-action-background-secondary-default: #f5f6fa;
    --fkds-color-action-background-secondary-hover: #e5e5f5;
    --fkds-color-action-background-secondary-active: #e5e5f5;
    --fkds-color-action-background-secondary-focus: #e5e5f5;
    --fkds-color-action-border-primary-default: #4a52b6;
    --fkds-color-action-border-primary-hover: #3b4292;
    --fkds-color-action-border-primary-active: #3b4292;
    --fkds-color-action-border-primary-focus: #3b4292;
    --fkds-color-feedback-background-neutral: #f4f4f4;
    --fkds-color-feedback-background-neutral-strong: #ddddde;
    --fkds-color-feedback-background-info: #f5f6fa;
    --fkds-color-feedback-background-info-strong: #4a52b6;
    --fkds-color-feedback-background-positive: #f3f8f5;
    --fkds-color-feedback-background-positive-strong: #35805b;
    --fkds-color-feedback-background-warning: #fffcf3;
    --fkds-color-feedback-background-warning-strong: #ffbe10;
    --fkds-color-feedback-background-negative: #fcf3f3;
    --fkds-color-feedback-background-negative-strong: #ca1515;
    --fkds-color-feedback-border-neutral: #8d8e91;
    --fkds-color-feedback-border-info: #4a52b6;
    --fkds-color-feedback-border-positive: #35805b;
    --fkds-color-feedback-border-warning: #ffbe10;
    --fkds-color-feedback-border-negative: #ca1515;
    --fkds-color-feedback-text-negative: #ca1515;
    --fkds-color-feedback-text-positive: #35805b;
    --fkds-color-select-background-primary-default: #4a52b6;
    --fkds-color-select-background-primary-hover: #e5e5f5;
    --fkds-color-select-background-primary-active: #e5e5f5;
    --fkds-color-select-background-primary-focus: #e5e5f5;
    --fkds-color-select-background-secondary-default: #35805b;
    --fkds-color-select-background-secondary-hover: #dbe9e2;
    --fkds-color-select-background-secondary-active: #dbe9e2;
    --fkds-color-select-background-secondary-focus: #dbe9e2;
    --fkds-color-navigation-border-hover: #88b49f;
    --fkds-color-navigation-border-selected: #35805b;
    --fkds-color-navigation-background-hover: #dbe9e2;
    --fkds-color-navigation-background-selected: #35805b;
    --fkui-theme-default-version: "6.30.0";
  }
}
@media (prefers-color-scheme: dark) {
  .code-preview__preview,
  .live-example__example,
  .user-theme {
    --f-text-color-heading-1: inherit;
    --f-text-color-heading-2: inherit;
    --f-text-color-heading-3: inherit;
    --f-text-color-heading-4: inherit;
    --f-text-color-heading-5: inherit;
    --f-text-color-heading-6: inherit;
    --f-icon-color-success: #35805b;
    --f-icon-color-success-background: #dbe9e2;
    --f-background-overlay: rgba(0, 0, 0, 0.75);
    --f-background-pageheader-primary: #116a3e;
    --f-background-skiplink-focus: #f5f6fa;
    --f-background-sidepanel-button-tertiary-hover: #e5e5f5;
    --f-border-color-separator: #ddddde;
    --f-border-color-separator-pageheader-primary: #ffffff;
    --f-box-modal-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    --f-input-shadow-inset: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    --f-font-family: "ExpFont", "NeueHass", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    --f-font-family-code: "Consolas", "Liberation Mono", "Courier", monospace;
    --f-font-size-default-rem: 16px;
    --f-font-size-default-large-up-rem: 16px;
    --f-font-weight-normal: 400;
    --f-font-weight-medium: 700;
    --f-font-weight-bold: 900;
    --f-line-height-small: 1.25;
    --f-line-height-medium: 1.4;
    --f-line-height-large: 1.5;
    --f-font-size-h1: 2.5rem;
    --f-font-size-h2: 1.75rem;
    --f-font-size-xxx-large: 1.5rem;
    --f-font-size-h3: 1.375rem;
    --f-font-size-h4: 1.25rem;
    --f-font-size-large: 1.125rem;
    --f-font-size-standard: 1rem;
    --f-icon-size-x-small: 0.75rem;
    --f-icon-size-small: 1rem;
    --f-icon-size-medium: 1.25rem;
    --f-icon-size-large: 1.5rem;
    --f-icon-size-x-large: 2rem;
    --f-height-small: 0.75rem;
    --f-height-medium: 1.25rem;
    --f-height-large: 2.5rem;
    --f-width-full: 100%;
    --f-border-width-small: 1px;
    --f-border-width-medium: 2px;
    --f-border-radius-small: 2px;
    --f-border-radius-medium: 4px;
    --f-margin-component-bottom: 1.5rem;
    --padding-input-fields: 0 2.25rem 0 0.75rem;
    --f-color-focus: #1b1e23;
    --f-focus-box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #1b1e23, 0 0 0 6px #ffffff;
    --f-animation-duration-short: 150ms;
    --f-animation-duration-medium: 350ms;
    --f-animation-duration-long: 500ms;
    --f-animation-expand-open: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
    --f-animation-expand-close: all 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
    --f-density-factor: 1;
    --f-label-message-margin-top: 0.25rem;
    --f-button-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    --f-button-shadow-hover: 0 1px 3px rgba(0, 0, 0, 0.3);
    --f-button-min-width: 9.5rem;
    --f-button-letter-spacing: 0.01rem;
    --f-button-default-line-height: 1.5rem;
    --f-button-discrete-radius-hover: none;
    --f-button-tertiary-table-column-action-icon-margin: 0 8px 0 2px;
    --f-button-tertiary-table-column-action-margin: 0 0 0 0.5rem;
    --f-button-default-padding-top: 1rem;
    --f-button-default-padding-right: 1.5rem;
    --f-button-default-padding-bottom: 1rem;
    --f-button-default-padding-left: 1.5rem;
    --f-button-primary-padding-top: 1rem;
    --f-button-primary-padding-right: 1.5rem;
    --f-button-primary-padding-bottom: 1rem;
    --f-button-primary-padding-left: 1.5rem;
    --f-button-secondary-padding-top: 1rem;
    --f-button-secondary-padding-right: 1.5rem;
    --f-button-secondary-padding-bottom: 1rem;
    --f-button-secondary-padding-left: 1.5rem;
    --f-button-standard-padding-top: 1rem;
    --f-button-standard-padding-right: 1.5rem;
    --f-button-standard-padding-bottom: 1rem;
    --f-button-standard-padding-left: 1.5rem;
    --f-button-tertiary-padding-top: 0.75rem;
    --f-button-tertiary-padding-right: 0.5rem;
    --f-button-tertiary-padding-bottom: 0.75rem;
    --f-button-tertiary-padding-left: 0.5rem;
    --f-button-discrete-padding-top: initial;
    --f-button-discrete-padding-right: initial;
    --f-button-discrete-padding-bottom: initial;
    --f-button-discrete-padding-left: initial;
    --f-button-discrete-black-padding-top: initial;
    --f-button-discrete-black-padding-right: initial;
    --f-button-discrete-black-padding-bottom: initial;
    --f-button-discrete-black-padding-left: initial;
    --f-modal-close-button-margin: 1rem 1rem 0;
    --f-modal-close-button-padding: none;
    --f-modal-size-small: 500px;
    --f-modal-size-medium: 700px;
    --f-modal-size-large: 1200px;
    --f-modal-size-fullwidth: 100%;
    --f-modal-title-font-size: 1.25rem;
    --f-tooltip-close-button-margin: 0.375rem 0.375rem 0.625rem 0.625rem;
    --f-tooltip-border-color: #8d8e91;
    --f-tooltip-border-width: var(--f-border-width-medium);
    --f-loader-size: 4rem;
    --f-loader-margin: 0 auto 3rem auto;
    --f-table-body-row-padding: 0.5rem;
    --f-list-item-itempane-padding: 1.25rem;
    --i-popup-error-offset: 24px;
    --f-tooltip-offset: 0px;
    --f-tooltip-icon-size: 0px;
    --f-logo-image-small: none;
    --f-logo-image-large: none;
    --f-logo-size-small: 0.8rem;
    --f-logo-size-large: 0.8rem 6.195rem;
    --f-calendar-height: 21rem;
    --size: 0;
    --min: 0;
    --max: 0;
    --fkds-color-text-primary: #ddddde;
    --fkds-color-text-secondary: #bbbbbd;
    --fkds-color-text-inverted: #1b1e23;
    --fkds-color-text-disabled: #8d8e91;
    --fkds-color-background-primary: #1b1e23;
    --fkds-color-background-secondary: #1b1e23;
    --fkds-color-background-tertiary: #8d8e91;
    --fkds-color-background-disabled: #5f6165;
    --fkds-color-border-primary: #bbbbbd;
    --fkds-color-border-strong: #ddddde;
    --fkds-color-border-weak: #8d8e91;
    --fkds-color-border-disabled: #bbbbbd;
    --fkds-color-border-inverted: #1b1e23;
    --fkds-color-action-text-primary-default: #a4a8db;
    --fkds-color-action-text-primary-hover: #e5e5f5;
    --fkds-color-action-text-primary-active: #e5e5f5;
    --fkds-color-action-text-primary-focus: #e5e5f5;
    --fkds-color-action-text-secondary-default: #ddddde;
    --fkds-color-action-text-secondary-hover: #e5e5f5;
    --fkds-color-action-text-secondary-active: #e5e5f5;
    --fkds-color-action-text-secondary-focus: #f5f6fa;
    --fkds-color-action-text-inverted-default: #1b1e23;
    --fkds-color-action-text-inverted-hover: #1b1e23;
    --fkds-color-action-text-inverted-active: #1b1e23;
    --fkds-color-action-text-inverted-focus: #1b1e23;
    --fkds-color-action-background-primary-default: #a4a8db;
    --fkds-color-action-background-primary-hover: #e5e5f5;
    --fkds-color-action-background-primary-active: #e5e5f5;
    --fkds-color-action-background-primary-focus: #e5e5f5;
    --fkds-color-action-background-secondary-default: #1b1e23;
    --fkds-color-action-background-secondary-hover: #5f6165;
    --fkds-color-action-background-secondary-active: #5f6165;
    --fkds-color-action-background-secondary-focus: #5f6165;
    --fkds-color-action-border-primary-default: #a4a8db;
    --fkds-color-action-border-primary-hover: #e5e5f5;
    --fkds-color-action-border-primary-active: #e5e5f5;
    --fkds-color-action-border-primary-focus: #e5e5f5;
    --fkds-color-feedback-background-neutral: #1b1e23;
    --fkds-color-feedback-background-neutral-strong: #bbbbbd;
    --fkds-color-feedback-background-info: #1b1e23;
    --fkds-color-feedback-background-info-strong: #a4a8db;
    --fkds-color-feedback-background-positive: #1b1e23;
    --fkds-color-feedback-background-positive-strong: #88b49f;
    --fkds-color-feedback-background-warning: #1b1e23;
    --fkds-color-feedback-background-warning-strong: #ffdf87;
    --fkds-color-feedback-background-negative: #1b1e23;
    --fkds-color-feedback-background-negative-strong: #e48a8a;
    --fkds-color-feedback-border-neutral: #8d8e91;
    --fkds-color-feedback-border-info: #a4a8db;
    --fkds-color-feedback-border-positive: #88b49f;
    --fkds-color-feedback-border-warning: #ffdf87;
    --fkds-color-feedback-border-negative: #e48a8a;
    --fkds-color-feedback-text-negative: #e48a8a;
    --fkds-color-feedback-text-positive: #88b49f;
    --fkds-color-select-background-primary-default: #a4a8db;
    --fkds-color-select-background-primary-hover: #656cc1;
    --fkds-color-select-background-primary-active: #656cc1;
    --fkds-color-select-background-primary-focus: #656cc1;
    --fkds-color-select-background-secondary-default: #88b49f;
    --fkds-color-select-background-secondary-hover: #35805b;
    --fkds-color-select-background-secondary-active: #35805b;
    --fkds-color-select-background-secondary-focus: #35805b;
    --fkds-color-navigation-border-hover: #dbe9e2;
    --fkds-color-navigation-border-selected: #35805b;
    --fkds-color-navigation-background-hover: #88b49f;
    --fkds-color-navigation-background-selected: #35805b;
    --fkui-theme-default-version: "6.30.0";
  }
}
.code-preview__preview,
.live-example__example,
.user-theme {
  --f-font-family: "Inter", arial, "Helvetica Neue", sans-serif;
  --f-font-weight-normal: 400;
  --f-font-weight-medium: 600;
  --f-font-weight-bold: 700;
  --f-logo-image-small: url("./images/fk-logo-primary-small.svg"), $solid-color;
  --f-logo-image-large: url("./images/fk-logo-primary-large.svg"), $solid-color;
  font-family: var(--f-font-family);
}