@use "../../core";
@use "../../core/size";
@use "variables" as *;

$close-button--default: (
    background-color: $closebutton-default-color-background-default,
    background-color--hover: $closebutton-default-color-background-hover,
    background-color--active: $closebutton-default-color-background-active,
    background-color--focus: $closebutton-default-color-background-focus,
    color: $closebutton-default-color-text-default,
    color--hover: $closebutton-default-color-text-hover,
    color--active: $closebutton-default-color-text-active,
    color--focus: $closebutton-default-color-text-focus,
    shadow: none,
    padding-top: core.densify(0.625rem),
    padding-right: size.$padding-125,
    padding-bottom: core.densify(0.625rem),
    padding-left: size.$padding-125,
) !default;
$close-button--inverted: (
    background-color: $closebutton-inverted-color-background-default,
    background-color--hover: $closebutton-inverted-color-background-hover,
    background-color--active: $closebutton-inverted-color-background-active,
    background-color--focus: $closebutton-inverted-color-background-focus,
    color: $closebutton-inverted-color-text-default,
    color--hover: $closebutton-inverted-color-text-hover,
    color--active: $closebutton-inverted-color-text-active,
    color--focus: $closebutton-inverted-color-text-focus,
    shadow: none,
    padding-top: core.densify(0.625rem),
    padding-right: size.$padding-125,
    padding-bottom: core.densify(0.625rem),
    padding-left: size.$padding-125,
) !default;

.close-button {
    align-items: center;
    border-radius: var(--f-border-radius-medium);
    border-style: solid;
    cursor: pointer;
    display: inline-flex;
    font-size: var(--f-font-size-standard);
    font-weight: var(--f-font-weight-medium);
    gap: 0.5rem;
    justify-content: center;
    letter-spacing: var(--f-button-letter-spacing);
    line-height: var(--f-button-default-line-height);
    margin: 0.375rem;
    text-align: center;
    transition: background-color var(--f-animation-duration-medium) ease-out;

    @include core.make-button-variant(".close-button", $close-button--default...);

    .icon {
        min-width: var(--f-icon-size-small);
    }

    &--inverted {
        @include core.make-button-variant(".close-button--inverted", $close-button--inverted...);
    }

    &--small {
        padding: 0.125rem 0.625rem;
    }
}
