.close-button {
    align-items: center;
    background: inherit;
    border: none;
    color: var(--f-text-color-close-button);
    cursor: pointer;
    display: flex;
    font-weight: 700;
    gap: 0.5rem;
    margin: 0.375rem;
    padding: 0.125rem 0.625rem;

    .icon {
        min-width: var(--f-icon-size-small);
    }
}
