@use "../../core/size";
@use "../../core/mixins/breakpoints" as bp;
@use "../../core/mixins/forcedcolors";
@use "variables" as *;

$chip-border-radius: 20px;
$chip-border-width: var(--f-border-width-medium);

@mixin chip($group, $item, $type) {
    .#{$group}--chip {
        .#{$group}__content {
            gap: 0.5rem;
        }

        .#{$item} {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 0;
            gap: 0;
            font-weight: var(--f-font-weight-medium);
            padding: size.$padding-050 size.$padding-100;
            border-radius: $chip-border-radius;
            border: $chip-border-width solid $chip-color-border-default;
            background-color: $chip-color-background-default;
            color: $chip-color-text-default;
            max-width: 400px;
            width: 100%;

            svg {
                margin-right: size.$margin-050;
            }

            &:has(.#{$item}__input:disabled) {
                background: $chip-color-background-disabled;
                border-color: $chip-color-border-disabled;
                color: $chip-color-text-disabled;

                @media (forced-colors: active) {
                    color: GrayText;
                }
            }
        }

        .#{$item}__input,
        .#{$item}__input:disabled,
        .#{$item}__input::before,
        .#{$item}__input:disabled::before,
        .#{$item}__input:checked::before {
            display: initial;
            width: initial;
            height: initial;
            border: none;
        }

        .#{$item}__content {
            align-items: center;
            width: 100%;
        }

        .#{$item}:hover {
            border-color: $chip-color-border-hover;
            background-color: $chip-color-background-hover;
            color: $chip-color-text-hover;

            @include forcedcolors.hover-indicator(border, $chip-border-width);
        }

        .#{$item}:has(.#{$item}__input:checked) {
            background: $chip-color-background-selected;
            border-color: $chip-color-border-selected;
            color: $chip-color-text-selected;

            @include forcedcolors.selected-indicator;
        }

        .#{$item}:has(.#{$item}__input:focus) {
            border-radius: $chip-border-radius;
        }
    }

    .#{$group}--chip.#{$group}--horizontal {
        .#{$group}__content {
            flex-flow: row wrap;

            .#{$item} {
                width: fit-content;

                @include bp.breakpoint-down(sm) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include chip("radio-button-group", "radio-button", "radio");
@include chip("checkbox-group", "checkbox", "checkbox");
