@use "../../core/size";
@use "../../core/mixins/breakpoints" as bp;
@use "variables" as *;

$chip-border-radius: 20px;

@mixin chip($group, $item, $type) {
    .#{$group}--chip {
        .#{$group}__label {
            margin-bottom: size.$margin-025;
        }

        .#{$group}__content {
            margin: -0.25rem;
        }

        .#{$item} {
            margin: 0;
            padding: size.$padding-025;

            &.disabled {
                .#{$item}__label {
                    background: $chip-color-background-disabled;
                    border-color: $chip-color-border-disabled;
                    color: $chip-color-text-disabled;
                    cursor: not-allowed;
                }
            }
        }

        .#{$item}__label {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: var(--f-font-weight-medium);
            padding: size.$padding-050 size.$padding-100;
            border-radius: $chip-border-radius;
            border: var(--f-border-width-medium) solid $chip-color-border-default;
            background-color: $chip-color-background-default;
            color: $chip-color-text-default;
            justify-content: center;
            max-width: 400px;
            user-select: none;

            &::before,
            &::after {
                display: none;
            }

            svg {
                margin-right: size.$margin-050;
            }
        }

        .#{$item}__label:hover {
            border-color: $chip-color-border-hover;
            background-color: $chip-color-background-hover;
            color: $chip-color-text-hover;
        }

        input[type="#{$type}"]:checked + .#{$item}__label {
            background: $chip-color-background-selected;
            border-color: $chip-color-border-selected;
            color: $chip-color-text-selected;
        }

        input[type="#{$type}"]:focus + label.#{$item}__label {
            border-radius: $chip-border-radius;
        }
    }

    .#{$group}--chip.#{$group}--horizontal {
        .#{$group}__content {
            flex-flow: row wrap;

            .#{$item} {
                margin-bottom: 0;
            }

            @include bp.breakpoint-down(sm) {
                flex-flow: row wrap;

                .#{$item} {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include chip("radio-button-group", "radio-button", "radio");
@include chip("checkbox-group", "checkbox", "checkbox");
