// stylelint-disable custom-property-empty-line-before -- technical debt, should just add a comment before each block

@use "palette-variables" as *;

@mixin css-variables {
    // ********
    // SEMANTIC
    // ********
    --fkds-color-action-border-primary-default: #{$palette-color-fk-black-50};
    --fkds-color-action-background-primary-default: #{$palette-color-green-a-100};
    --fkds-color-action-background-primary-hover: #{$palette-color-green-a-120};
    --fkds-color-action-text-primary-default: #{$palette-color-green-a-100};

    .button--secondary {
        --fkds-color-action-text-primary-default: #{$palette-color-fk-black-100};
    }

    .button--tertiary {
        &:hover {
            --fkds-color-action-background-secondary-hover: #{$palette-color-fk-black-5};
        }
    }

    // ***********
    // TEXT COLORS
    // ***********
    --f-text-color-heading-1: #{$palette-color-green-a-100};
    --f-text-color-heading-2: #{$palette-color-green-a-85};
    --f-text-color-heading-3: #{$palette-color-fk-black-100};
    --f-text-color-heading-4: #{$palette-color-fk-black-100};
    --f-text-color-heading-5: #{$palette-color-fk-black-100};
    --f-text-color-heading-6: #{$palette-color-fk-black-100};
    --f-text-color-heading-expandable-panel: #{$palette-color-fk-black-100};
    --f-text-color-button-standard: #{$palette-color-fk-black-100};
    --f-text-color-button-discrete: #{$palette-color-green-a-100};
    --f-text-color-button-discrete-hover: #{$palette-color-green-a-100};
    --f-text-color-button-discrete-inverted: #{$palette-color-fk-black-5};
    --f-text-color-button-discrete-inverted-hover: #{$palette-color-bluebell-5};

    // ***********
    // ICON COLORS
    // ***********
    --f-icon-color-primary: #{$palette-color-green-a-100};
    --f-icon-color-expandable-panel: #{$palette-color-green-a-85};

    // *****************
    // BACKGROUND COLORS
    // *****************
    --f-background-input-selected: #{$palette-color-green-a-100};
    --f-background-input-selected-disabled: #{$palette-color-green-b-15};
    --f-background-heading-expandable-panel: #{$palette-color-bluebell-5};
    --f-background-heading-expandable-panel-hover: #{$palette-color-bluebell-15};
    --f-background-heading-static-panel: #{$palette-color-bluebell-5};
    --f-background-button-primary: #{$palette-color-green-a-100};
    --f-background-button-primary-hover: #{$palette-color-green-a-120};
    --f-background-button-discrete-hover: #{$palette-color-fk-black-5};
    --f-background-sidepanel-button-tertiary-hover: #{$palette-color-fk-black-15};
    --f-background-grid-active: #{$palette-color-green-a-15};
    --f-background-grid-striped: #{$palette-color-bluebell-5};
    --f-background-grid-header: #{$palette-color-bluebell-5};
    --f-background-menu-vertical-highlight: #{$palette-color-green-a-15};
    --f-background-popupmenu-vertical-hover: #{$palette-color-black-15};
    --f-background-popupmenu-vertical-highlight: #{$palette-color-green-a-15};

    // *************
    // BORDER COLORS
    // *************
    $f-border-color-panel: #{$palette-color-fk-black-15};
    $f-border-color-expandable-panel-closed: #{$palette-color-fk-black-50};
    --f-border-color-input-inner: #{$palette-color-white-100};
    --f-border-color-input-inner-selected: #{$palette-color-green-a-5};
    --f-border-color-card: #{$palette-color-fk-black-15};
    --f-border-color-calendar-disabled: #{$palette-color-fk-black-30};
    --f-border-color-panel: #{$f-border-color-panel};
    --f-border-color-button-standard: #{$palette-color-fk-black-50};
    --f-border-color-button-secondary: #{$palette-color-fk-black-50};
    --f-border-color-grid: #{$palette-color-fk-black-15};
    --f-border-color-expandable-panel-closed: #{$f-border-color-expandable-panel-closed};
    --f-border-color-menu-horizontal-hover: #{$palette-color-green-b-100};

    // *****************
    // GENERAL VARIABLES
    // *****************
    $_font-size-h2: 1.35rem;
    --f-font-family: "IntFont", "NeueHass", "Arial", "Helvetica Neue", "Helvetica", "Roboto", sans-serif;
    --f-font-size-default-rem: 14px;
    --f-font-size-default-large-up-rem: 14px;
    --f-font-size-h1: 1.65rem;
    --f-font-size-h2: #{$_font-size-h2};
    --f-font-size-xxx-large: 1.2rem;
    --f-font-size-h3: 1.2rem;
    --f-font-size-h4: 1rem;
    --f-font-size-large: 1rem;

    $f-color-focus: #ffcc00;
    --f-color-focus: #{$f-color-focus};
    --f-focus-box-shadow: 0 0 0 2px #{$palette-color-white-100}, 0 0 0 4px #{$f-color-focus};

    --f-height-large: 2.3rem;
    --f-icon-size-small: 1.143rem;
    --f-input-shadow-inset: none;
    --f-border-width-medium: 1px;

    // ****************************
    // COMPONENT SPECIFIC VARIABLES
    // ****************************
    $_f-button-default-padding-top: 0.75rem;
    $_f-button-default-padding-right: 1rem;
    $_f-button-default-padding-bottom: 0.75rem;
    $_f-button-default-padding-left: 1rem;
    --f-button-shadow: none;
    --f-button-shadow-hover: 0 1px 4px rgba(0, 0, 0, 0.4);
    --f-button-min-width: 80px;
    --f-button-letter-spacing: normal;
    --f-button-default-line-height: calc(1.25 * 1rem);
    --f-button-discrete-radius-hover: 3rem;
    --f-button-discrete-table-column-action-margin: 0 0 0 0.9rem;
    --f-button-discrete-table-column-action-border-radius: 0.4rem;
    --f-button-default-padding-top: #{$_f-button-default-padding-top};
    --f-button-default-padding-right: #{$_f-button-default-padding-right};
    --f-button-default-padding-bottom: #{$_f-button-default-padding-bottom};
    --f-button-default-padding-left: #{$_f-button-default-padding-left};
    --f-button-primary-padding-top: #{$_f-button-default-padding-top};
    --f-button-primary-padding-right: #{$_f-button-default-padding-right};
    --f-button-primary-padding-bottom: #{$_f-button-default-padding-bottom};
    --f-button-primary-padding-left: #{$_f-button-default-padding-left};
    --f-button-secondary-padding-top: #{$_f-button-default-padding-top};
    --f-button-secondary-padding-right: #{$_f-button-default-padding-right};
    --f-button-secondary-padding-bottom: #{$_f-button-default-padding-bottom};
    --f-button-secondary-padding-left: #{$_f-button-default-padding-left};
    --f-button-standard-padding-top: #{$_f-button-default-padding-top};
    --f-button-standard-padding-right: #{$_f-button-default-padding-right};
    --f-button-standard-padding-bottom: #{$_f-button-default-padding-bottom};
    --f-button-standard-padding-left: #{$_f-button-default-padding-left};
    --f-button-discrete-padding-top: 0.6rem;
    --f-button-discrete-padding-right: 1rem;
    --f-button-discrete-padding-bottom: 0.6rem;
    --f-button-discrete-padding-left: 1rem;
    --f-button-discrete-black-padding-top: 0.4rem;
    --f-button-discrete-black-padding-right: 0.4rem;
    --f-button-discrete-black-padding-bottom: 0.4rem;
    --f-button-discrete-black-padding-left: 0.4rem;
    --f-button-discrete-table-column-action-padding-top: 0.2rem;
    --f-button-discrete-table-column-action-padding-right: 0.2rem;
    --f-button-discrete-table-column-action-padding-bottom: 0.2rem;
    --f-button-discrete-table-column-action-padding-left: 0.2rem;

    --f-expandable-panel-heading-border-close: 1px solid #{$f-border-color-expandable-panel-closed};
    --f-expandable-panel-heading-border-open: 1px solid #{$f-border-color-panel};
    --f-expandable-panel-heading-border-radius: none;

    --f-label-message-margin-top: initial;

    --f-list-item-itempane-padding: 0.8rem;

    --f-modal-close-button-margin: 2px;
    --f-modal-close-button-padding: 0.5rem;
    --f-modal-title-font-size: #{$_font-size-h2};

    --f-static-panel-heading-border: 1px solid #{$f-border-color-panel};

    --f-table-body-row-padding: 0.4rem;

    --f-tooltip-border-width: var(--f-border-width-small);

    --i-popup-error-offset: 16px;
}
