// Palette colors
// Palette colors should follow the following palette-color-<name> convention.

/// @group FK-Black
$palette-color-fk-black-100: #1b1e23 !default;
$palette-color-fk-black-70: #5f6165 !default;
$palette-color-fk-black-50: #8d8e91 !default;
$palette-color-fk-black-30: #bbbbbd !default;
$palette-color-fk-black-15: #ddddde !default;
$palette-color-fk-black-5: #f4f4f4 !default;
$palette-color-white-100: #ffffff !default;

/// @group Bluebell
$palette-color-bluebell-120: #3b4292 !default;
$palette-color-bluebell-100: #4a52b6 !default;
$palette-color-bluebell-85: #656cc1 !default;
$palette-color-bluebell-50: #a4a8db !default;
$palette-color-bluebell-15: #e5e5f5 !default;
$palette-color-bluebell-5: #f5f6fa !default;

/// @group Green A
$palette-color-green-a-120: #0e5532 !default;
$palette-color-green-a-100: #116a3e !default;
$palette-color-green-a-85: #35805b !default;
$palette-color-green-a-50: #88b49f !default;
$palette-color-green-a-15: #dbe9e2 !default;
$palette-color-green-a-5: #f3f8f5 !default;

/// @group Green B
$palette-color-green-b-120: #4c7e56 !default;
$palette-color-green-b-100: #5f9e6c !default;
$palette-color-green-b-85: #77ad82 !default;
$palette-color-green-b-50: #afcfb5 !default;
$palette-color-green-b-15: #e7f0e9 !default;
$palette-color-green-b-5: #f7faf8 !default;

/// @group Yellow
$palette-color-yellow-120: #cc980d !default;
$palette-color-yellow-100: #ffbe10 !default;
$palette-color-yellow-85: #ffc834 !default;
$palette-color-yellow-50: #ffdf87 !default;
$palette-color-yellow-15: #fff5db !default;
$palette-color-yellow-5: #fffcf3 !default;

/// @group Red
$palette-color-red-120: #a21111 !default;
$palette-color-red-100: #ca1515 !default;
$palette-color-red-85: #d23838 !default;
$palette-color-red-50: #e48a8a !default;
$palette-color-red-15: #f7dcdc !default;
$palette-color-red-5: #fcf3f3 !default;

/// @group Orange
$palette-color-orange-120: #c2700d !default;
$palette-color-orange-100: #f38c10 !default;
$palette-color-orange-85: #f59d34 !default;
$palette-color-orange-50: #f9c587 !default;
$palette-color-orange-15: #ffefdc !default;
$palette-color-orange-5: #fef9f3 !default;

/// @group Tegel
$palette-color-tegel-100: #d34503 !default;
$palette-color-tegel-15: #f8e3d9 !default;

/// @group Plommon
$palette-color-plommon-100: #a73a64 !default;
$palette-color-plommon-15: #f2e1e8 !default;

/// @group Senap
$palette-color-senap-100: #ba7918 !default;
$palette-color-senap-15: #f5ebdc !default;

/// @group Hav
$palette-color-hav-100: #4c669f !default;
$palette-color-hav-15: #e4e8f1 !default;
