<!doctype html>
<html lang="sv" class="layout--example">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Dialogträd - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-530764.css"
            crossorigin
            integrity="sha384-LEmBartntkP3X+3cmDfkLVFZdO3YEcnNjBEAD6ku/V14OjeE9S9CBM4/Eg6TC/Ka"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-exp-6536d0.css"
            crossorigin
            integrity="sha384-vYVNQoy62Jn6dDWqataezqGMXhDLav568xENF6Pmqy61VgfOUzX+s8z0Jcmyps9p"
            data-theme="exp" disabled
        />
        <link
            rel="stylesheet"
            href="../assets/docs-int-5014fc.css"
            crossorigin
            integrity="sha384-rHl9pkn77haAI3OxtPJ7XxocEil2JS9xHypAGXouuuWadHbqAWzZE+JG+9cqIJFU"
            data-theme="int" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-956ec3.js"
            crossorigin
            integrity="sha384-xxAJqJoQn4hXyrxMhtQL+Vf9cvR79mtI9cjQwcm4awdJR3rcJZo1/+24cjUnFmfe"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    function themeRenderBlocker() {
        const theme = window.localStorage.getItem("fkds-theme") ?? "exp";
        const style = Array.from(document.querySelectorAll("[data-theme]"));
        for (const el of style) {
            el.disabled = el.dataset.theme !== theme;
        }
    }

    themeRenderBlocker();
</script>
<script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-903888.js"></script>
        <script src="../assets/vendor-fkui-logic-1193bc.js"></script>
        <script src="../assets/vendor-fkui-date-9b7c35.js"></script>
        <script src="../assets/vendor-fkui-vue-68b153.js"></script>
        <script src="../assets/vendor-forsakringskassan-docs-live-example-caabe5.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/processors/selectable-version/select-version-42b338.js"
            crossorigin
            integrity="sha384-9teClDZoUmFqd4Uy9zGlWIwizRBX8jp3Tuvbf8GCf6jj1pTG5nVxJGQ/gOCfOsnK"
            
        ></script>
        <script
            src="../assets/main-5af13e.js"
            crossorigin
            integrity="sha384-A/8AcgZAoMz5+pe51Lzs7zQcsQGb17UB/ceEvl+nXYZOnky58pRVh/ReIofzEnV8"
            
        ></script>

        <main>
        <div id="FlerstegsModalExample"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./FlerstegsModalExample-6914d9.js"></script>
    </main>
    </body>
</html>
