<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Steg för steg-guide - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-d7c4aa.css"
            crossorigin
            integrity="sha384-pYZD6AzqbC3js/70/e94aXWZw49PVe96NdA+O5/owCZXGFG1LIdx303apIzdLkaf"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-4e3251.css"
            crossorigin
            integrity="sha384-MW4vNlgSx+7nYLY1nF8PdXPVH3r6xRuxkFgN97CwAp/tPzF9pdQeCaEOpilWnnAg"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-2b3203.js"></script>
        <script src="../assets/vendor-fkui-logic-efe049.js"></script>
        <script src="../assets/vendor-fkui-date-18a9b5.js"></script>
        <script src="../assets/vendor-fkui-vue-092222.js"></script>
        <script src="../assets/vendor-forsakringskassan-docs-live-example-3d7c23.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/processors/motd/index-26ba41.js"
            crossorigin
            integrity="sha384-dRUZKuoDucHdxWgTjhjsiUKqA/8XdoGnuv7g3Sr48xEYC0Ek5QprgPB4/cPcByma"
            
        ></script>
        <script
            src="../assets/processors/selectable-version/select-version-238516.js"
            crossorigin
            integrity="sha384-ATYeBk7ujtY6+GmW9tLiFg0mzc/xIJb0NL+Dk0Bo8CTwlsC6ztK9Qp04eNHcxmbG"
            
        ></script>
        <script
            src="../assets/main-9c84e1.js"
            crossorigin
            integrity="sha384-Z71OgfB8G//m1boUUVqLkEy2RInrC2KTCo3/gRshwWDqmWfJKz3g0SnS7IhWlpJn"
            
        ></script> <f-wizard header-tag="h1">
    <f-wizard-step
        key="step1"
        title="STEP1"
        :before-next="onBeforeNext"
    ></f-wizard-step>
</f-wizard>

    </body>
</html>
