@use "../../core/size";
@use "../../core/mixins/breakpoints";
@use "../../core/utils/functions" as *;
@use "variables" as *;

$MESSAGE_BOX_SELECTOR: ".message-box" !default;

@mixin make-box-variant($MESSAGE_BOX_SELECTOR, $background-color, $border-color, $short-layout: false) {
    border: var(--f-border-width-medium) solid;
    border-color: $border-color;
    background-color: $background-color;
    border-radius: var(--f-border-radius-small);

    @if $short-layout {
        border-left: size.$padding-100 solid $border-color;

        #{$MESSAGE_BOX_SELECTOR} {
            &__icon {
                font-size: 0; // ignore any whitespaces in template affecting height

                .icon {
                    height: var(--f-icon-size-large);
                    width: var(--f-icon-size-large);
                    &-stack {
                        height: var(--f-icon-size-large);
                        width: var(--f-icon-size-large);
                    }
                    &__exclamation {
                        transform: translateY(-0.05rem);
                    }
                    &__banner {
                        fill: $messagebox-error-icon-error-color-border;
                        color: white;
                    }
                }
            }
            &__icon__banner {
                margin-top: 0;
            }
        }
    } @else {
        border-top: size.$padding-100 solid $border-color;
    }

    .iflex__item > p {
        margin-bottom: 0;
    }
}

@mixin messagebox-banner-variant($selector, $short-layout: false) {
    width: var(--f-width-full);
    box-shadow: var(--f-box-modal-shadow);
    border-collapse: separate;
    padding: densify(size.$padding-100) size.$padding-100;

    @include make-box-variant($selector, $messagebox-error-color-background, $messagebox-error-color-border, $short-layout);

    .iflex__item > p {
        margin-bottom: 0;
    }
}

#{$MESSAGE_BOX_SELECTOR} {
    padding: densify(size.$padding-150) size.$padding-150;
    margin: size.$margin-050 0 densify(size.$margin-200) 0;

    &__heading {
        font-size: var(--f-font-size-h3);
        font-weight: var(--f-font-weight-medium);
        color: $messagebox-info-color-heading;
        line-height: var(--f-line-height-medium);
        align-items: flex-start;
        margin-bottom: densify(size.$margin-050);
        margin-top: 0;

        @include breakpoints.breakpoint-only(sm) {
            font-size: var(--f-font-size-large);
        }
    }

    &--info {
        @include make-box-variant($MESSAGE_BOX_SELECTOR, $messagebox-info-color-background, $messagebox-info-color-border);
    }

    &--info-short {
        @include make-box-variant($MESSAGE_BOX_SELECTOR, $messagebox-info-color-background, $messagebox-info-color-border, $short-layout: true);
    }

    &--error {
        @include make-box-variant($MESSAGE_BOX_SELECTOR, $messagebox-error-color-background, $messagebox-error-color-border);
    }

    &--error-short {
        @include make-box-variant($MESSAGE_BOX_SELECTOR, $messagebox-error-color-background, $messagebox-error-color-border, $short-layout: true);
    }

    &--warning {
        @include make-box-variant($MESSAGE_BOX_SELECTOR, $messagebox-warning-color-background, $messagebox-warning-color-border);
    }

    &--warning-short {
        @include make-box-variant($MESSAGE_BOX_SELECTOR, $messagebox-warning-color-background, $messagebox-warning-color-border, $short-layout: true);
    }

    &--success {
        @include make-box-variant($MESSAGE_BOX_SELECTOR, $messagebox-success-color-background, $messagebox-success-color-border);
    }

    &--success-short {
        @include make-box-variant($MESSAGE_BOX_SELECTOR, $messagebox-success-color-background, $messagebox-success-color-border, $short-layout: true);
    }

    &--banner {
        @include messagebox-banner-variant($MESSAGE_BOX_SELECTOR);
    }

    @include breakpoints.breakpoint-down(sm) {
        margin-bottom: densify(size.$margin-150);
        margin-top: densify(size.$margin-150);
        padding: densify(size.$padding-100) size.$padding-100;
    }
}
