$messagebox-info-color-background: var(--fkds-color-feedback-background-info) !default;
$messagebox-info-color-border: var(--fkds-color-feedback-border-info) !default;
$messagebox-error-color-background: var(--fkds-color-feedback-background-negative) !default;
$messagebox-error-color-border: var(--fkds-color-feedback-border-negative) !default;
$messagebox-warning-color-background: var(--fkds-color-feedback-background-warning) !default;
$messagebox-warning-color-border: var(--fkds-color-feedback-border-warning) !default;
$messagebox-success-color-background: var(--fkds-color-feedback-background-positive) !default;
$messagebox-success-color-border: var(--fkds-color-feedback-border-positive) !default;
$messagebox-info-color-heading: var(--fkds-color-text-primary) !default;
$messagebox-error-icon-error-color-border: var(--fkds-color-feedback-text-negative) !default;
$messagebox-color-text-default: var(--fkds-color-text-primary) !default;
