<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-f31c77.css"
            crossorigin
            integrity="sha384-RmyR+kuI/zT4zp2fKjWsJOi1birD3DLKsVgCM6aX8N+4A+JFtWDMNuUQmNiboJqF"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-09bbc3.css"
            crossorigin
            integrity="sha384-qxIYbciMnJMPeWFKMwYhZKg//Betun6DnLaU2UfrW+AlMg1tsdONNkzAZPDPD2hY"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-65d7e0.js"></script>
        <script src="../assets/vendor-fkui-logic-b0075f.js"></script>
        <script src="../assets/vendor-fkui-date-1d9b40.js"></script>
        <script src="../assets/vendor-fkui-vue-f0f1ff.js"></script>
        <script src="../assets/vendor-fkui-vue-labs-ef733e.js"></script>
        <script src="../assets/vendor-forsakringskassan-docs-live-example-c58cb4.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-576fa2.js"
            crossorigin
            integrity="sha384-8N6AFzn11ULLQg0SNzEkwL4kxbj0DAbhe/gunkh+No9d2CyxcfHjvhUJQVT6g3Rl"
            
        ></script> 
        <div id="example-00344e"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./XTimeTextFieldExample-00344e.js"></script>
    
    </body>
</html>
