<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Filpresentatör - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-38fc0e.css"
            crossorigin
            integrity="sha384-Ksehtg/7PafrISZn4PgfBcbAtbLOFUYVN7xtXieEMMGjzy424otRx+p+hXfXTTOo"
            
        />
        <link
            rel="stylesheet"
            href="../../assets/docs-fkui-4ecb6d.css"
            crossorigin
            integrity="sha384-CC6Vb3lD+/MxRQkRAEekVk7Fo0SZFS6JwkUWKQWZwFuguHLB6tQ0+3tFeeqDSTwr"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-5b0e6e.js"
            crossorigin
            integrity="sha384-kGP2A4LFI4CNwztBKqOla524cwTlhYuNFsx/6foX7fdioP3nxHwqF6vcvJFMia/Q"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-fd7b76.js"></script>
        <script src="../../assets/vendor-fkui-logic-93a394.js"></script>
        <script src="../../assets/vendor-fkui-date-0c3a2b.js"></script>
        <script src="../../assets/vendor-fkui-vue-6e2642.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-490176.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/processors/motd/index-26ba41.js"
            crossorigin
            integrity="sha384-dRUZKuoDucHdxWgTjhjsiUKqA/8XdoGnuv7g3Sr48xEYC0Ek5QprgPB4/cPcByma"
            
        ></script>
        <script
            src="../../assets/processors/selectable-version/select-version-910589.js"
            crossorigin
            integrity="sha384-I1UkV0jct1U2DK2sHeJaQT/Y/zs56PzTr8ov/aUSg8JBcBJtIOPYDvMy2o167CwS"
            
        ></script>
        <script
            src="../../assets/main-0ec342.js"
            crossorigin
            integrity="sha384-024ARbIkk+36wQRMNqANavYck/wi86OjA7OQfU3szttx8PSUfCLc+u90c5D34iPZ"
            
        ></script> 
        <div id="example-893435"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FFileItemDefault-893435.js"></script>
    
    </body>
</html>
