<!doctype html>
<html lang="sv" class="layout--example">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Sökfält - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-1ef0c8.css"
            crossorigin
            integrity="sha384-Ot4dKTPfMZuqhxk2mQrrBlroXQlSe7C8snLAOnPtsN0jTztQaA4STITzwGx6Hm6m"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-exp-4f4c74.css"
            crossorigin
            integrity="sha384-suNf4I+SPabz4g4AE5BDg7mSDPg+U2DBeps0W1nRLanKUI+Owef7Kh5z5o5Jah1S"
            data-theme="exp" disabled
        />
        <link
            rel="stylesheet"
            href="../assets/docs-int-00b4bb.css"
            crossorigin
            integrity="sha384-hczhjwL0ex684bqOGGWHR0/pPOvMk8/+Q/MwGQVZOcX0F8o+t1agGOgXBsvF7wNV"
            data-theme="int" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-0df2b2.js"
            crossorigin
            integrity="sha384-/CsPb6xxx2R6SuFD6YW8AvT0hMxEGGkO4Mh6yG04C8ck+/qIKXqKA3EALt2ADT17"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    function themeRenderBlocker() {
        const theme = window.localStorage.getItem("fkds-theme") ?? "exp";
        const style = Array.from(document.querySelectorAll("[data-theme]"));
        for (const el of style) {
            el.disabled = el.dataset.theme !== theme;
        }
    }

    themeRenderBlocker();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-2edf39.js"></script>
        <script src="../assets/vendor-fkui-logic-4dae35.js"></script>
        <script src="../assets/vendor-fkui-date-effe99.js"></script>
        <script src="../assets/vendor-fkui-vue-316468.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-a429cc.js"
            crossorigin
            integrity="sha384-0JEDf7LWdgcUcYrR8b9Th/kvcYRCwjtEuLUclbuBYF8KKaC54MqWllcAvGArNgvU"
            
        ></script>

        <main>
        <div id="XSearchBarExample"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./XSearchBarExample-e5a7a0.js"></script>
    </main>
    </body>
</html>
