<!doctype html>
<html lang="sv" class="layout--example">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-5a2826.css"
            crossorigin
            integrity="sha384-GIQH9Kc/oIThHeeZQP7hxTUILv7srd/F+1wlz1qGfYYL5xmsmNz09U94s6hbSazD"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-exp-39ee41.css"
            crossorigin
            integrity="sha384-mkNY3szdLfJOo/ZZwkEnSga2iLe8zd8NKmqHL7IY/CMEYfbHS4Jm0FdfrHRGB4gy"
            data-theme="exp" disabled
        />
        <link
            rel="stylesheet"
            href="../assets/docs-int-54e2d4.css"
            crossorigin
            integrity="sha384-nrmKyFJbd88tAG/oTYKkHfLI2f9WR35yPeyf+ZUG6lB/jL0kys+GxBMs9dvIvh71"
            data-theme="int" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-0df2b2.js"
            crossorigin
            integrity="sha384-/CsPb6xxx2R6SuFD6YW8AvT0hMxEGGkO4Mh6yG04C8ck+/qIKXqKA3EALt2ADT17"
            
        ></script>

        <!-- prettier-ignore -->
        <script>
    function themeRenderBlocker() {
        const theme = window.localStorage.getItem("fkds-theme") ?? "exp";
        const style = Array.from(document.querySelectorAll("[data-theme]"));
        for (const el of style) {
            el.disabled = el.dataset.theme !== theme;
        }
    }

    themeRenderBlocker();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-ce6943.js"></script>
        <script src="../assets/vendor-fkui-logic-3e3c9a.js"></script>
        <script src="../assets/vendor-fkui-date-effe99.js"></script>
        <script src="../assets/vendor-fkui-vue-702eeb.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-d3a803.js"
            crossorigin
            integrity="sha384-m3/vMo6QtzpQvD6zZ8W18+/YLS7THOHEaha4syDznIi/F1MAboSksPxrvy3OHfxV"
            
        ></script>

        <main>
        <div id="XTimeTextFieldExample"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script defer src="./XTimeTextFieldExample-df252e.js"></script>
    </main>
    </body>
</html>
