@use "@fkui/theme-default" with (
    $legacy-palette: false
);
@use "@fkui/design";
@use "@fkui/design/lib/fonts.css";
@use "@fkui/font-default";

html,
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem;
}
