$popuperror-color-background-default: var(--fkds-color-feedback-background-negative);
$popuperror-color-border-default: var(--fkds-color-feedback-border-negative);
$popuperror-color-text-default: var(--fkds-color-text-primary);
