$card-color-heading: var(--fkds-color-text-primary) !default;
$card-color-text: var(--fkds-color-text-primary) !default;
$card-color-border: var(--fkds-color-border-primary) !default;
$card-color-background: var(--fkds-color-background-primary) !default;
$card-color-border-error: var(--fkds-color-feedback-border-negative) !default;
$card-color-text-error: var(--f-text-color-error) !default;
