$card-color-heading: var(--fkds-color-text-primary);
$card-color-text: var(--fkds-color-text-primary);
$card-color-border: var(--fkds-color-border-primary);
$card-color-background: var(--fkds-color-background-primary);
$card-color-border-error: var(--fkds-color-feedback-border-negative);
$card-color-text-error: var(--f-text-color-error);
