@use "../../core";
@use "../../core/config-variables";

$OUTPUT_FIELD_SELECTOR: ".output-field" !default;

#{$OUTPUT_FIELD_SELECTOR} {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: max(1, core.densify(var(--f-line-height-large)));
    margin: 0 0 core.densify(var(--f-margin-component-bottom));
    position: relative;
    width: var(--f-width-full);

    &__output {
        line-height: max(1, core.densify(var(--f-line-height-large)));
        font-size: var(--f-font-size-standard);
        min-height: var(--f-height-medium);
        position: relative;
        width: var(--f-width-full);
        margin-bottom: 0;
    }
}
