@use "variables" as *;

$CALENDAR_NAVBAR_SELECTOR: ".calendar-navbar" !default;
$calendar-icon-padding: 5px;
$calendar-icon-disabled-border-width: 1px;
$calendar-icon-disabled-padding: calc($calendar-icon-padding - $calendar-icon-disabled-border-width);

#{$CALENDAR_NAVBAR_SELECTOR} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: var(--f-border-width-medium) solid $calendarnavbar-color-border;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 0.75rem;
    font-size: var(--f-font-size-h3);

    &__month {
        margin-right: auto;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__arrow--previous {
        transform: scaleX(-1);
    }

    &__icon {
        color: $calendarnavbar-f-icon-arrow-color-content;
        background-color: $calendarnavbar-button-color-background;
        width: var(--f-icon-size-large);
        height: var(--f-icon-size-large);
        padding: $calendar-icon-padding;
        border-radius: 50%;
        box-shadow: var(--f-button-shadow);

        &--disabled {
            color: $calendarnavbar-f-icon-arrow-color-content-disabled;
            background-color: $calendarnavbar-button-color-background-disabled;
            padding: $calendar-icon-disabled-padding;
            border: $calendar-icon-disabled-border-width solid $calendarnavbar-button-color-border-disabled;
            box-shadow: none;
        }
    }

    &__arrow {
        padding: 0;
        display: flex;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
