// BORDER
$calendarnavbar-color-border: var(--fkds-color-border-weak);

// ICON
$calendarnavbar-button-color-background: var(--fkds-color-action-background-primary-default);
$calendarnavbar-f-icon-arrow-color-content: var(--fkds-color-background-primary);

// ICON DISABLED
$calendarnavbar-button-color-background-disabled: var(--fkds-color-action-background-disabled);
$calendarnavbar-button-color-border-disabled: var(--fkds-color-action-border-disabled);
$calendarnavbar-f-icon-arrow-color-content-disabled: var(--fkds-icon-color-action-content-primary-disabled);
