// BOTTOM BORDER
$calendarnavbar-color-border: var(--fkds-color-border-weak);

// BUTTONS - NEXT/PREVIOUS
$calendarnavbar-button-color-background: var(--fkds-color-action-background-primary-default);
$calendarnavbar-button-color-background-disabled: var(--fkds-color-background-disabled);
$calendarnavbar-button-color-border-disabled: var(--fkds-color-border-disabled);

// BUTTONS - NEXT/PREVIOUS - ICONS
$calendarnavbar-f-icon-arrow-color-content: var(--fkds-icon-color-action-content-inverted-default);
$calendarnavbar-f-icon-arrow-color-content-disabled: var(--fkds-icon-color-content-disabled);
