@use "../../core";
@use "../../core/size";
@use "../button/button";

.table__button {
    @include core.make-button-variant(".table__button", button.$button--tertiary...);

    font-weight: var(--f-font-weight-medium);
    outline-offset: size.$padding-025;
    font-size: 14px;
    line-height: 1.25rem;
    min-width: 24px;
    padding: core.densify(0.375rem) size.$padding-025;
    text-underline-offset: 3.5px;
    margin: var(--f-button-tertiary-table-column-action-margin);
    width: max-content;

    .button__icon {
        margin: var(--f-button-tertiary-table-column-action-icon-margin);
        transform: translate(0, 10%);
        height: 14px;
        width: 14px;
    }
}
