html {
  font-size: 16px;
}

.code-preview__preview {
  --f-text-color-link: #4a52b6;
  --f-text-color-link-hover: #1b1e23;
  --f-text-color-link-discrete: #1b1e23;
  --f-text-color-link-discrete-hover: #4a52b6;
  --f-text-color-heading-1: #116a3e;
  --f-text-color-heading-2: #35805b;
  --f-text-color-heading-3: var(--fkds-color-text-primary);
  --f-text-color-heading-4: var(--fkds-color-text-primary);
  --f-text-color-heading-5: var(--fkds-color-text-primary);
  --f-text-color-heading-6: var(--fkds-color-text-primary);
  --f-text-color-heading-expandable-panel: var(--fkds-color-text-primary);
  --f-text-color-menu: #1b1e23;
  --f-text-color-menu-hover: #1b1e23;
  --f-text-color-menu-horizontal-highlight: #1b1e23;
  --f-text-color-popupmenu: #1b1e23;
  --f-text-color-popupmenu-hover: #1b1e23;
  --f-icon-color-white: #ffffff;
  --f-icon-color-success: #35805b;
  --f-icon-color-notice: #d34503;
  --f-icon-color-expandable-panel: #ffffff;
  --f-icon-color-success-background: #dbe9e2;
  --f-background-overlay: rgba(0, 0, 0, 0.75);
  --f-background-pageheader-primary: #116a3e;
  --f-background-skiplink-focus: #f5f6fa;
  --f-background-heading-expandable-panel: #116a3e;
  --f-background-heading-expandable-panel-hover: #35805b;
  --f-background-expandable-panel: #ffffff;
  --f-background-heading-static-panel: #afcfb5;
  --f-background-sidepanel-button-tertiary-hover: #e5e5f5;
  --f-background-menu: #f4f4f4;
  --f-background-menu-vertical-hover: #ddddde;
  --f-background-menu-vertical-highlight: #e7f0e9;
  --f-background-popupmenu: #ffffff;
  --f-background-popupmenu-vertical-hover: #ddddde;
  --f-background-popupmenu-vertical-highlight: #e7f0e9;
  --f-border-color-panel: #e7f0e9;
  --f-border-color-expandable-panel: #116a3e;
  --f-border-color-static-panel: #afcfb5;
  --f-border-color-separator: #ddddde;
  --f-border-color-separator-pageheader-primary: #ffffff;
  --f-border-color-separator-contextmenu: #8d8e91;
  --f-border-color-link: #4a52b6;
  --f-border-color-link-hover: #8d8e91;
  --f-border-color-link-discrete: #8d8e91;
  --f-border-color-link-discrete-hover: #4a52b6;
  --f-border-color-expandable-panel-closed: none;
  --f-border-color-menu-horizontal: #116a3e;
  --f-border-color-menu-horizontal-hover: #afcfb5;
  --f-border-color-menu-horizontal-highlight: #116a3e;
  --f-border-color-popupmenu: #ddddde;
  --f-box-modal-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  --f-input-shadow-inset: none;
  --f-font-family: "ExpFont", "NeueHass", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  --f-font-family-code: "Consolas", "Liberation Mono", "Courier", monospace;
  --f-font-size-default-rem: 14px;
  --f-font-size-default-large-up-rem: 14px;
  --f-font-weight-normal: 400;
  --f-font-weight-medium: 700;
  --f-font-weight-bold: 900;
  --f-line-height-small: 1.25;
  --f-line-height-medium: 1.4;
  --f-line-height-large: 1.5;
  --f-font-size-h1: 1.65rem;
  --f-font-size-h2: 1.5rem;
  --f-font-size-xxx-large: 1.2rem;
  --f-font-size-h3: 1.2rem;
  --f-font-size-h4: 1rem;
  --f-font-size-large: 1rem;
  --f-font-size-standard: 1rem;
  --f-icon-size-x-small: 0.75rem;
  --f-icon-size-small: 1.143rem;
  --f-icon-size-medium: 1.25rem;
  --f-icon-size-large: 1.5rem;
  --f-icon-size-x-large: 2rem;
  --f-height-small: 0.75rem;
  --f-height-medium: 1.25rem;
  --f-height-large: 2.3rem;
  --f-width-full: 100%;
  --f-border-width-small: 1px;
  --f-border-width-medium: 1px;
  --f-border-radius-small: 2px;
  --f-border-radius-medium: 4px;
  --f-margin-component-bottom: 1.5rem;
  --padding-input-fields: 0 2.25rem 0 0.75rem;
  --f-color-focus: #ffcc00;
  --f-focus-box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #ffcc00, 0 0 0 6px #ffffff;
  --f-animation-duration-short: 150ms;
  --f-animation-duration-medium: 350ms;
  --f-animation-duration-long: 500ms;
  --f-animation-expand-open: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
  --f-animation-expand-close: all 500ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
  --f-density-factor: 1;
  --f-static-panel-heading-border: 1px solid var(--fkds-color-border-primary);
  --f-expandable-panel-heading-border-close: 1px solid var(--fkds-color-border-primary);
  --f-expandable-panel-heading-border-open: 1px solid var(--fkds-color-border-primary);
  --f-expandable-panel-heading-border-radius: none;
  --f-label-message-margin-top: initial;
  --f-button-shadow: none;
  --f-button-shadow-hover: 0 1px 4px rgb(0, 0, 0, 0.4);
  --f-button-min-width: 6rem;
  --f-button-letter-spacing: normal;
  --f-button-default-line-height: calc(1.25 * 1rem);
  --f-button-discrete-radius-hover: 3rem;
  --f-button-tertiary-table-column-action-icon-margin: 0 8px 0 2px;
  --f-button-tertiary-table-column-action-margin: 0 0 0 0.5rem;
  --f-button-default-padding-top: 0.75rem;
  --f-button-default-padding-right: 1rem;
  --f-button-default-padding-bottom: 0.75rem;
  --f-button-default-padding-left: 1rem;
  --f-button-primary-padding-top: 0.75rem;
  --f-button-primary-padding-right: 1rem;
  --f-button-primary-padding-bottom: 0.75rem;
  --f-button-primary-padding-left: 1rem;
  --f-button-secondary-padding-top: 0.75rem;
  --f-button-secondary-padding-right: 1rem;
  --f-button-secondary-padding-bottom: 0.75rem;
  --f-button-secondary-padding-left: 1rem;
  --f-button-standard-padding-top: 0.75rem;
  --f-button-standard-padding-right: 1rem;
  --f-button-standard-padding-bottom: 0.75rem;
  --f-button-standard-padding-left: 1rem;
  --f-button-tertiary-padding-top: 0.75rem;
  --f-button-tertiary-padding-right: 0.5rem;
  --f-button-tertiary-padding-bottom: 0.75rem;
  --f-button-tertiary-padding-left: 0.5rem;
  --f-button-discrete-padding-top: 0.6rem;
  --f-button-discrete-padding-right: 1rem;
  --f-button-discrete-padding-bottom: 0.6rem;
  --f-button-discrete-padding-left: 1rem;
  --f-button-discrete-black-padding-top: 0.4rem;
  --f-button-discrete-black-padding-right: 0.4rem;
  --f-button-discrete-black-padding-bottom: 0.4rem;
  --f-button-discrete-black-padding-left: 0.4rem;
  --f-modal-close-button-margin: 2px;
  --f-modal-close-button-padding: 0.5rem;
  --f-modal-size-small: 500px;
  --f-modal-size-medium: 700px;
  --f-modal-size-large: 1200px;
  --f-modal-size-fullwidth: 100%;
  --f-modal-title-font-size: 1.5rem;
  --f-tooltip-close-button-margin: 0.375rem 0.375rem 0.625rem 0.625rem;
  --f-tooltip-border-color: #8d8e91;
  --f-tooltip-border-width: var(--f-border-width-small);
  --f-loader-size: 4rem;
  --f-loader-margin: 0 auto 3rem auto;
  --f-table-body-row-padding: 0.4rem;
  --f-list-item-itempane-padding: 0.8rem;
  --i-popup-error-offset: 16px;
  --f-tooltip-offset: 0px;
  --f-tooltip-icon-size: 0px;
  --f-logo-image-small: none;
  --f-logo-image-large: none;
  --f-logo-size-small: 0.8rem;
  --f-logo-size-large: 0.4rem 4rem;
  --f-calendar-height: 21rem;
  --size: 0;
  --min: 0;
  --max: 0;
}
.code-preview__preview .icon-stack--tooltip .f-icon-circle {
  --fkds-color-action-border-primary-default: var(--fkds-color-feedback-border-info);
  --fkds-color-action-background-primary-default: var(--fkds-color-feedback-background-info-strong);
}
.code-preview__preview {
  --fkds-color-text-primary: #1b1e23;
  --fkds-color-text-secondary: #5f6165;
  --fkds-color-text-inverted: #ffffff;
  --fkds-color-text-disabled: #8d8e91;
  --fkds-color-background-primary: #ffffff;
  --fkds-color-background-secondary: #f4f4f4;
  --fkds-color-background-tertiary: #ddddde;
  --fkds-color-background-disabled: #f4f4f4;
  --fkds-color-border-primary: #8d8e91;
  --fkds-color-border-strong: #5f6165;
  --fkds-color-border-weak: #ddddde;
  --fkds-color-border-disabled: #8d8e91;
  --fkds-color-border-inverted: #ffffff;
  --fkds-color-action-text-primary-default: #116a3e;
  --fkds-color-action-text-primary-hover: #0e5532;
  --fkds-color-action-text-primary-active: #0e5532;
  --fkds-color-action-text-primary-focus: #0e5532;
  --fkds-color-action-text-secondary-default: #1b1e23;
  --fkds-color-action-text-secondary-hover: #0e5532;
  --fkds-color-action-text-secondary-active: #0e5532;
  --fkds-color-action-text-secondary-focus: #0e5532;
  --fkds-color-action-text-inverted-default: #ffffff;
  --fkds-color-action-text-inverted-hover: #ffffff;
  --fkds-color-action-text-inverted-active: #ffffff;
  --fkds-color-action-text-inverted-focus: #ffffff;
  --fkds-color-action-background-primary-default: #116a3e;
  --fkds-color-action-background-primary-hover: #0e5532;
  --fkds-color-action-background-primary-active: #0e5532;
  --fkds-color-action-background-primary-focus: #0e5532;
  --fkds-color-action-background-secondary-default: #f3f8f5;
  --fkds-color-action-background-secondary-hover: #dbe9e2;
  --fkds-color-action-background-secondary-active: #dbe9e2;
  --fkds-color-action-background-secondary-focus: #dbe9e2;
  --fkds-color-action-border-primary-default: #8d8e91;
  --fkds-color-action-border-primary-hover: #8d8e91;
  --fkds-color-action-border-primary-active: #8d8e91;
  --fkds-color-action-border-primary-focus: #8d8e91;
  --fkds-color-feedback-background-neutral: #f4f4f4;
  --fkds-color-feedback-background-neutral-strong: #ddddde;
  --fkds-color-feedback-background-info: #f5f6fa;
  --fkds-color-feedback-background-info-strong: #4a52b6;
  --fkds-color-feedback-background-positive: #f3f8f5;
  --fkds-color-feedback-background-positive-strong: #35805b;
  --fkds-color-feedback-background-warning: #fffcf3;
  --fkds-color-feedback-background-warning-strong: #ffbe10;
  --fkds-color-feedback-background-negative: #fcf3f3;
  --fkds-color-feedback-background-negative-strong: #ca1515;
  --fkds-color-feedback-border-neutral: #8d8e91;
  --fkds-color-feedback-border-info: #4a52b6;
  --fkds-color-feedback-border-positive: #35805b;
  --fkds-color-feedback-border-warning: #ffbe10;
  --fkds-color-feedback-border-negative: #ca1515;
  --fkds-color-feedback-text-negative: #ca1515;
  --fkds-color-feedback-text-positive: #35805b;
  --fkds-color-select-background-primary-default: #116a3e;
  --fkds-color-select-background-primary-hover: #dbe9e2;
  --fkds-color-select-background-primary-active: #dbe9e2;
  --fkds-color-select-background-primary-focus: #dbe9e2;
  --fkds-color-select-background-secondary-default: #0e5532;
  --fkds-color-select-background-secondary-hover: #dbe9e2;
  --fkds-color-select-background-secondary-active: #dbe9e2;
  --fkds-color-select-background-secondary-focus: #dbe9e2;
  --fkui-theme-default-version: "6.26.0";
}