<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-663279.css"
            crossorigin
            integrity="sha384-cR/JBIbsqfqoTqbAXdh1NBPGpo4WPTkLKwkvI1x4prYq8vg89OgChjPnNyrPCwGm"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-457f26.css"
            crossorigin
            integrity="sha384-/wZqzuweT0NamyaBPebNQ65oCjcMnC8uhxC1HVjDhXvt5oDMd4DAzgeeecg4ZqY7"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-59a955.js"></script>
        <script src="../assets/vendor-fkui-logic-63d061.js"></script>
        <script src="../assets/vendor-fkui-date-cf8f26.js"></script>
        <script src="../assets/vendor-fkui-vue-3f54f9.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-73a3e4.js"
            crossorigin
            integrity="sha384-gzO8WjMkkEaIbu8YzeFRN3/Qwmv+dpkKGNRKUL9jLhaC7bB5/VbcuZ9KcBYq6ONL"
            
        ></script> 
        <div id="example-cc479c"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./ForgivingInput-cc479c.js"></script>
    
    </body>
</html>
