$loader-inverted-color-text: var(--fkds-color-text-inverted) !default;
$loader-circle-inverted-color-background: var(--fkds-color-text-inverted) !default;
$loader-circle-color-background: var(--fkds-color-text-secondary) !default;
