<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>PopupError - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../assets/docs-dad48b.css"
            crossorigin
            integrity="sha384-rd3kfs2xnLnXnZ49r8217iAUkXOg4YoTn/GoEg+Y4OJ+Hn93iB6QutYnJ+nSH4x5"
            
        />
        <link
            rel="stylesheet"
            href="../../assets/docs-fkui-6635d1.css"
            crossorigin
            integrity="sha384-KWkxS3V5XQ9E737B//7WZXzpnJjX7KL/sV20lete1vqa6lKW+qW86R7sVQ8jniDB"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../assets/bootstrap-b9aefb.js"
            crossorigin
            integrity="sha384-F/7dWMNnyjtxV9ZLu4kMSJ74pLIaxPZbcRbfScnz4R6GvgvC5pM7UbjffD/AoRWL"
            
        ></script>

        <!-- prettier-ignore -->
        <link
    rel="preload"
    href="../../search-data-868a92.json"
    as="fetch"
    crossorigin
    integrity="sha384-b0kP+mffdWh7hznexGEGd7XPtABXdECyrPlTCvDQXQkLCfhZeJx9V20P2fMjcyLR"
    id="search-data"
/>
<script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../assets/vendor-vue-25be76.js"></script>
        <script src="../../assets/vendor-fkui-vue-selectors-cba73f.js"></script>
        <script src="../../assets/vendor-fkui-logic-9591ee.js"></script>
        <script src="../../assets/vendor-fkui-date-1a27ab.js"></script>
        <script src="../../assets/vendor-fkui-vue-4421a0.js"></script>
        <script src="../../assets/vendor-forsakringskassan-docs-live-example-f2dba9.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../assets/processors/search/search-d3c3d9.js"
            crossorigin
            integrity="sha384-+SXUY5zuBarb8Apt8q8+kFZ2fe4NSuUMNmuk9R4WeiK9XxFInziLHKmykACkUFV6"
            
        ></script>
        <script
            src="../../assets/processors/motd/index-cda4cc.js"
            crossorigin
            integrity="sha384-MiyHuq1hbcemP/RGZgotKZC8qlPOYjlrbQ/VNcrv6ju3y4SnFHj2CvLfATECOQdA"
            
        ></script>
        <script
            src="../../assets/processors/selectable-version/select-version-2a9194.js"
            crossorigin
            integrity="sha384-kmv6f9cV5asasdoupNrMGmugS0a6oRjtR/max3ikMfv9QQgH/mQ5Ivu5iFgUCexx"
            
        ></script>
        <script
            src="../../assets/processors/cookie/cookie-ca9142.js"
            crossorigin
            integrity="sha384-QYu1B22kJoEySBmGgY/4+SG8KjzgSAPAm+oqZzy4hHFaG21xEJAzOTNnQDHdhEZY"
            
        ></script>
        <script
            src="../../assets/runtime-1e0bfa.js"
            crossorigin
            integrity="sha384-UPs3LNp85Ov5dgfTQANiveZ2Fyy0U4fTEOd1AD0DTqNMwan/jCUzgj3384h6hsOi"
            
        ></script>
        <script
            src="../../assets/main-989d68.js"
            crossorigin
            integrity="sha384-qtANW3GJpWgTjlp421KqSkfTemzN+sh4Z0SkjzpVmxdE6jj6pvehLc10SuBFt6Jf"
            
        ></script> 
        <div id="example-b08da6"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./IPopupErrorExample-b08da6.js"></script>
    
    </body>
</html>
