$minimizable-panel-background: var(--f-page-layout-background);
$minimizable-panel-icon-hover: var(--fkds-color-action-background-secondary-hover);
$minimizable-panel-header-weight: var(--f-font-weight-medium);
