<!doctype html>
<html lang="sv" class="layout--example" data-root-url="../../..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Välja rader i tabell - FK Designsystem</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../../../assets/docs-e2593c.css"
            crossorigin
            integrity="sha384-FtIqRjpGH2D28Mq2TWg4jMahpDu8PUWJJr/ezfp4AZtOTUJpukd+sx+qf/4k6Ek3"
            
        />
        <link
            rel="stylesheet"
            href="../../../assets/docs-fkui-063860.css"
            crossorigin
            integrity="sha384-zIDfIQuDYrq0s87yxg1cpiLt6RELy83ZasCcg3K9BskbgYd7Qs/iIvPPGCiSTA/3"
            
        />

        <!-- prettier-ignore -->
        <script
            src="../../../assets/bootstrap-b9aefb.js"
            crossorigin
            integrity="sha384-F/7dWMNnyjtxV9ZLu4kMSJ74pLIaxPZbcRbfScnz4R6GvgvC5pM7UbjffD/AoRWL"
            
        ></script>

        <!-- prettier-ignore -->
        <link
    rel="preload"
    href="../../../search-data-0139b5.json"
    as="fetch"
    crossorigin
    integrity="sha384-cG94yHGHPu0xEvPabI+J8vI2GuCo6Qa3GTJtugALRYj6siv/PPtdL11eJxDcaBd4"
    id="search-data"
/>
<script>
    (() => {
        withCookieConsent(() =>  {
            const allowedHostnames = [
  "designsystem.forsakringskassan.se",
  "designsystem.fk.se",
  "ds.fk.se",
  "forsakringskassan.github.io"
];
            if (allowedHostnames.length === 0 || allowedHostnames.includes(location.hostname)) {
                /* Matomo */
                var _paq = (window._paq = window._paq || []);
                
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function () {
                    var u = "https://webstats.forsakringskassan.se/matomo/";
                    _paq.push(["setTrackerUrl", u + "matomo.php"]);
                    _paq.push(["setSiteId", "19"]);
                    var d = document,
                        g = d.createElement("script"),
                        s = d.getElementsByTagName("script")[0];
                    g.async = true;
                    g.src = u + "matomo.js";
                    s.parentNode.insertBefore(g, s);
                })();
                /* End Matomo Code */
            } else {
                console.error(
                    "Matomo analytics disabled as we are not running on one of the configured hostnames",
                    allowedHostnames,
                );
            }
        });
    })();
</script>

    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../../../assets/vendor-vue-f8f1bb.js"></script>
        <script src="../../../assets/vendor-fkui-vue-selectors-c2c9e9.js"></script>
        <script src="../../../assets/vendor-fkui-logic-d98f1d.js"></script>
        <script src="../../../assets/vendor-fkui-date-756ff1.js"></script>
        <script src="../../../assets/vendor-fkui-vue-549d03.js"></script>
        <script src="../../../assets/vendor-fkui-vue-labs-6ce7bb.js"></script>
        <script src="../../../assets/vendor-forsakringskassan-docs-live-example-4d3df1.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../../../assets/processors/search/search-d3c3d9.js"
            crossorigin
            integrity="sha384-+SXUY5zuBarb8Apt8q8+kFZ2fe4NSuUMNmuk9R4WeiK9XxFInziLHKmykACkUFV6"
            
        ></script>
        <script
            src="../../../assets/processors/motd/index-cda4cc.js"
            crossorigin
            integrity="sha384-MiyHuq1hbcemP/RGZgotKZC8qlPOYjlrbQ/VNcrv6ju3y4SnFHj2CvLfATECOQdA"
            
        ></script>
        <script
            src="../../../assets/processors/selectable-version/select-version-29ac8b.js"
            crossorigin
            integrity="sha384-cqJuM+3O7cQFHAgDsPJ7k7/Uj0YSGDGlQo9TcP+gesVwxQb4EBZUjgvdDSuKYoIS"
            
        ></script>
        <script
            src="../../../assets/processors/cookie/cookie-ca9142.js"
            crossorigin
            integrity="sha384-QYu1B22kJoEySBmGgY/4+SG8KjzgSAPAm+oqZzy4hHFaG21xEJAzOTNnQDHdhEZY"
            
        ></script>
        <script
            src="../../../assets/runtime-738072.js"
            crossorigin
            integrity="sha384-igaHU9rkn9RCLYr7PdR0MvI0ZCCYcBz/t3WntdaIUaCFwOmEdBObqKhRqCSMQ58H"
            
        ></script>
        <script
            src="../../../assets/main-2a697b.js"
            crossorigin
            integrity="sha384-VcXXCVWs406KSWK5pJAjyOVdBpbqnlT4dn4xLifE5VtvbvG+b095DRbl/s6bYa7h"
            
        ></script> 
        <div id="example-b918b0"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./FTableBulkLiveExample-b918b0.js"></script>
    
    </body>
</html>
