@use "../../core/utils/functions" as *;
@use "_variables" as *;

$BADGE_SELECTOR: ".badge" !default;

@mixin make-badge-variant($BADGE_SELECTOR, $color-background, $color-border: "") {
    color-background: $color-background;

    @if $color-border != "" {
        color-border: $color-border;
    } @else {
        color-border: $color-background;
    }
}

#{$BADGE_SELECTOR} {
    border-radius: var(--f-border-radius-medium);
    border-style: solid;
    border-width: var(--f-border-width-small);
    box-sizing: border-box;
    display: inline-block;
    font-size: var(--f-font-size-standard);
    line-height: densify(var(--f-line-height-large));
    font-weight: var(--f-font-weight-normal);
    padding: 0 0.5rem;

    &--default {
        color: var(--fkui-badge-color-text-default);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-default));
    }

    &--default-inverted {
        color: var(--fkui-badge-color-text-default-inverted);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-default-inverted), var(--fkui-badge-color-border-default-inverted));
    }

    &--warning {
        color: var(--fkui-badge-color-text-warning);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-warning));
    }

    &--warning-inverted {
        color: var(--fkui-badge-color-text-warning-inverted);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-warning-inverted), var(--fkui-badge-color-border-warning-inverted));
    }

    &--error {
        color: var(--fkui-badge-color-text-error);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-error));
    }

    &--error-inverted {
        color: var(--fkui-badge-color-text-error-inverted);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-error-inverted), var(--fkui-badge-color-border-error-inverted));
    }

    &--success {
        color: var(--fkui-badge-color-text-success);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-success));
    }

    &--success-inverted {
        color: var(--fkui-badge-color-text-success-inverted);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-success-inverted), var(--fkui-badge-color-border-success-inverted));
    }

    &--info {
        color: var(--fkui-badge-color-text-info);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-info));
    }

    &--info-inverted {
        color: var(--fkui-badge-color-text-info-inverted);
        @include make-badge-variant($BADGE_SELECTOR, var(--fkui-badge-color-background-info-inverted), var(--fkui-badge-color-border-info-inverted));
    }
}
