$badge-color-text-default: var(--fkds-color-text-primary) !default;
$badge-color-background-default: var(--fkds-color-feedback-background-neutral-strong) !default;
$badge-color-text-default-inverted: var(--fkds-color-text-primary) !default;
$badge-color-background-default-inverted: var(--fkds-color-feedback-background-neutral) !default;
$badge-color-border-default-inverted: var(--fkds-color-feedback-border-neutral) !default;
$badge-color-text-warning: var(--fkds-color-text-primary) !default;
$badge-color-background-warning: var(--fkds-color-feedback-background-warning-strong) !default;
$badge-color-text-warning-inverted: var(--fkds-color-text-primary) !default;
$badge-color-background-warning-inverted: var(--fkds-color-feedback-background-warning) !default;
$badge-color-border-warning-inverted: var(--fkds-color-feedback-border-warning) !default;
$badge-color-text-error: var(--fkds-color-text-inverted) !default;
$badge-color-background-error: var(--fkds-color-feedback-background-negative-strong) !default;
$badge-color-text-error-inverted: var(--fkds-color-text-primary) !default;
$badge-color-background-error-inverted: var(--fkds-color-feedback-background-negative) !default;
$badge-color-border-error-inverted: var(--fkds-color-feedback-border-negative) !default;
$badge-color-text-success: var(--fkds-color-text-inverted) !default;
$badge-color-background-success: var(--fkds-color-feedback-background-positive-strong) !default;
$badge-color-text-success-inverted: var(--fkds-color-text-primary) !default;
$badge-color-background-success-inverted: var(--fkds-color-feedback-background-positive) !default;
$badge-color-border-success-inverted: var(--fkds-color-feedback-border-positive) !default;
$badge-color-text-info: var(--fkds-color-text-inverted) !default;
$badge-color-background-info: var(--fkds-color-feedback-background-info-strong) !default;
$badge-color-text-info-inverted: var(--fkds-color-text-primary) !default;
$badge-color-background-info-inverted: var(--fkds-color-feedback-background-info) !default;
$badge-color-border-info-inverted: var(--fkds-color-feedback-border-info) !default;
