$badge-color-text-default: var(--fkds-color-text-primary);
$badge-color-background-default: var(--fkds-color-feedback-background-neutral-strong);
$badge-color-text-default-inverted: var(--fkds-color-text-primary);
$badge-color-background-default-inverted: var(--fkds-color-feedback-background-neutral);
$badge-color-border-default-inverted: var(--fkds-color-feedback-border-neutral);
$badge-color-text-warning: var(--fkds-color-text-primary);
$badge-color-background-warning: var(--fkds-color-feedback-background-warning-strong);
$badge-color-text-warning-inverted: var(--fkds-color-text-primary);
$badge-color-background-warning-inverted: var(--fkds-color-feedback-background-warning);
$badge-color-border-warning-inverted: var(--fkds-color-feedback-border-warning);
$badge-color-text-error: var(--fkds-color-text-inverted);
$badge-color-background-error: var(--fkds-color-feedback-background-negative-strong);
$badge-color-text-error-inverted: var(--fkds-color-text-primary);
$badge-color-background-error-inverted: var(--fkds-color-feedback-background-negative);
$badge-color-border-error-inverted: var(--fkds-color-feedback-border-negative);
$badge-color-text-success: var(--fkds-color-text-inverted);
$badge-color-background-success: var(--fkds-color-feedback-background-positive-strong);
$badge-color-text-success-inverted: var(--fkds-color-text-primary);
$badge-color-background-success-inverted: var(--fkds-color-feedback-background-positive);
$badge-color-border-success-inverted: var(--fkds-color-feedback-border-positive);
$badge-color-text-info: var(--fkds-color-text-inverted);
$badge-color-background-info: var(--fkds-color-feedback-background-info-strong);
$badge-color-text-info-inverted: var(--fkds-color-text-primary);
$badge-color-background-info-inverted: var(--fkds-color-feedback-background-info);
$badge-color-border-info-inverted: var(--fkds-color-feedback-border-info);
