@use "../../core";
@use "../../core/size";

$SORT_FILTER_DATASET_SELECTOR: ".sort-filter-dataset" !default;

// Selectfield
$sortfilter-field-margin-bottom: 0.85rem !default;

// Selectfield label
$sortfilter-field-label-margin-right: size.$margin-100 !default;
$sortfilter-field-label-padding-top: size.$padding-050 !default;

// Header
$sortfilter-header-font-size: var(--f-font-size-h2) !default;
$sortfilter-header-padding-top: size.$padding-025 !default;

#{$SORT_FILTER_DATASET_SELECTOR} {
    &__sort {
        min-width: 80px;
    }

    &__search {
        position: relative;

        input {
            padding-left: 2.1rem;
            padding-right: 2.1rem;

            @include core.breakpoint-up(md) {
                width: 160px;
            }
        }

        &__magnify-icon {
            position: absolute;
            left: size.$margin-175;
            height: var(--f-height-large);

            /* same as textfield */
            z-index: 1;

            /* In front of input field */
            width: 1.2rem;
            color: var(--f-icon-color-sort-filter-dataset-search);

            @include core.breakpoint-down(sm) {
                top: size.$margin-150;
                left: size.$margin-075;
            }
        }

        &__close-icon.button--tertiary {
            position: absolute;
            top: calc(-1 * size.$margin-075);
            right: 0;
            color: var(--f-icon-color-sort-filter-dataset-close);
            cursor: pointer;
            padding: 1rem;

            @include core.breakpoint-down(sm) {
                top: size.$margin-100;
            }
        }

        &__close-icon.button--tertiary:hover {
            box-shadow: none;
            background-color: transparent;
        }
    }
}
