name: Lint

on: [push, pull_request]

permissions:
    contents: read

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x
            - name: Install dependencies
              run: npm ci
            - name: Minimal build
              run: npm exec lerna -- run --include-dependencies --scope=@fkui/theme-default --scope=@fkui/vue --scope=@fkui/cypress-split build
            - name: Prettier
              uses: Forsakringskassan/prettier-config@v3.3.4
            - name: ESLint
              if: success() || failure()
              uses: Forsakringskassan/eslint-config@v13.3.1
            - name: HTML Validate
              if: success() || failure()
              run: npm run html-validate -- --max-warnings 0 || false
            - name: Stylelint
              if: success() || failure()
              run: npm run stylelint -- --max-warnings 0
            - name: pnr-scanner
              if: success() || failure()
              run: |
                  errors=$(npx pnr-scanner . 2> /dev/null | egrep "    " | wc -l)
                  if [[ "${errors}" != "0" ]]; then
                      echo "Found ${errors} potential personnummer. Rerun `npx pnr-scanner .` locally for more information."
                      exit 1
                  fi
    npm-pkg-lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x
            - name: Install Dependencies
              run: npm ci
            - name: npm-pkg-lint
              uses: ext/npm-pkg-lint@master
              with:
                  folders: packages/*
                  allow-dependencies: fk-icons
