@use "palette-variables" as *;

@mixin css-variables {
    // BACKGROUND
    --fkds-color-background-primary: #{$palette-color-white-100};
    --fkds-color-background-disabled: #{$palette-color-fk-black-5};

    // BACKGROUND - FEEDBACK
    --fkds-color-feedback-background-neutral: #{$palette-color-fk-black-5};
    --fkds-color-feedback-background-neutral-strong: #{$palette-color-fk-black-15};
    --fkds-color-feedback-background-info: #{$palette-color-bluebell-5};
    --fkds-color-feedback-background-info-strong: #{$palette-color-bluebell-100};
    --fkds-color-feedback-background-negative: #{$palette-color-red-5};
    --fkds-color-feedback-background-negative-strong: #{$palette-color-red-100};
    --fkds-color-feedback-background-positive: #{$palette-color-green-a-5};
    --fkds-color-feedback-background-positive-strong: #{$palette-color-green-a-85};
    --fkds-color-feedback-background-warning: #{$palette-color-yellow-5};
    --fkds-color-feedback-background-warning-strong: #{$palette-color-yellow-100};

    // BACKGROUND - ACTION
    --fkds-color-action-background-select-hover: #{$palette-color-green-a-15};
    --fkds-color-action-background-select-default: #{$palette-color-green-a-85};

    // BORDER
    --fkds-color-border-primary: #{$palette-color-fk-black-50};

    // BORDER - FEEDBACK
    --fkds-color-feedback-border-neutral: #{$palette-color-fk-black-50};
    --fkds-color-feedback-border-info: #{$palette-color-bluebell-100};
    --fkds-color-feedback-border-negative: #{$palette-color-red-100};
    --fkds-color-feedback-border-positive: #{$palette-color-green-a-85};
    --fkds-color-feedback-border-warning: #{$palette-color-yellow-100};

    // ICON
    --fkds-icon-color-action-content-primary-default: #{$palette-color-bluebell-100};

    // TEXT
    --fkds-color-text-inverted: #{$palette-color-white-100};
    --fkds-color-text-primary: #{$palette-color-fk-black-100};
    --fkds-color-text-disabled: #{$palette-color-fk-black-50};
}
