@use "../../core";
@use "../../core/size";

$gap-size: size.$margin-025;
$page-width: 2.5rem;
$button-width: 8rem;
$number-of-pages: 9; // TODO Ska hämta antal sidor dynamiskt från paginator
$paginator-width-full: calc((2 * $button-width) + ($number-of-pages * $page-width) + (($number-of-pages + 2) * $gap-size));

.paginator {
    display: flex;
    gap: $gap-size;
    align-items: center;
    justify-content: flex-start;
    height: 2.5rem;

    &__page,
    &__previous,
    &__next {
        border: none;
        color: black;
        background-color: white;
        padding: size.$padding-025;
        border-radius: 2px;
        cursor: pointer;

        &--active {
            color: white;
            background-color: var(--fkds-color-action-background-primary-default);
        }

        &:hover:enabled {
            color: black;
            background-color: var(--fkds-color-action-background-secondary-hover);
        }
    }

    &__pages {
        display: inline-flex;
        gap: $gap-size;
    }

    &__page {
        width: $page-width;
    }

    &__previous,
    &__next {
        width: $button-width;
    }

    &__navigation .paginator__previous {
        display: none;
    }

    @media (max-width: #{$paginator-width-full}) {
        flex-direction: column;
        justify-content: flex-start;
        gap: $gap-size;

        &__previous,
        &__next {
            display: inline-block;
        }

        &__previous {
            display: none;
        }

        &__navigation .paginator__previous {
            display: inline;
        }
    }
}
