<!doctype html>
<html lang="sv" class="layout--example" data-root-url="..">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tidsinmatning - FKUI Labs</title>

        <!-- prettier-ignore -->
        <link
            rel="stylesheet"
            href="../assets/docs-994bfe.css"
            crossorigin
            integrity="sha384-D/L5e4vtYPqiWHckxfg+PoMRRolXZBia6psGjgLx+/T6QfNdX3jHPNItIMCiXmVI"
            
        />
        <link
            rel="stylesheet"
            href="../assets/docs-fkui-d3a31e.css"
            crossorigin
            integrity="sha384-rTkf6XXnwuvX0qtnYXqszJ3Cvx46yPxlbCCPb4zxKB4l0Wd+9wO4mKSg/QEsDib3"
            data-theme="fkui" disabled
        />

        <!-- prettier-ignore -->
        <script
            src="../assets/bootstrap-dfc010.js"
            crossorigin
            integrity="sha384-4CY3mj1uza2HPzeViyHD3gIMd8d3TDJDCoq1h22Ak/QLHgKLnc2ymTmUrjDIDy3M"
            
        ></script>

        <!-- prettier-ignore -->
        
    </head>
    <body>
        <!-- prettier-ignore -->
        <script src="../assets/vendor-vue-6c2e41.js"></script>
        <script src="../assets/vendor-fkui-logic-c06ed0.js"></script>
        <script src="../assets/vendor-fkui-date-d11adb.js"></script>
        <script src="../assets/vendor-fkui-vue-c59af6.js"></script>

        <!-- prettier-ignore --><!-- prettier-ignore -->
        <script
            src="../assets/main-036f3f.js"
            crossorigin
            integrity="sha384-aUikZ5VT6CVNqZxNWj/D51OBcH4qlq8Q+VXbmGwK0k4Qf7I7OKsAAUVyy/TtFdW7"
            
        ></script> 
        <div id="example-cc479c"></div>
        <!-- [html-validate-disable-next element-permitted-content -- technical debt, should be inserted into <head>] -->
        <style>
            
        </style>
        <!-- [html-validate-disable-next require-sri -- technical debt, should generate integrity but we don't know the hash of the compiled file yet] -->
        <script type="module" src="./ForgivingInput-cc479c.js"></script>
    
    </body>
</html>
